[2018-07-23 20:17] jose1711 opened #267 "sample_video deletes the movie file from disk!"
### Basic information
* Release version: `r646.fe8e3ec-1`
* System: `Linux`
* Capture Device: `GoPro Hero5`

### Steps to reproduce behavior

[code]
and bam, the video is gone :-/

### Expected behaviour
keep the video file intact

[2018-07-24 07:29] ybkuang commented on #262
@rwelty1889 which version were you using? v0.1.0 has some minor issues which is fixed in v0.1.2.

[2018-07-24 08:06] Stefal opened #268 "upload script mistakenly logs pictures as uploaded"
### Basic information
* Release version: `0.1.2`
* System: `Windows` | `Powershell`
* Capture Device: `Action Camera`

### Steps to reproduce behavior

 1. upload some images with the mapillary_tool
 2. shutdown your internet connection for a few seconds
 3. write down how many images were not uploaded
 4. relaunch the upload process
 5. check how many missing images are uploaded

### Expected beh

[2018-07-24 08:46] Stefal opened #269 "Feature Request: Use only 1 file to log the image status"
### Basic information
* Release version: `0.1.2`

Currently, the mapillary_tools log the image's status with one file for each step.
I have a folder with about 20 000 images and after the mapillary_tools processes, I have more than 500 000 files and 20 000 folders. It's a ressource waste, and moving/copying these images become very slow.

Could you use only one log file per image ? You could use a

[2018-07-24 10:09] Stefal commented on #268
I was wrong, it seems that the images are uploaded correctly. This one for example: https://www.mapillary.com/map/im/hiFQAnKp6LQejq5k95ChQQ

[2018-07-24 10:09] #268 closed

[2018-07-24 14:40] rwelty1889 commented on #262
good question. not sure how to pull the version number, but i'm using the recent version that has the newer exifread version from about a week ago. should i use pip to upgrade? i've uploaded 10000 or so images using this version; the early ones were processed but now nothing is being processed.

[2018-07-24 14:42] rwelty1889 commented on #262
ok, it was 0.1.0 and i've upgraded to 0.1.2. do i need to reupload all that stuff? it's a lot and it takes a while.

[2018-07-29 20:41] jernejaMislej commented on #262
Sorry for late replies, I m on vacation until 10th August, @ybkuang will try to address the issues in the mean time. If images were uploaded successfully with 0.1.0 , no need to upload again, we can resolve the issues with missing DONE file internally.

[2018-07-29 20:50] jernejaMislej commented on #269
Hi sorry for late reply, I m on vacation until 10th August with limited access to internet. We are aware of the issues and inconveniences with the current logging procedure and are planning to improve it in the next releases. We will keep you updated, thank you for the suggestions.

[2018-07-29 20:52] jernejaMislej commented on #267
Hi sorry for the late reply, I m on vacation until 10th August with limited access to internet. @ybkuang will try to address the issues while I m gone.

[2018-07-29 20:59] jernejaMislej commented on #265
Hi sorry for the late reply, I m on vacation until 10th August with limited access to internet, @ybkuang will try to address the issues while i m gone.

[2018-07-29 21:00] nicola-d commented on #265
The counter is working fine now. I close the issue. Thank you!

[2018-07-29 21:00] #265 closed

[2018-07-29 21:11] jernejaMislej commented on #234
Hi sorry for the late reply, I m on vacation until 10th August with limited access to internet.
The process tool runs several sub-processing steps, user authentication is one of them. Even if one of the sub-processing steps fail, the rest will try to execute. User authentication is required for images to be uploaded ,but not to be geotagged and processed into sequences.
You will not be able to upl

[2018-07-29 21:15] jernejaMislej commented on #243
Hi sorry for the late reply, I m on vacation until 10th August with limited access to internet. @ybkuang will try to address the issues while I m gone

[2018-07-29 21:18] jernejaMislej commented on #263
Hi, sorry for the late reply, I m on vacation until 10th August with limited access to internet, @ybkuang will try to address the issues while I am gone.
Just to make sure, the directions were interpolated with the processing tools?

[2018-07-29 21:20] jernejaMislej commented on #261
Hi sorry for the late reply I m on vacation until 10th August with limited access to internet. Removing .mapillary is very risky, are you sure the images were not uploaded already?

[2018-07-29 22:51] andrewharvey commented on #261
I think they were, but since the automatic interpolation didn't work (https://github.com/mapillary/mapillary_tools/issues/253#issuecomment-404374965) I wanted to deleted the upload, and re-process and re-upload.

[2018-07-30 06:05] jernejaMislej commented on #261
Ok, that makes more sense then. Currently the tools are made so that nothing more can be done once images are already uploaded, to prevent duplicate uploads.
The procedure in case one wishes to delete images and reupload does include deleting .mapillary, but we would like users to conntact support prior that, so we make sure everything gets deleted correctly, otherwise we might end up with a lot o

[2018-07-30 06:15] andrewharvey commented on #261
No worries, thanks for the explanation.

[2018-07-30 06:15] #261 closed

[2018-07-30 06:17] andrewharvey commented on #261
Oops, I just realised that to fix this I could have gone into the sequence editor and chosen Normalise.

[2018-07-31 09:25] Stefal commented on #263
Yes, with the mapillary_tools 0.1.0

[2018-07-31 09:28] Stefal opened #271 "Feature Request: Move duplicate pictures"
Hi!

With the new mapillary_tools, the duplicate processing just flag the duplicates pictures and there is no simple way to find them in the folders.
- Usually, I check these duplicates before starting the upload, and I can't do it anymore
- I always keep all my images, but I don't need to backup the duplicates. Now I can't delete them.

I'd like an option to move the duplicates in another subfold

[2018-07-31 14:28] Kaldea commented on #234
Hi @rwelty1889! Can you reach out to me with your credentials at support@mapillary.com for me to verify? Your username and email address is fine.

[2018-07-31 16:46] ybkuang commented on #267
@jose1711 The script should not delete any files. We will dig deeper and before that you should put your uploads on hold. Sorry about the delay.

[2018-07-31 20:00] jose1711 commented on #267
current revision (r723.1b62f07) shows slightly different message - still, the video is deleted.
[code]
apparently the script does not like to be given the current directory (.) as an argument to ```--import_path```.

[2018-08-02 15:55] jernejaMislej commented on #271
Hi, I m on vacation until 10th August with limited access to internet, I will put something together when I get back and notify you.

[2018-08-02 16:04] jernejaMislej commented on #263
Ok thanks.
If the direction is missing in EXIF or the tools are run with `--advanced --interpolate_directions` then the direction is derived based on latitude and longitude [here](https://github.com/mapillary/mapillary_tools/blob/1b62f07b126fb1ce5a64d400b681ef2a2cacc98a/mapillary_tools/process_sequence_properties.py#L118) and then [here](https://github.com/mapillary/mapillary_tools/blob/1b62f07b12

[2018-08-02 21:40] Stefal opened #272 "wrong datetimeoriginal format"
### Basic information
* Release version: `0.1.2`
* System: `Windows`

### Steps to reproduce behavior

 1. Choose an image with a subsectimeoriginal value
 2. process the file for directions (bearing)
 3. Check the datetimeoriginal

### Expected behavior
The DateTimeOriginal exif tag should stay the same

### Actual behavior
1) I don't understand why the script rewrite the datetimeoriginal tag. It

[2018-08-03 21:12] ProBackup-nl opened #276 "process_and_upload: import_path: support read-only file system"
### Basic information
* Release version: `0.1.2`
* System: `Mac OS X`
* Capture Device: `Action Camera` | `Sony 200V`

### Steps to reproduce behavior

 1. `$ mapillary_tools process_and_upload --import_path /Volumes/Untitled/DCIM --user_name "xyz" --verbose --rerun --flag_duplicates --duplicate_distance 0.5 --duplicate_angle 1 --keep_original --advanced`

### Expected behavior

No error, just do

[2018-08-08 18:55] nighto opened #277 "Can't run on Mac OS X - env: python\r: No such file or directory"
### Basic information
* Release version: `0.1.3`
* System: `Mac OS X`

### Steps to reproduce behavior

 1. Install following instructions (I chose to install with `sudo` instead of using `virtualenv`)
 2. Run `mapillary_tools --version`

### Expected behavior

Running normally and displaying version

`Mapillary tools version : 0.1.3`

### Actual behavior

It doesn't run, with the following error:

[2018-08-15 12:41] jernejaMislej commented on #277
hi, i think the interpreter program is not read due to `\r` at the end, can you try this
[code]

[2018-08-15 13:01] jernejaMislej commented on #276
hi, sorry for the late reply.
We are planning to improve the logging procedure in the next releases. Unfortunately it is not so simple, as we need to make sure we keep exact logs of the upload state for each image, otherwise we would quickly end up with many duplicate uploads. Currently we are handling this by creating log files where ever the image is located, since otherwise, in case of using a

[2018-08-15 13:18] jernejaMislej commented on #256
hi, i did not receive any answer, are you still experiencing issues with mapillary tools? otherwise I will close this.

[2018-08-15 13:20] jernejaMislej commented on #253
hi is this still active? otherwise I will close it...

[2018-08-15 13:26] jernejaMislej commented on #186
hi please install the latest version of mapillary tools and open a new issue if any problems. I am closing this one...

[2018-08-15 13:26] #186 closed

[2018-08-15 13:27] jernejaMislej commented on #182
hi, please install the latest version of mapillary tools and open a new issue if any problems, I am closing this issue...

[2018-08-15 13:27] #182 closed

[2018-08-15 13:28] jernejaMislej commented on #165
hi, please install the latest version of mapillary tools and open a new issue if any problems, I am closing this issue...

[2018-08-15 13:28] #165 closed

[2018-08-15 13:28] jernejaMislej commented on #157
hi, please install the latest version of mapillary tools and open a new issue if any problems, I am closing this issue...

[2018-08-15 13:28] #157 closed

[2018-08-15 13:28] jernejaMislej commented on #156
hi, please install the latest version of mapillary tools and open a new issue if any problems, I am closing this issue...

[2018-08-15 13:28] #156 closed

[2018-08-15 13:30] jernejaMislej commented on #128
hi, please install the latest version of mapillary tools and open a new issue if any problems, I am closing this issue...

[2018-08-15 13:30] #128 closed

[2018-08-15 13:30] jernejaMislej commented on #84
hi, please install the latest version of mapillary tools and open a new issue if any problems, I am closing this issue...

[2018-08-15 13:30] #84 closed

[2018-08-15 13:31] jernejaMislej commented on #80
hi, please install the latest version of mapillary tools and open a new issue if any problems, I am closing this issue...

[2018-08-15 13:31] #80 closed

[2018-08-15 13:32] jernejaMislej commented on #77
hi, please install the latest version of mapillary tools and open a new issue if any problems, I am closing this issue...

[2018-08-15 13:32] #77 closed

[2018-08-16 02:37] andrewharvey commented on #253
HI @jernejaMislej I wasn't able to workout why my photos weren't getting the direction interpolated, with the standard command line invocation. It doesn't look like a direction already exists.

[code]

[2018-08-17 11:06] jernejaMislej commented on #256
hi, thanks for the image samples
the problem seems to be in the EXIF editor, since i am getting this error when trying to write back the edited EXIF to the image:
[code]
I will look into this more and check if there is anything I can do in our EXIF editing lib to support this
in the mean time, just to make sure, this is the camera info :
[code]
did you happen to edit the image with any software or

[2018-08-17 16:34] rwelty1889 commented on #234
i have updated my copy of mapillary_tools and worked through the issues. stuff is more-or-less working now although i think there still may be some uploaded but unprocessed images kicking about.

[2018-08-17 16:35] rwelty1889 commented on #234
for reference my mapillary account is nfgusedautoparts, email address rwelty@averillpark.net

[2018-08-17 16:49] pasqal commented on #256
hi,

I just transfer from my phone wiko to my hard disk.
Images from Mapillary app.
In the same time, upload in website work perfectly. I don't know why ?

thk for your help
best regards.
Alain
On août 17 2018, at 1:06 pm, jernejaMislej <notifications@github.com> wrote:

[2018-08-19 11:56] Stefal commented on #263
This "bug" seems related to #272 as images are not time-sorted correctly.

[2018-08-20 21:21] jernejaMislej commented on #256
ok thanks for the information,
currently if one wants to process images, then image EXIF needs to be edited. If there are any deviations from the EXIF standards, our EXIF editing library might fail. I will look into and let you know if I can find a solution.
FYI, if you had captured the images with the Mapillary app, all the required image data should already be embedded in the image EXIF and you

[2018-08-21 08:48] jernejaMislej commented on #272
hi, the subseconds are derived in case of identical timestamps, this is required to avoid having jumps back and forward in the sequence
unfortunately i can not accept your PR, since it results in ignoring milliseconds in the timestamp

[2018-08-21 08:49] jernejaMislej commented on #271
hi,
we are working on the next release and plan to provide a feature to handle images flagged as duplicated.
We will keep you updated.

[2018-08-21 08:51] jernejaMislej commented on #263
hi,
why do you think the images are not time-sorted correctly? can you give some examples?

[2018-08-21 12:10] Stefal commented on #272
You can't add milliseconds in the datetimeoriginal exif tag, you must use the subsectimeoriginal exif tag to do this.
From the exif spec:

The  date  and  time  when  the  original  image  data  was  generated.  For  a  DSC  the  date  and  time  the
picture was taken are recorded. The format is "YYYY:MM:DD
 HH:MM:SS" with time shown in 24-
hour
format, and the date and time separated by one blank

[2018-08-21 13:08] Stefal commented on #263
It's a partial mistake.
1) As the script add the subsecond in the datetimeoriginal, if you process an image with a subsectimeoriginal exif date, the subsecond value will be read 2 times and added. An image with these data:
-datetimeoriginal = 2018-08-21_15h00mn59s
-subsectimeoriginal = 9
After mapillary_tools process, it becomes
-datetimeoriginal = 2018-08-21_15h00mn59s9
-subsectimeoriginal = 9
An

[2018-08-21 23:22] elpbatista opened #278 "how to run authenticate?"
### Basic information
* Release version: `0.0.0` | `0.0.1` | `...`
* System: `Windows` | `Linux` | `...`
* Capture Device: `iOS` | `Android` | `Action Camera` | `...`

### Steps to reproduce behavior

 1.
 2.
 3.

### Expected behavior

...

### Actual behavior

...

### Corresponding data

* sample images
* meta data

...

### Additional information

...

[2018-08-22 08:34] bob3bob3 commented on #243
@cookry Please close this issue. I wont attempt to fix as the gaps will be filled by future travels. Thanks.

[2018-08-23 02:43] cookry commented on #243
@bob3bob3 thanks for your image contributions! We have continual updates planned for Mapillary Tools and your feedback helps us to identify desired features. Continue to follow our progress in the release notes here: https://github.com/mapillary/mapillary_tools/blob/master/CHANGELOG.MD

[2018-08-23 02:43] #243 closed

[2018-08-23 09:08] jernejaMislej commented on #262
@rwelty1889 @nicola-d @Stefal are you still missing any images? Otherwise I will close this

[2018-08-23 09:15] jernejaMislej commented on #216
please open a new issue if anymore problems with the installation of ffprobe, closing this for now

[2018-08-23 09:15] #216 closed

[2018-08-23 09:16] jernejaMislej commented on #136
closing this since script is no longer used in the tools

[2018-08-23 09:16] #136 closed

[2018-08-23 09:28] jernejaMislej commented on #234
@rwelty1889 thank you for getting back. We will make sure all your images get into the system.
If you have any more problems with the installation and authentication please open a new issue, closing this for now

[2018-08-23 09:28] #234 closed

[2018-08-23 09:30] jernejaMislej commented on #202
closing this since it is regarding scripts that are no longer used.
if the problem still occurs in the new tools version, lets open a new issue

[2018-08-23 09:30] #202 closed

[2018-08-23 09:32] jernejaMislej commented on #174
closing this since no longer active

[2018-08-23 09:32] #174 closed

[2018-08-23 09:38] jernejaMislej commented on #171
hi thank you for the suggestion. currently we are not planning to implement such a feature, so all images that are valid geotagged images with the mapillary image description inserted in the image exif will be considered for upload, others are ignored and are not moved around since we do not want to alter users file system structure. if thumb images are a problem, i suggest to just remove them wit

[2018-08-23 09:38] #171 closed

[2018-08-23 09:41] jernejaMislej commented on #166
hi, thank you for the suggestion, currently we are not planning to implement support for webp images in the near future. We will notify you when we decide to support this.

[2018-08-23 09:41] #166 closed

[2018-08-23 09:46] jernejaMislej commented on #86
hi,
since this issue was opened we have experienced a few more cases where this feature would be useful and are therefore planning to implement it in one of the future releases.
We will keep you updated on the progress.

[2018-08-23 09:48] jernejaMislej commented on #67
closing this as it is a minor issue we are not planning to address at the moment.
the issue does not affect the image import, but only the way information is printed out to the user

[2018-08-23 09:48] #67 closed

[2018-08-23 11:15] Phyks opened #279 "Map matching"
Hi,

Thanks for this great suite of tools and scripts, which are really helpful to send pictures to Mapillary!

However, there does not seem to be any correction on the errors in GPS traces during the processing and the upload (nor on Mapillary server side). In the countryside, this is usually not really a big deal as GPS signal is clear. In very dense areas though, with multiple reflections etc,

[2018-08-23 11:28] jernejaMislej commented on #267
hi thank you very much for reporting this
i looked into it and realized there is a major bug in the tools when it comes to video sampling
in order to ensure a clean sampling and further alignment with the geotag data , the specified import path was deleted and re created in case it existed.
I have changed this and made a new release v0.1.5, so please install the latest version in case you use comm

[2018-08-23 12:41] jernejaMislej commented on #262
ok @Stefal can you please share your mapillary `user_name` and we will sort it out

[2018-08-23 12:47] nicola-d commented on #262
No more images missing from my side, thank you

[2018-08-23 13:09] Stefal commented on #262
my user_name is: stephanep

The missing images were captured at this date : 2018-08-11
If you see images from 2018-08-12, I'm still uploading them.

[2018-08-23 14:06] rwelty1889 commented on #262
will need to double check when i get home; currently on vacation.

[2018-08-24 16:14] Stefal commented on #272
I made a new Pull Request: #280
This one send the microsecond to the subsectimeoriginal exif tag.

[2018-08-26 11:03] kudarisenmon opened #281 "Authentication failed when user name contains non-ASCII charactors"
### Basic information
* Release version: `0.1.5`
* System: `Linux`

### Steps to reproduce behavior

 1.  My user name contains Japanese (non-ASCII) charactors
 2.  Run "mapillary_tools authenticate --advanced"
 3. Error with "Authentication failed for user name 下り専門, please try again."

### Expected behavior

Even if the user name contains non-ASCII (Japanese) characters, it should be able to aut

[2018-08-26 17:01] rwelty1889 commented on #262
one of my earliest uploads (maybe my earliest) after the python versioning problems got straightened out was of 6 go pro time-lapse sequences from May 25th; it looks from the creation date of the .mapillary file that i did this upload on July 19th. it appears that only one of the 6 sequences got processed. i can remove the .mapillary directories and upload again, but it may be a while as i have 11

[2018-08-26 21:16] jernejaMislej commented on #263
thanks for the feedback, i will have a look at that part of code and check this

[2018-08-26 21:32] jernejaMislej commented on #272
hi thanks for your feedback, i will need to do some extra work to be able to merge that PR, will do asp and let you know

[2018-08-26 21:40] jernejaMislej commented on #262
no need to reupload any images, just let us know your mapillary username and we ll check if any images have not yet made into the system and will take care of it

[2018-08-26 21:43] jernejaMislej commented on #281
hi thank you for trying mapillary_tools and opening an issue.
as far as i know we did not consider non-ASCII characters in usernames, I will have a look and let you know asp

[2018-08-26 21:51] jernejaMislej commented on #279
hi thank you very much for the feedback and suggestions,
we will have a look and let you know asp

[2018-08-26 21:52] jernejaMislej commented on #278
hi thank you for trying mapillary_tools and opening an issue,
please be more specific what the issues is

[2018-08-26 22:47] rwelty1889 commented on #262
my username is nfgusedautoparts

[2018-08-31 08:04] jernejaMislej commented on #278
Hi I will need more info here otherwise i ll close

[2018-08-31 08:05] jernejaMislej commented on #277
hi, are you still having this issue? otherwise i will close this

[2018-08-31 08:09] jernejaMislej commented on #252
hi i implemented this for the v0.2.0 release, if you want to try it you can install the branch v0.2.0
let me know if anything is not ok, otherwise i ll close this

[2018-08-31 08:59] jernejaMislej commented on #256
hi i had a closer look at the image example you have sent and the issue seems to be in the thumbnail of the image, it is really big with irregular segment marker
if it is removed from the image header everything work ok, so i suggest you do that unless you need images to have the thumbnail data in the image header,
to remove thumbnails from image(s) just run this
[code]
instead of a file name you

[2018-08-31 09:11] jernejaMislej commented on #279
i have asked my colleagues on this issue and it turns out that we can't do the map matching because it will apply ODBl license to our images, so we must retain original GPS location or user editing.

nevertheless we are working on a method to allow a user to edit a sequence position by moving multiple images at once
at the same time our computer vision team is working on and researching ways to im

[2018-08-31 10:05] Phyks commented on #279
Hi! Thanks for the feedback on this! I did not think about potential license conflicts indeed when first suggesting it :/ I'll follow ongoing developments on this subject :)

[2018-08-31 19:14] pasqal commented on #256
Hi,
You're a genius. I try on my directory and it's work very well.
thanks a lot.

[2018-08-31 19:14] #256 closed

[2018-09-02 11:44] SchmidL opened #285 "Split large uploads into subfolder"
Hi,

I processed the last they a lot of images (10k+ per initial folder). Unfortunately, the new `mapillary_tools` does not split the large number of images into subfolders and also does not sort them after successful or failed upload. In the old script, it was like that and helped to sort issues during processing and upload.

Will these feature come back?

[2018-09-04 07:31] jernejaMislej commented on #262
we made sure all the images have been pushed into the system, closing this

[2018-09-04 07:31] #262 closed

[2018-09-06 07:58] aquawill opened #287 "Mapillary failed to recognize the geo location info of the picture"
### Basic information
* Upload interface: Mapillary official website.
* System: Windows
* Capture Device: Dashcam with custom conversion tool to extract the video frames and inject geo location info.

I've developed an small app which can convert the video files recorded by the dashcam to series of images, if the dashcam can collect gps trace, it will also parse the gps trace (NMEA/GPX) then write

[2018-09-10 19:50] nighto commented on #277
@jernejaMislej no, it still happens.

[2018-09-11 15:55] jernejaMislej commented on #287
hi, sorry for the late reply.
the error message says that images are missing required EXIF data, which is not limited to gps data.
In case of your images, they are missing the capture time. So you should insert that as well in the `Date/Time Original` EXIF tag
let me know if  that doesnt work out otherwise please close issue since the geo location is recognized

[2018-09-11 16:02] jernejaMislej commented on #285
Hi,
in the new release we try to avoid changing users file system structure as little as possible, since in the past it has caused more issues then benefits.
Nevertheless we have implemented a `post_process` command to be released in the next tools version which will provide this functionality, limited to moving images that were flagged to be duplicates, uploaded and failed upload. Since this is n

[2018-09-11 16:03] #278 closed

[2018-09-11 16:04] jernejaMislej commented on #271
Hi,
we have implemented a `post_process` command to be released in the next tools version which will provide this functionality, limited to moving images that were flagged to be duplicates, uploaded and failed upload. Since this is not yet released you can find it [here](https://github.com/mapillary/mapillary_tools/tree/v0.2.0) and install it same as master(instructions in readme), except that you

[2018-09-12 06:33] jernejaMislej commented on #250
hi,
i had a look at this and the most likely issue is with sending the DONE file, which is equivalent to approving publication of uploaded images.
Currently the DONE file is send in the end after all the images are uploaded, for each sequence.
I increased the max attempts for the DONE file and implemented a `post_process` command which includes pushing uploading images to be approved.
Generally if

[2018-09-12 06:39] jernejaMislej commented on #122
hi, sorry for the late reply here.
we are currently not planning to implement anything to support this in the tools directly, @andrewharvey suggestions seems as a good enough solution, therefore closing this for now

[2018-09-12 06:39] #122 closed

[2018-09-12 06:42] jernejaMislej commented on #194
hi,
i had a look at this and the most likely issue is with sending the DONE file, which is equivalent to approving publication of uploaded images.
Currently the DONE file is send in the end after all the images are uploaded, for each sequence.
I increased the max attempts for the DONE file and implemented a `post_process` command which includes pushing uploading images to be approved.
Generally if

[2018-09-12 06:48] jernejaMislej commented on #277
@nighto ok, were you able to execute the command that removes all the space chars?
is the error message the same after executing that command?
there are other options to solve this, but all including editing the main executable on your side, see [here](https://stackoverflow.com/questions/19425857/env-python-r-no-such-file-or-directory)

[2018-09-12 07:08] jernejaMislej commented on #281
hi, sorry for getting back late.
can you please check what username is shown when you log into the mapillary web app [here](https://www.mapillary.com/app/)?
![image](https://user-images.githubusercontent.com/19649323/45407937-2434dc00-b66b-11e8-83be-7a0bf328f07a.png)

it could be that japanese characters are translated into different characters in our system.
let me know if you see that your usern

[2018-09-12 08:53] andrewharvey commented on #250
Thanks @jernejaMislej you're right, the workaround is to kill the process and run it again where it finishes. Though this becomes an issue when the upload is scripted, or happens in a way without user interaction.

[2018-09-12 12:39] nighto commented on #277
@jernejaMislej it did not. Even though `which mapillary_tools` returns `/usr/local/bin/mapillary_tools`, running `sudo sed $'s/\r//' -i $(which mapillary_tools)` output `sed: -i: No such file or directory` and the python code on the console. Expanding the path manually (i.e. `sudo sed $'s/\r//' -i /usr/local/bin/mapillary_tools`) output the same error.

[2018-09-12 12:44] nighto commented on #277
Tried the vim solution (`sudo vim /usr/local/bin/mapillary_tools`, `:set ff=unix`, `:wq`) and it worked :)

To close the issue it'd be interesting to add these instructions to the README.

Thanks for helping me debug it.

[2018-09-12 12:46] jernejaMislej commented on #277
ok great, thanks, I will add it to the troubleshooting section in readme and close issue after that

[2018-09-12 14:10] jernejaMislej commented on #277
done, it will be released with the next release, currently it is on branch v0.2.0
again thank you for contributing

[2018-09-12 14:10] #277 closed

[2018-09-12 14:29] nighto commented on #277
Great, thank you @jernejaMislej

[2018-09-13 10:43] kudarisenmon commented on #281
Hi, The spelling of my username is 下り専門
![2018-09-13 19 41 16](https://user-images.githubusercontent.com/2560699/45483760-db754400-b78c-11e8-89bf-3d1c7479ab48.png)
Thank you.

[2018-09-13 11:42] Kaldea commented on #281
Hi @kudarisenmon I'm going to do what I can to help you from here. I have no other examples of non-ascii character usernames working in our system so I'm looking into what/how has happened to allow this for now. For us to fix your original issue, can you please go in and try to change (even if temporarily) your username in your dashboard settings? Please let me know if the issue is resolved with t

[2018-09-13 13:06] jernejaMislej commented on #250
ok i see, yes that can be tedious
but since it involves uploading it is dependent on the network connection, so it will be hard to implement something to avoid this completely, for now unfortunately if the tools are being called from another script, that script needs to read the return status and (re)run accordingly
you are welcome to contribute if you have any suggestions

[2018-09-13 13:16] andrewharvey commented on #250
But the script never finishes it just hangs there on 0 images left.

No worries if it's not a priority to fix. Happy for this bug to sit open until someone can contribute to fixing.

[2018-09-14 10:16] kudarisenmon commented on #281
Hi, @jernejaMislej , @Kaldea I have debugged and send pull request.
Please review.
Thank you.

[2018-09-17 22:52] jernejaMislej commented on #281
hi
thank you for contributing. i merged your fix to the branch for next release v0.2.0

[2018-09-17 22:52] #281 closed

[2018-09-17 23:56] jernejaMislej commented on #272
hi i fixed the bug with double subseconds being added and released `0.1.7`, but did not change reading and writing subseconds from date/time original if they exist, i will adjust that in the next release
so if subseconds are already present in date/time original they are read instead of the subseconds tag value, but if they are no there, then subseconds tag value is added if present and written to

[2018-09-20 21:17] ToeBee commented on #194
Well this issue was opened against the old version of the upload script, before the complete rewrite. If I remember correctly the old version did not have functionality to resume a cancelled upload so rerunning the script did not work. Hence having to log into the legacy site and push the button.

I am not convinced that the problem is with sending the `DONE` file though. In my case, the network e

[2018-09-20 21:17] #194 closed

[2018-09-25 15:28] SchmidL opened #291 "Ignored tag: imagewidth and imagelength"
### Basic information
* Release version: 0.2.0
* System: Windows 10
* Capture Device: GoPro 6

### Steps to reproduce behavior

 When processing the picture with the follwing command `python .\Scripts\mapillary_tools process --advanced --flag_duplicates --interpolate_directions --user_name <username> --import_path <path>`
  following error occurs:
[code]
Probably it's nothing really important, but

[2018-09-26 05:05] jernejaMislej commented on #291
Hi, yes it’s no issue, it is a warning printed by our fork of the exif editing library piexif , since the tag type is not according to standard.

[2018-09-30 19:02] #291 closed

[2018-09-30 19:03] jernejaMislej commented on #271
hi, this functionality is now released, please install the latest version

[2018-09-30 19:03] #271 closed

[2018-09-30 19:04] jernejaMislej commented on #252
hi this functionality is now released, please install the latest version

[2018-09-30 19:04] #252 closed

[2018-10-01 17:20] cliffordsnow opened #292 "README.md error in sample_video example"
In the Video Sampling and Upload section of the readme, the instructions are ```
mapillary_tools sample_video --video_file "path/to/video_filename.mp4"```
It should be
'''mapillary_tools sample_video --advanced --video_file "path/to/video_filename.mp4'```

mapillary_tools errors out if --advanced is left off.

Please note, I'm just trying to figure out how to upload my video capture to mapillary s

[2018-10-02 11:32] jernejaMislej commented on #292
hi thank you for pointing out, I added the missing argument. Let me know if there is anything else you are having issues with.

[2018-10-14 17:52] AllenGraetz opened #293 "Web browser uploads ( sometimes ) failing today -- 2018/14/10"
Web browser uploads are sometimes failing.  When the upload is done, sometimes the browser gives a message that a server error occured, try again.   Successive tries from that screen always fail.  Sometimes I can open a new browser, upload the same sequence, and it then goes fine.

[2018-10-15 10:49] #292 closed

[2018-10-15 10:49] #287 closed

[2018-10-15 10:50] #285 closed

[2018-10-15 10:51] #267 closed

[2018-10-15 13:00] Kaldea commented on #293
Hey @AllenGraetz -- we're looking into this-- When I hear more I will let you know. Could you possibly send me an email at support@mapillary.com so I can reach you as soon as I get an update? Thanks!

[2018-10-15 13:44] jernejaMislej commented on #86
hi, we have implemented this functionality on this [branch](https://github.com/mapillary/mapillary_tools/tree/v0.3.0), which is planned for the next release
you can test it by installing the branch instead of master
[code]
to specify time offset you need to pass the following args to your cl for process : `--advanced --offset_time "offset in seconds"`, ie
[code]
since the time is overwritten, you

[2018-10-22 08:36] lischenko opened #295 "Authenticate using OSM credentials"
### Basic information
* Release version: `0.2.0`
* System: MacOS
* Capture Device: GoPro

### Steps to reproduce behavior

 1. Run mapillary_tools process for the first time as a user that uses OAuth with OSM credentials

### Expected behavior

Successful authentication

### Actual behavior

    Error, user authentication failed

### Corresponding data
N/A

### Additional information
I log into my

[2018-10-22 08:48] lischenko commented on #295
Forgot to mention that the user exists: https://www.mapillary.com/app/user/vlish

[2018-10-22 09:31] jernejaMislej commented on #293
hi, if you have any mapillary_tools issues let me know, otherwise i will close this, since it is not related to mapillary_tools

[2018-10-22 12:54] jernejaMislej commented on #295
hi @lischenko , thank you for reporting this.
my colleague @Kaldea will get back to you so we can first make sure the combination of username, email and password is correct

[2018-10-23 03:29] lischenko commented on #295
I think I figured it out.

It seems that mapillary_tools can only "log in" with Mapillary password and not with OpenStreetMap, Facebook or Google (which is what you can do on the website and in the iOS app). As a customer, I have only ever logged in with OpenStreetMap account and never had (or knew) the Mapillary password.

So the workaround is to use a browser to log in to mapillary.com using wha

[2018-10-23 08:58] jernejaMislej commented on #295
hi, thank you for the feedback. Yes at the moment only mapillary credentials can be used in the tools , I will update the README to be clear on this. If we ever support other credentials we will inform you.
Let me know if you have any other issue with the tools.

[2018-10-24 20:15] #293 closed

[2018-10-26 04:43] ToeBee opened #297 "Processing images with a time offset rewrites EXIF DateTimeOriginal"
When using the `mapillary_tools` script to geotag images with a time offset, the `DateTimeOriginal` EXIF tag is overwritten with the offset applied. This makes it no longer **Original** and can mess up image ordering.

My GoPro Hero 5 has a flaky GPS antenna. So sometimes I have to geotag some portion of images in a sequence while other portions are already tagged and I only have to interpolate di

[2018-10-26 07:00] ToeBee opened #298 "HTTP 403 errors if processed images are not uploaded immediately"
I always process my images separately from the upload process. This allows me to double check things and make minor tweaks. I have found that if I upload immediately after processing, the upload succeeds. But if there is a gap of a few hours between running `mapillary_tools process` and `mapillary_tools upload` then the upload will fail with HTTP 403 errors. The fix is to delete the `.mapillary` d

[2018-10-27 06:38] ToeBee commented on #298
Now I'm not sure if the "wait a few hours" step is needed. My uploads tonight failed pretty much right away after processing

[2018-10-27 19:23] SchmidL opened #299 "GoPro Video Processing: Geotagging failed"
### Basic information
* Release version: `0.2.0`
* System: `Windows`
* Capture Device: `GoPro`

### Steps to reproduce behavior
Processing a video captured with GoPro 5, 4K resolution, GPS enabled

1. Run sample command from README:
`python` mapillary_tools video_process --import_path D:\Images\Videos --video_file  D:\Images\Videos\GOPR0666.MP4 --video_sample_interval 0.2 --user_name canadarunner

[2018-10-28 01:05] jepz1 opened #300 "App crashes android 8.1.0 build 011019"
Sorry for not using the template, too tech for me.

The app for photographing worked great 2 times, now it freezes the system so I must restart the phone.

Any specifics, plz detail on how I can provide them.

Thanks for this wonderful project!

[2018-10-28 01:09] jepz1 commented on #300
Additional info, a few minutes the app takes its photo's, then the phone is frozen.

[2018-10-28 22:41] jernejaMislej commented on #299
hi,
you can try to rerun(`--rerun`) the `process` command only, since the video frames have been extracted and tagged with a capture time already, if you are having issues with the misalignment of the video and gps capture time, you can add `--use_gps_start_time`, since gps is extracted from the video, it should be correct

[2018-10-28 22:48] jernejaMislej commented on #298
hi,
since the upload was successful on 1.4% of images, there seems to be no issues with your credentials, but
you can still try to re-authenticate by running the `authenticate` command
[code]
and then make sure you have a good network connection. often these issues occur due to network issues, in such cases you can rerun the upload command as many times as needed to complete the upload and ignore

[2018-10-28 22:53] jernejaMislej commented on #297
Hi, thank you for opening the issue and pointing this out.
I will have a look at how can this be improved and let you know as soon as there is any progress.

[2018-10-29 00:02] ToeBee commented on #298
No images were successfully uploaded. The progress bar counts images that are still in the process of uploading. Since it uses 5 threads by default, 5/351 = 0.014. So that's the only reason it says 1.4% complete.

There are also no network problems. This is consistent. I have to delete the `.mapillary` directory **every** time I upload a directory. And every time after I delete it, the upload succ

[2018-10-29 07:49] Kaldea commented on #300
Hey @jepz1 -- This repo is dedicated for issues with mapillary_tools. Can you send an email of your issue to support@mapillary.com? Please include the phone make/model, app version & logs (if Android) and any screenshots or steps taken to recreate this. Thanks!

[2018-10-29 10:13] jernejaMislej commented on #297
hi, I will fix this with the next release, in the mean time you can pass the arg `--keep_original` which will keep the original image intact and instead overwrite the EXIF of a copy

[2018-10-29 11:41] jepz1 commented on #300
Willdo, thanks.

[2018-10-29 19:24] ToeBee commented on #298
I just sent a dropbox link to the support email with a directory in the state that is generating 403 errors.

[2018-10-29 20:01] jernejaMislej commented on #298
ok thank you @ToeBee . did you try to run the authenticate command?
[code]
it could be that you dont have the right authentication credentials stored in your config

[2018-10-29 20:05] jernejaMislej commented on #297
hi i changed the process flow so that it by default only edits Image Description tag, required to store mapillary data, while leaving the rest of tags with the original value.
If you want the rest of the tags to be overwritten with the values obtained in the process, you can pass the arg `--overwrite_EXIF_tags`. currently the change is on branch for next release v0.3.0 which is planned end of this

[2018-10-29 20:38] ToeBee commented on #298
I just tried this and it still failed to upload. Maybe I have to run that batch through the processing step again? But if it is something in my global config, why would deleting the `.mapillary` directory in the upload folder fix it? After I delete the directory, the upload process must use either something in the EXIF tag of the individual images (maybe `MAPSettingsUserKey`?) which would have bee

[2018-10-29 20:52] ToeBee commented on #297
Does this include the GPS tags? Generally I **do** want to set those if I am running the geotag script so that I can use them locally in JOSM or whatever else.

[2018-10-29 21:28] jernejaMislej commented on #297
yes it includes those also. so you would want to keep the original values of certain tags, but overwrite others?

[2018-10-30 03:00] ToeBee commented on #298
It looks like re-authenticating has fixed the problem, but only for sequences where I ran a `process` step after re-authenticating. Which makes sense. So I guess I just some kind of bad token in my config file but somehow deleting the `.mapillary` directory got around that problem? I'm still not quite sure on the details there because these images *were* processed with the script and had the Mapil

[2018-10-30 08:46] jernejaMislej commented on #298
great that the authentication was successful now.

yes it can seem a bit weird that by deleting the .mapillary folder you are no longer required  to authenticate. it is because currently the main requirement is that images have the mapillary image description in the image EXIF and since you ran the process before that, they did.

we do have an extra requirement of authentication for those images t

[2018-10-30 10:56] jernejaMislej commented on #297
hi, i made an update in the branch for next release to have more options regarding overwriting the rest of EXIF tags.
so by default only Image Description will be overwritten, this is required so we get the mapillary data in,
if you pass `--overwrite_all_EXIF_tags`, it will overwrite all the rest of EXIF tags whose values are changed during `process`
if you wish to overwrite only certain tags then

[2018-10-30 15:24] ToeBee commented on #298
ok well I guess this issue can be closed then. I will leave your authentication issues for you to figure out :)

[2018-10-30 15:24] #298 closed

[2018-10-31 22:01] SchmidL commented on #299
hi, I run the command again, with using `--use_gps_start_time` and it worked fine 👌🏻
so the working command is:
`python mapillary_tools video_process --import_path D:\Images\Videos --video_file D:\Images\Videos\GOPR0666.MP4 --video_sample_interval 0.2 --user_name canadarunner --advanced --geotag_source "gopro_video" --geotag_source_pathD:\Images\Videos\GOPR0666.MP4 --interpolate_directions --use_g

[2018-10-31 22:01] #299 closed

[2018-10-31 23:07] #300 closed

[2018-10-31 23:11] jernejaMislej commented on #86
hi this is now released
note that with the new release you have to specify an additional argument to overwrite the rest of EXIF tags besides Image Description `--advanced --overwrite_all_EXIF_tags`
closing this

[2018-10-31 23:11] #86 closed

[2018-11-01 03:55] ToeBee commented on #297
Well that will certainly do it. I might have to write a small wrapper shell script to manage all the standard command line arguments I use but that isn't a problem :)

[2018-11-04 09:41] jose1711 opened #301 "tqdm is a new dependency"
and hence should be mentioned in README

[2018-11-04 16:52] jernejaMislej commented on #301
done, thank you for pointing out

[2018-11-04 16:52] #301 closed

[2018-11-11 07:23] tastrax opened #303 "Incomplete message"
### Basic information
* Release version: `0.3.0`
* System: `Windows10 Python27`
* Capture Device: `iOS` |  `Action Camera VIRB XE's`

### Steps to reproduce behavior

 1. Using the following command line
C:\python27\python.exe C:\python27\Scripts\mapillary_tools process_and_upload --import_path H:\Mapillary\VIRB_NINETY\1_Uploading\ --user_name MYNAME--verbose --rerun --flag_duplicates --duplicate_

[2018-11-11 15:23] #303 closed, assigned to nobody

[2018-11-15 22:34] angelday opened #304 "Ability to provide input files on file level"
Currently tools accept flat folders only. (No recursive folders.)

We should allow standard filenames as input.

`*.jpg`
`filename1.jpg` `filename2.jpg` `filename3.jpg`

This would also allow for Unix standard filename sets, file name exclusion, file number ranges etc. Much more versatile than just limiting to one flat folder and also currently the Desktop Uploader is only usable if you drop a fol

[2018-11-15 23:08] tohaklim commented on #304
Commenting only on the last point of yours: if you mean the web uploader (judging by your “drop” reference), that certainly supports individual files

[2018-11-16 06:38] angelday commented on #304
Yes, the web version works as expected.

[2018-11-16 08:17] angelday commented on #304
Closing, wrong repo.

[2018-11-16 08:17] #304 closed

[2018-11-28 21:01] kratico opened #306 "Unable to resume upload"
### Steps to reproduce behavior

 1. Interrupt an upload of 1 image with SIGKILL or similar
 2. Resume the upload

### Expected behavior
Summary should show _uploaded to be finalized: 0_ and _successfully uploaded: 1_

### Actual behavior
Summary shows _uploaded to be finalized: 1_ and _successfully uploaded: 0_

### Additional information

[code]

[code]

![image](https://user-images.githubuserco

[2018-11-29 11:18] #306 closed

[2018-12-12 01:37] andrewharvey commented on #276
on linux `~/.config/mapillary_tools` or `~/.mapillary_tools/` would work. It's not so temporary so would survive machine restarts and avoids writing to the sdcard or other device which the images are stored on.

[2018-12-12 21:50] ProBackup-nl commented on #276
@andrewharvey I don't understand what you are trying to say with your comment.

[2018-12-20 03:27] bob3bob3 opened #309 "Feature request - speed argument"
My particular work-flow is to "just drive whilst recording", rather than pick particular routes with defined start/stop points. As more contributors come on line it will be handy to have some method to rough cut parking areas, private places or similar prior to upload.

I suggest that a minimum capture speed with deceleration component (to catch street signs at corners) be included in the tools or

[2018-12-20 03:29] bob3bob3 opened #310 "BlackVue firmware warning DR900S 1.001 to 1.008 - breaks tools 0.3.1."
Be aware that updating BlackVue firmware may change the mp4 output such that the default 0.3.1 (video_process) tools fails on geotag. The basic reason is that the (initial) GPRMC data use to come before the GPGGA, this has now reversed. The 0.4.0 branch seems to solve this.

[2018-12-20 09:39] #297 closed

[2018-12-21 09:14] bob3bob3 opened #311 "BlackVue mp4 to jpg extraction quality - Info only"
Only posted as information of interest.

The 4K size mp4 to jpg conversion via ffmpeg yields fairly low quality images when viewed 1:1.

- Using -qscale:v 1 -qmin 1 -qmax 1 yields a slightly better image approximately 50% larger

- Extracting key or index frames only is a very large improvement. Unfortunately the BlackVue only seems to create these at 1FPS. Use -vf "select=eq(pict_type\,I)" -vsync

[2018-12-27 03:02] andrewharvey commented on #253
Working as expected now.

[2018-12-27 03:02] #253 closed

[2019-01-06 21:34] jernejaMislej commented on #311
Hi, thank you for the information.

[2019-01-06 21:36] jernejaMislej commented on #310
@josealb can you update here, is this resolved and will be released in 0.4.0?

[2019-01-07 09:08] josealb commented on #310
@jernejaMislej yes, this is solved in 0.4.0, the order doesn't matter now.
thank you @bob3bob3 for the information about this being related to the firmware.

[2019-01-09 23:14] jernejaMislej commented on #309
@josealb is there any update here?

[2019-01-10 16:07] josealb commented on #309
Hello @bob3bob3, what is the main reason you would need a minimum speed feature?
Duplicate distance has improved now since we don't take into account angle difference when processing BlackVue data, so you should see a lot less duplicate images there.

[2019-01-10 16:45] josealb commented on #309
Ok @bob3bob3 that makes sense. I'm just not sure of how good a predictor the driving speed is of whether this is a private or non useful area. This could trigger with slow vehicles, traffic jams, etc.
But we could add this as an option for cases like yours when you know that would help.

[2019-01-10 19:45] bob3bob3 commented on #309
@josealb Agreed not directly, but it makes it easier to use driving method as a rough editor. Example if I keep my speed below (say) 15kph in a car park, I know data won't upload.

I briefly looked at the code and noted pynmea2 doesn't extract speed, possibly only relying on GPGGA (Only GPRMC contains speed). Might be easier to just calculate with a pass through the generated gpx file?

tnx

[2019-01-11 08:37] josealb commented on #309
sounds good

yes, we have this functionality already to check for uploads with speeds unplausibly high that may indicate geotagging errors

[2019-01-11 12:02] jernejaMislej commented on #310
hi @bob3bob3 as this was resolved in latest release i m closing this issue, but do reopen or open a new issue if you get anymore of these problems

[2019-01-11 12:02] #310 closed

[2019-01-13 20:06] danbjoseph opened #320 "merge conflict not resolved before push?"
in the README:
<img width="862" alt="screen shot 2019-01-13 at 2 05 09 pm" src="https://user-images.githubusercontent.com/4806884/51090102-6f0b5100-173c-11e9-8991-ca64985ce639.png">

[2019-01-14 09:42] josealb commented on #320
Correct @danbjoseph, thank you for the heads up, it's fixed now.

[2019-01-14 09:42] #320 closed

[2019-01-21 04:21] CorentinLemaitre opened #321 "Delay beetween any actions made by the script"
### Basic information
* Release version: 0.3.1
* System: `Windows`
* Capture Device: Compact Camera

### Steps to reproduce behavior

 1. 2000 Pictures with geolocation divided in 300 sequences.
 2. I use the Mapillary tools in command line. Version 0.3.1. I use to process and upload folder and subfolder.
 3. Between each step and each sequence upload i see 5 seconds of pause.

### Expected behavi

[2019-01-24 03:57] CorentinLemaitre commented on #321
Hello @josealb
Usually i put my picture on a SSD folder. I go to it in windows explorer and then i type on the adress bar cmd to get a terminal with the good location for photo.
Then i copy paste this command or similar (changing offset angle or other advanced parameters) :
`
F:\mapillary_tools process_and_upload --advanced --import_path "/" --user_name "c_mobilite"  --interpolate_directions --off

[2019-01-25 18:13] josealb commented on #321
Understood @CorentinLemaitre I think this is just the software finishing some internal logging. It just doesn't show anything in the command line.
We have a plan to improve performance that will reduce the duration of these events.

[2019-03-01 00:03] zlavergne opened #327 "Process Garmin .FIT files"
When using the new Garmin Virb Ultra 30 in Video Timelapse capture mode, the camera no longer creates a single .GPX file for each .MP4 like the older versions of the camera did. It now creates one .FIT file for the whole time that the camera is on.

I am migrating from the older Virb to these new ones and need to process .FIT files for GPS information. I have already started making this outside of

[2019-03-01 00:55] andrewharvey opened #328 "HTTP error: HTTP Error 403: Forbidden on"
### Basic information
* Release version: `master`
* System: `Linux`
* Capture Device: `Action Camera`

### Steps to reproduce behavior

 1. > ./bin/mapillary_tools process_and_upload --advanced --import_path /tmp/2019_02_23_14_46_37_756_+1100/ --user_name "aharvey" --interpolate_directions

### Actual behavior

[code]

### Additional information

.config/mapillary/config is still present

[2019-03-01 15:41] nheir opened #329 "[process] --orientation is ignored if equal to 0"
Since --orientation is either 0,90,180 or 270,
[code]
should be something like
[code]
in

https://github.com/mapillary/mapillary_tools/blob/2c05db33fd3ea2d00b76821edb1368130327d2c5/mapillary_tools/process_import_meta_properties.py#L214-L215

[2019-03-02 12:07] fgouget commented on #140
Doe sit help if you go to "Edit current sequence" and then do "Normalize sequence"?

[2019-03-02 12:10] fgouget commented on #193
If you have a GPX file adding the following options to the process step should do what you want:
    --advanced --geotag_source "gpx" --geotag_source_path path/to/yourgpxfile.gpx

You may want to add --interpolate_directions too.

[2019-03-02 14:49] fgouget commented on #269
Any news on this?
I also end up with tons of empty/small files which slows backups.

[2019-03-03 12:38] alexandrz commented on #328
Getting the same error on MacOS. Mapillary tools version : 0.4.2

[2019-03-03 12:38] alexandrz commented on #328
Also, tried to re-authenticate, but ti didn't help.

[2019-03-03 12:45] alexandrz commented on #328
Now it is uploading after re-running processing with `--interpolate_directions` option.

[2019-03-04 10:21] josealb commented on #328
@andrewharvey we made some changes to the upload, it could be that your system still has the old upload key
Steps to fix that are:
1. Remove Mapillary credentials by deleting .config file. Default is `~/.config/mapillary/config`
2. Run process again on each folder re-authenticating when prompted
3. Upload reprocessed imagery.

Please let us know if that fixes the issue

[2019-03-04 10:36] josealb commented on #269
@fgouget this is still in our priorities, we are planning a big improvement on logging but need time to figure out the best way forward

[2019-03-04 10:53] josealb commented on #329
@nheir good catch, thanks for letting us know. It's fixed now and pushed for the next release

[2019-03-04 10:53] #329 closed

[2019-03-19 15:24] realchrisolin commented on #227
Any update on this? It's been nearly a year and I don't see any branches that are an intuitively obvious Python3 rewrite.

[2019-03-20 05:16] realchrisolin opened #332 "OverflowError: Python int too large to convert to C long with --convert-gps-time set"
### Basic information
* Release version: `10.0.17763.379`
* System: `Windows`
* Capture Device: `Action Camera` | `.

### Additional information

[code]

The CSV file can be provided on request, but I'm pretty sure it's choking on the GPS time value, which is basically epoch time * 10000 or something like that. The values look something like 1535043722000000. Having looked at process_csv.py, and t

[2019-03-21 00:10] andrewharvey commented on #328
Thanks @josealb that fixed the issue.

[2019-03-21 00:10] #328 closed

[2019-03-21 09:08] josealb commented on #328
Great to hear @andrewharvey thanks for the feedback

[2019-03-21 09:28] jernejaMislej commented on #332
currently microseconds are not supported, only up to milliseconds precision
@josealb we would need to add another check for the divider [here](https://github.com/mapillary/mapillary_tools/blob/a15261b0ad290c6258e0f9b746877ef6ee732f1a/mapillary_tools/process_csv.py#L22) to increase it if microseconds
@realchrisolin we will get back to you as soon as we fix this

[2019-03-21 12:34] realchrisolin commented on #332
Sounds good. I can manually adjust the values to be in milliseconds in the meantime.

Not sure if your team uses Agile to help organize tickets, but in case you do and so this is pointed correctly, Garmin's 360° camera generates metadata files with microsecond timing. Adding support for microseconds would allow people with that camera upload without any extra steps.

[2019-03-21 12:43] realchrisolin opened #336 "Make video_sample and other video commands 360° aware"
This is more of a feature request than a bug and I'll probably be doing a lot of the work for this myself, but I still wanted to create some sort of "ticket" for tracking purposes and upstream feedback.

Issue: Images derived from 360° videos using `video_sample` are not injected with the metadata needed so they're recognized as 360° images, resulting in bad segments when uploaded

The current sol

[2019-03-24 18:47] bitnapper opened #337 "authentication seems do be broken"
I made the mistake to update to the current mapillary tools. Since then I receive a authentication error. I'm certain there is no type in the login credentials and since I can log in on the website I don't know why the script thinks the credentials are wron.

[2019-03-25 09:52] jernejaMislej opened #338 "omit 0 lat,lon gps points"
**About**
sometimes in case of errors in the gps or gps data processing, 0 lat,lon gps points are written in the final gps data used to geotag the images. these points should not be read in the tools, but omitted in case of external gps data, or in case gps already embedded in exif, it should be removed, so the images are skipped or interpolated with the correct gps if possible.

**Notes**
for ext

[2019-03-25 14:46] kratico commented on #337
@bitnapper Could you provide the console output?

[2019-04-02 07:21] bitnapper commented on #337
Shure:

Error, user authentication failed for user XXX

[2019-04-02 07:23] bitnapper commented on #337
How to download the old script? The new one tells me that the images are already processed but they are not grouped in folders which was very helpful for revising them before uploading hundreds of photos of the same parking lot.

[2019-04-08 19:26] robertaustinbell opened #340 "BlackVue video to image processing not working on Windows 10"
When I run the command to extract the images from the BlackVue video it processes the first video clip but fails after that.

Here is what I am getting in powershell.

PS C:\Users\abell\Downloads>  .\mapillary_tools.exe video_process --import_path ".\Front" --video_import_path ".\Front" --user_name "i_drive_alot" --advanced --geotag_source "blackvue_videos" --geotag_source_path ".\Front" --use_gps

[2019-04-08 19:58] bob3bob3 commented on #340
Seems you have a similar failure to @mikelo with a Gopro

I dont have an answer. I am running the Blackvue on Linux without fault.

[2019-04-10 08:50] Phyks commented on #279
Hi,

I'm coming back on this one, especially with a few questions on the licensing issues. First, I'm not a lawyer and this is only based on my current understanding of the OpenStreetMap database license. As far as I understood, one major issue with using map matching algorithms (with OpenStreetMap data) was that the resulting uploaded pictures would be contaminated with the ODBL license and there

[2019-04-10 16:05] mikelortega commented on #340
Indeed, as @bob3bob3 says, I have exactly the same problem with a GoPro Session 4. [Here is a link to the forum post](https://forum.mapillary.com/t/help-setting-up-mapillary-tools-on-windows/2756/4?u=mikelo). I also think it has something to do with ffprobe.

[2019-04-10 16:26] mikelortega commented on #340
I'm just trying to guess, but I think this commit can be related:
[revert: duration extraction - master  v0.5.0 - commit ead2c0ed0ff5b85c7074f8862e9db5288370161f](https://github.com/mapillary/mapillary_tools/commit/ead2c0ed0ff5b85c7074f8862e9db5288370161f)

[2019-04-11 13:51] josealb commented on #340
Hi @robertaustinbell, I will look into this issue.
However, if you have a Blackvue, I recommend you just upload the videos with the new tools `send_videos_for_processing` command, these are then processed on the cloud, which is more practical than sampling it on your device.
You can read more about it here:
https://github.com/mapillary/mapillary_tools#blackvue

[2019-04-11 16:23] robertaustinbell commented on #340
So when I run that command I get the same error. Also worth noting that I am on the most recent version of the package.

PS C:\Users\abell\Downloads> .\mapillary_tools.exe send_videos_for_processing --advanced --video_import_path "D:\BlackVue\Record" --user_name "i_drive_alot"
Traceback (most recent call last):
  File "mapillary_tools", line 76, in <module>
  File "mapillary_tools\commands\send_vi

[2019-04-14 14:09] velmyshanovnyi commented on #340
v-0.5.0 Win10
BlackVue 900 ch1 30fps

CMD

F:\mapicam2upload\20190403-test>D:\mapicam\tools\mapillary\mapillary_tools.exe sample_video --advanced --import_path "F:\mapicam2upload\20190403-test\Record\10fps" --video_import_path "F:\mapicam2upload\20190403-test\Record" --video_sample_interval 0.1
Extracting video frames:   0%|          | 0/1 [00:00<?, ?it/s]Video sampling path set to F:\mapicam2uplo

[2019-04-15 18:45] kratico commented on #337
@bitnapper Could you try to re-authenticate with?
[code]

By the way, which revision or commit hash are you using?

[2019-04-19 04:47] bob3bob3 opened #342 "0.5.0 probably cosmetic - logging"
When running mapillary_tools video_process (ie no upload)

"Video /media/user/MapDisk2/Recorda/20190327_171915_NF.mp4 has already been uploaded, contact support@mapillary for help with reuploading it if neccessary."
(multiple lines)

It would seem an alert about upload should not be in process only.,

In my case I did in fact upload a series of images (not movies) with that prefix, then deleted th

[2019-04-19 09:41] bob3bob3 commented on #342
Additional. Same log error also happens for a prefix I have never uploaded..

[2019-04-23 12:43] josealb commented on #340
We are looking into the issue @robertaustinbell do you only get this error when using the send_videos_for_processing command? Can you use mapillary_tools successfully with other cameras otherwise?

@velmyshanovnyi can you try using the `send_videos_for_processing` command as suggested to @robertaustinbell above? This is the recommended method for Blackvue uploads from now on

[2019-04-24 07:55] mikelortega commented on #340
I'd like to mention that I upgraded to the last version (Apr 16, 2019) and now it works correctly. I posted in the forum [the workflow I'm using to upload videos](https://forum.mapillary.com/t/video-uploads-not-working/553/25). Thank you.

[2019-04-24 12:34] velmyshanovnyi commented on #340
thnx

your fix is working! :)

im use video_process_and_upload

%MapiCamMapillaryTools% video_process_and_upload --advanced --version --verbose --import_path "%BlackVueFolder%\Record\%BlackVueFPS%fps" --video_import_path "%BlackVueFolder%\Record" --user_name %MapiCamUsernameAtMapillary% --geotag_source "blackvue_videos" --geotag_source_path "%BlackVueFolder%\Record" --offset_angle %BlackVueOffsetA

[2019-04-25 04:27] eneerhut commented on #337
@bitnapper not sure if it's a related issue, but I often copy and paste upload commands to notes on macOS. This can lead to the quotation marks being formatted differently when I paste them into terminal.

When they're formatted weirdly I get the same authentication error, but when I correct them authentication is successful.

Notice the difference between the top and bottom quotation here:
![imag

[2019-04-25 06:13] josealb commented on #340
@robertaustinbell we could reproduce the `Unauthorized` error on our machine. You can fix it by re-authenticating with `mapillary_tools authenticate --advanced`
Could you try that and let me know?

[2019-04-29 08:28] SchmidL opened #343 "Process GoPro footage - blackvue error"
### Basic information
* Release version: `0.5.0`
* System: `Windows`
* Capture Device: `GoPro Hero 7 Black`

### Steps to reproduce behavior
Running the following command from the README

### Expected behavior
`python mapillary_tools video_process --import_path "path to image folder" --video_import_path "path to video folder" --user_name canadarunner --advanced --geotag_source "gopro_videos" --geo

[2019-04-29 09:30] jernejaMislej commented on #343
hi sorry for this, i pushed a fix, can you please update the tools and try again

[2019-04-29 11:24] SchmidL commented on #343
hi, now it works! Thanks! 👍

[2019-04-29 11:24] #343 closed

[2019-05-01 20:27] GPSMapper commented on #269
Waiting impatiently for logging improvements. Indeed, tons of 0-100 bytes log files slows everything down...

[2019-05-01 20:39] bob3bob3 commented on #269
I actually find the scattered current logging system quite useful as is. (eg using find under Linux) I am however flexible!

[2019-05-06 10:17] mprins opened #345 "documentation on using docker is unavailable"
### Basic information
* Release version: `current`
* System: `Ubuntu linux`
* Capture Device: `Android`

### Steps to reproduce behavior

 1. I have searched the wiki of this repo, and all readme's as well as the help site for documentation on using the docker image

### Expected behavior

documentation is generally available and complete

### Actual behavior

documentation is not available / cann

[2019-05-10 07:58] SchmidL opened #347 "Severe "spider-web" after GoPro upload"
### Basic information
* Release version: `0.5.0`
* System: `Windows`
* Capture Device: `GoPro Hero 7 black`

### Steps to reproduce behavior

 1. Process the all GoPro Video with the following command:
`
python mapillary_tools video_process --import_path D:\mapillary_image_extracted --video_import_path D:\mapillary_video --user_name <<username>> --advanced --geotag_source "gopro_videos" --geotag_s

[2019-06-07 23:02] pschonmann opened #348 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xf8 in position 2: ordinal not in range(128)"
### Basic information
* Release version: `0.5.0`
* System: `Windows`
* Capture Device: `Xiaomi YI`

### Steps to reproduce behavior

 1. d:\openstreetmap\mapillary_tools>mapillary_tools.exe process --verbose --advanced --import_path c:\TEMP\ZPRACE\ --user_name "pschonmann" --geotag_source "gpx" --geotag_source_path "D:\DOWNLOAD\2019-06-07_16-49-56.gpx" --summarize --interpolate_directions --move_d

[2019-06-11 00:17] JackNUMBER commented on #348
Same issue with
[code]

[2019-06-28 17:07] realchrisolin opened #349 "TypeError: can't compare offset-naive and offset-aware datetimes"
This error is being caused mapillary_tools/processing.py:314. It's being caused due to the `capture_time` datetime() object not having any timezone data (offset-naive) and the datetime() object coming from a GPX file having timezone data (offset-aware).

I'm currently debugging this and plan to have a PR fixing this within 24 hours.

[2019-07-01 14:18] scaidermern opened #351 "NameError: global name 'root_dir' is not defined"
Adding `--summarize` to the upload tool produces the following error message:

[code]

[2019-07-22 13:03] MSolodzhuk commented on #351
if not root_dir:
        root_dir = import_path

[2019-07-22 13:26] MSolodzhuk commented on #351
added root_dir to function

[2019-09-03 14:56] richlv commented on #159
It now says Python version must be "=" to 2.7 - I overlooked that at first. An explicit line in the requirements would have been useful.

As for the instructions, on any non-obsolete distribution the "pip" commands likely have to be "pip2", as otherwise you'll end up with stuff installed for the wrong Python version.

[2019-09-03 14:57] richlv commented on #227
"pip" now warns:

[2019-09-03 22:39] cocoaaa opened #353 "[Question] how to get the spatial bounds of the result of search api?"
Hi, I'm trying to compute the bounding box of an image returned by Mapillary's api, in particular the `search_images` function. For instance:  `response = mmap.search_images(bbox=bbox, per_page=5)`.
The `response` has a `geometry`.`coord` property, but I couldn't find any other meta data (such as transformation matrix, spatial resolutions in x and y direction))which would be needed to compute the

[2019-09-09 05:24] ltog opened #354 "README should mention that apt package 'python-dev' is required"
I tried to install mapillary_tools on Ubuntu 18.04.

When running `pip install --upgrade git+https://github.com/mapillary/mapillary_tools` I got a lot of errors of the following form:

[code]

After running

[code]

the errors disappeared.

I suggest to mention in the README that the apt package `python-dev` is required.

[2019-11-27 11:18] kouki-T commented on #348
Hi,all. I had the same trouble with mapillary_tools.exe. This problem is caused Python can't read gpx data stored by UTF-8 because the default character code of Python is ASCII. But, even if we change defolt characrter code for UTF-8 from ASCII, **it doesn't work**.

### ***I use "cp932" character code, it can works and finish all process.***

However, since used Python is packaged in the exe vers

[2019-12-03 03:35] govvin opened #357 "organization_username option ignored by send_videos_for_processing command"
### Basic information
* Release version: `0.5.0`
* System: `Linux`
* Capture Device: `DR900`

### Steps to reproduce behavior

 1. process and upload using mapillary_tools -- `mapillary_tools send_videos_for_processing --advanced --video_import_path "/media/user/Transcend/backup/Imagery Collection/folder/2019-10-25" --user_name "user" --organization_username "org"`

### Expected behavior
consisten

[2019-12-08 12:48] KAMI911 commented on #227
I am still interested in updated version for python 3.5 or newer.

[2019-12-22 17:29] julietkilo opened #358 "Upload failed with HTTP Error 403: Forbidden on <picturenumber>.jpg"
### Basic information
* Release version: Mapillary tools version : 0.5.0
* System: `Linux` Ubuntu Eoan
* Capture Device: `Action Camera` Gopro Hero7 Black

### Steps to reproduce behavior

 1. Reset the existing config as mentioned in other issues:  rm -rf ~/.config/mapillary
 2. mapillary_tools video_process_and_upload --advanced --rerun --import_path ~/gopro/processed --video_import_path ~/gopro

[2019-12-23 20:13] musuruan commented on #227
Python 2 will be discontinued on January 1, 2020. This means main distributions will stop supporting it. For example, python2 package and all its subpackages have already been removed from Fedora 32 (i.e. the next Fedora release due to be distributed on April 21, 2020). It is urgent to have mapillary_tools migrated to python3.

[2019-12-29 19:16] scaidermern commented on #358
Same problem for me.

Mapillary tools version : 0.5.0
System: Linux Debian testing

[2019-12-30 20:51] scaidermern commented on #358
I tried the following:

- `rm -rf ~/.config/mapillary/`
- `rm -rf ~/my_photos/.mapillary/`
- `mapillary_tools authenticate --advanced --user_name me` (completed successfully)
- `mapillary_tools upload --import_parh ~/my_photos`

I still get `HTTP error: HTTP Error 403: Forbidden on foo.jpg` for each photo.

Is there anything else I can try?

[2019-12-30 21:53] sorcrosc commented on #358
I want to tell my experience.
A few days ago I installed a new operating system from scratch and I was having this problem. There was nothing to do. The only thing that helped was to restore the key in ~/.config/mapillary/configs / from the old os.

[2019-12-30 22:55] tohaklim commented on #358
Not sure if related, but the web uploader has been failing for some time now https://forum.mapillary.com/t/new-desktop-uploader/2466?page=3

[2020-01-01 13:12] scaidermern commented on #358
Thanks for the information. Looks like the web uploader has been fixed. The mapillary_tools upload is still failing for me, though.

[2020-01-01 19:53] richlv commented on #358
Also having the same problem, but note that Mapillary might be ignoring this issue tracker: https://forum.mapillary.com/t/i-mapillary-closing-up/1756 .

[2020-01-02 07:03] scaidermern commented on #358
Good to know. I've created a forum thread for this issue: https://forum.mapillary.com/t/mapillary-tools-http-error-403-forbidden/3666

[2020-01-09 12:30] scaidermern commented on #358
This issue is solved after updating to the newest version of mapillary_tools and performing the steps described in https://forum.mapillary.com/t/mapillary-tools-http-error-403-forbidden/3666/14.

[2020-01-09 17:23] julietkilo commented on #358
Solved. Thanks to the mapillary team. The following steps works for me:

pip install --upgrade git+https://github.com/mapillary/mapillary_tools
mapillary_tools authenticate --advanced
mapillary_tools video_process_and_upload --advanced --rerun --import_path ~/gopro/processed --video_import_path ~/gopro --geotag_source "gopro_videos" --geotag_source_path ~/gopro --interpolate_directions --video_sam

[2020-01-09 17:23] #358 closed

[2020-01-13 20:40] alexandrz opened #361 "Unable to upload photos."
### Basic information
* Release version: `0.5.0`
* System: `MacOS`
* Capture Device: `Action Camera Sony`

### Steps to reproduce behavior

 1. Run: `mapillary_tools process_and_upload --import_path "/Mapillary/new photos" --user_name mapillary_user`

### Expected behavior

New photos are uploaded.

### Actual behavior

Getting errors:

[code]

[2020-01-13 21:16] alexandrz commented on #361
https://github.com/mapillary/mapillary_tools/issues/358#issuecomment-572540866

Following these steps resolved the issue.

[2020-02-06 05:31] CorentinLemaitre commented on #269
Hello,
Just to know if there is any update on this issue ?
If there was just an option it could be useful too : "not create log file" or "delete log file post process".

[2020-02-11 18:03] GPSMapper commented on #269
Waiting impatiently

[2020-02-11 19:45] bob3bob3 commented on #269
Please make sure that any new system is backward compatible too. I regularly have a few months between process and upload and don't want to repeat processing of hundreds and thousands of images. (again)

[2020-04-01 10:24] Kaldea opened #363 "Check on cyberduck for Thierry"
Cyberduck account: ext-marciosampaio

Can we take a minute sometime to today to figure out the situation with Thierry and his cyberduck uploads? He's saying he's still waiting on status of the uploads which I can't  tell if they were completed or not - Can we find out to try and pacify him?

![image](https://user-images.githubusercontent.com/13242798/78127003-afbfba80-7413-11ea-858c-77e43cdb9154.p

[2020-04-01 10:24] Kaldea commented on #363
@josealb

[2020-04-04 14:12] blaueente opened #364 "Support new "heading" tag from osmand tracker plugin"
Note that osmand now supports to track the heading in an "extension": (Needs to be explicitly enabled in the settings of the tracker plugin)

    <trkpt lat="4X.XXXXXXX" lon="1X.XXXXXXX">

        <ele>XXX.XXX</ele>
        <time>2020-04-03T13:03:47Z</time>
        <hdop>7.504</hdop>
        <extensions>
            <speed>1.24</speed>
            <heading>233</heading>
        </extensions>

[2020-04-11 22:51] fgouget commented on #351
This looks like the same issue I submitted a fix for in January 2019 (rebased since):
https://github.com/fgouget/mapillary_tools/commit/d9dbac40616c4dd324b06dd2f171dabd27a05265

I wish Mapillary would use it or come up with their own fix so people don't keep running into it.

[2020-04-11 22:55] fgouget commented on #349
I also submitted a fix for this there, initially on 4 Mar 2019 but Mapillary just let it rot :-(
https://github.com/mapillary/mapillary_tools/pull/330

[2020-04-13 10:25] scaidermern commented on #227
The same on Debian. The next _stable_ version (bullseye) won't have support for python 2 any more. This is already the case for the current Debian _testing_ version (python-pip has already been dropped, for example).

Please make mapillary_tools compatible with python 3.

[2020-04-18 08:47] Jakuje opened #365 "Unable to run tests locally without mapillary_messi"
### Basic information
* Release version: `master`
* System: `Linux`
* Capture Device: `Action Camera`

(but neither above matters)

### Steps to reproduce behavior

 1. Run `python3 setup.py test`

### Expected behavior

The tests are executed and changes are verified.

### Actual behavior

[code]

[2020-04-24 15:34] srinathsibi opened #366 "Download images belonging to a single upload/recording session"
### Basic information
* Release version: `0.5.0`
* System: `Linux`
* Capture Device: `Apple` | `Android` | `Action Camera`

### Steps to reproduce behavior

 1.mapillary_tools download --advanced --by_property key --import_path dev/null --output_folder "." --organization_keys "xxxxxxxxxxxxxxxx" --user_name "UserName" --start_time "2020-04-18" --end_time "2020-04-19"

### Issue

I would like to dow

[2020-05-05 07:35] andrewharvey commented on #227
I'm running Debian unstable and python-pip is no longer available only python3-pip, when I do `pip3 install .` I get `ERROR: Package 'mapillary-tools' requires a different Python: 3.8.3 not in '>=2.7.0,<3.0.0'`. Anyone know how to install mapillary_tools on Debian sid?

[2020-05-05 07:45] scaidermern commented on #227
I ran into the same problem while trying to update mapillary-tools to the latest version. Luckily I already hat a copy of mapillary-tools installed which still works. Upgrading/Reinstallation seems to be no longer possible on Debian testing or unstable, though.

[2020-05-05 08:02] musuruan commented on #227
Fedora 32 was released on April, 28th. It only provides python3. Now it is no longer possible to run mapillary-tools.

[2020-05-05 08:59] andrewharvey commented on #227
Yeah I went through my system and cleared out any old local python packages, it was after I did this that mapillary_tools broke and now I seem to be stuck.

[2020-05-05 09:50] andrewharvey commented on #227
A workaround could be to run it with docker, but after an hour of trying to get docker containers running i give up. If anyone else knows how to get a docker container up, install pip packages and mount a local directory, I think that would be a good workaround.

[2020-05-22 20:50] giocomai commented on #227
Following up on @andrewharvey 's suggestion, here is a Docker-based solution.

First, create the folders that you will share with the Docker container:

[code]

You will copy the pics you want to upload in the `pics` subfolder, while the `config` folder is needed for storing authentication details.

Then run a Docker container with pre-installed `mapillary-tools` with the following:

[code]
This s

[2020-06-02 09:37] vinber opened #367 "Lag-Lapse due to mapillary servers"
### Basic information
* Release version: `0.5`
* System: ``Linux` |
* Capture Device: Blackvue dashcam DR900S-1CH

### Steps to reproduce behavior

https://forum.mapillary.com/t/lag-offset-with-blackvue-dr900s-1ch-dashcam-due-to-mapillary-server/3883/4

Recommended process : https://www.mapillary.com/app/?lat=44.7692010725&lng=-0.35790673833333336&z=17&feedItem=user-LG6IzKbs9VWeuSf14TZhaQ-activity

[2020-06-06 08:18] vinber commented on #357
Hi, very interested on this issue.

And do you have some bugs like #367 when you use send_videos_for_processing as recommended ?

[2020-06-10 21:00] vitkomarovsky opened #371 "IOError: [Errno 13] Permission denied: 'path/to/gpx_file' [7944] Failed to execute script mapillary_tools"
### Basic information
* Release version: `0.5.0`
* System: `Windows 10 Pro 64-bit 1703`
* Capture Device: `Action Camera`

### Steps to reproduce behavior

 1. mapillary_tools process --advanced --import_path "path\to\images\mapillary_sampled_video_frames" --user_name "xxx" --geotag_source "gpx" --geotag_source_path "path/to/gpx_file" --overwrite_all_EXIF_tag

 2. mapillary_tools process --advance

[2020-06-11 09:16] vitkomarovsky commented on #371
Thanks for the quick response. Maybe I don’t quite understand, but I did it like this

[2020-06-11 09:25] vitkomarovsky commented on #371
Thanks for the quick response. Maybe I don’t quite understand, but I did it like this:

mapillary_tools process --advanced --import_path "path\to\images\mapillary_sampled_video_frames" --user_name "xxx" --geotag_source "gpx" --geotag_source_path "d:\path\to\gpx_file\" --overwrite_all_EXIF_tag

Here is the result:

Error, d:\path\to\gpx_file" --overwrite_all_EXIF_tag file source of gps/time propert

[2020-06-11 10:42] vitkomarovsky commented on #371
Thanks for the quick response! I tried to do something like this:

mapillary_tools process --advanced --import_path "path\to\images\mapillary_sampled_video_frames" --user_name "xxx" --geotag_source "gpx" --geotag_source_path "d:\path\to\gpx_file\" --overwrite_all_EXIF_tag

And I got this:

Error, d:\path\to\gpx_file" file source of gps/time properties does not exist. If geotagging from external lo

[2020-06-11 10:43] bob3bob3 commented on #371
I would suggest naming the gpx file specifically or adding a trailing slash. ie

--geotag_source_path d: \path\to\gpx_file\file.gpx
or
--geotag_source_path d: \path\to\gpx_file\

I remember having some trouble in the past with distinguishing between a directory of files vs just one file and ending up using a trailing slash (Unix). I think too that quotes are only needed if there are spaces

--over

[2020-06-11 11:31] vitkomarovsky commented on #371
I understand you, thanks. Made a path with the name of the gpx file:

--geotag_source_path "d: \ path \ to \ gpx_file \ gps.gpx"

Here is the result:

Warning, required geotag_process failed for image D: \ path \ to \ images \ mapillary_sampled_video_frames \ front_20200606201859 \ front_20200606201859_000085.jpg

Well, he doesn’t want to. :(

[2020-06-11 12:03] bob3bob3 commented on #371
That message could be that the contents of the gpx file are not in the date/time range of that particular image. I get that with the BlackVue before the GPS has locked but is recording images. Only a small quantity of images are affected though.

 The tools I think can read the image capture time from a number of sources. The camera may be placing in the EXIF tag "Date and Time (Original)" so chec

[2020-06-11 12:24] vitkomarovsky commented on #371
Your message opened a new thought to me: the date and time in the GPS file are recorded not in UTС, but in local time. Obviously, there is a problem. You are a smart person!

[2020-06-11 12:24] #371 closed

[2020-07-08 12:48] Delta1977 opened #374 "Support for python3"
Python 2.7 reached the end of its life on January 1st, 2020 .
When would mapillary_tool support python3  ?

[2020-07-15 08:24] DavidMetcalfe commented on #340
@josealb Just want to point out that `send_videos_for_processing` is not viable for videos where only a portion of the contents is viable for upload (such as completing a portion of a street and then turning into a driveway). Being able to process locally, and selectively upload the portion that will be of use to the community without the rest of the content is important, and if I upload, the cont

[2020-08-09 10:48] fgouget commented on #227
The Travis continuous integration on GitHub also requires Python 3 which means every pull request now gets an error:

| pip 20.1.1 from /home/travis/virtualenv/python3.6.7/lib/python3.6/site-packages/pip (python 3.6)
[...]
| ERROR: Package 'mapillary-tools' requires a different Python: 3.6.7 not in '>=2.7.0,<3.0.0'
| The command "eval pip install -r requirements.txt " failed. Retrying, 2 of 3.

My

[2020-08-09 10:48] fgouget commented on #374
The Travis Continuous Integration on github also requires Python 3 which means every pull request now gets an error:

| pip 20.1.1 from /home/travis/virtualenv/python3.6.7/lib/python3.6/site-packages/pip (python 3.6)
[...]
| ERROR: Package 'mapillary-tools' requires a different Python: 3.6.7 not in '>=2.7.0,<3.0.0'
| The command "eval pip install -r requirements.txt " failed. Retrying, 2 of 3.

My

[2020-08-09 12:09] scaidermern commented on #227
According to the Telegram group there is ongoing development for a new upload framework, eventually replacing mapillary_tools. Unclear though why there is no reaction from the developers here.

[2020-08-09 20:41] richlv commented on #227
Mapillary development process going all closed seems to have helped with getting bought, but it did not help the tools for sure :)
Here's to hope that the process will open up again.

[2020-08-11 00:45] andrewharvey commented on #227
Where is the Telegram group? I found https://t.me/s/mapillary via a google but it only has a handful of messages around 2018.

[2020-08-11 05:11] scaidermern commented on #227
See https://t.me/Mapillary_Discussion

[2020-08-16 04:52] kudarisenmon opened #379 ""GPS Image Direction" is set to an incorrect value"
### Basic information
* Release version: `0.5.3`
* System: `Linux`
* Capture Device: `Action Camera` | `GoPro HERO3` | `Garmin Logger`

### Steps to reproduce behavior

 1. 0.5 seconds time lapse shooting with the GoPro HERO3 (GoPro HERO3 doesn't have a built-in GPS).
 2. Record the location with the Garmin GPS logger.
 3. Add "GPS Image Direction" to the Exif with the following command.
 mapillar

[2020-08-27 19:14] paulb20 commented on #374
Adding a voice here - as my Ubuntu has updated to 20.04, Python 3 is the only python supported and therefore the mapillary tools cannot be used without seriously messing up conformant python 3 applications.

[2020-09-02 09:31] mxa commented on #89
Any news on picture from video extraction based on meters, not seconds? Five years later.

[2020-09-04 23:22] jfburke3 commented on #227
It looks like UnitedRPMs is providing a python2-pip RPM.....

https://fedora.pkgs.org/32/unitedrpms-x86_64/python2-pip-19.1.1-7.fc32.noarch.rpm.html

[2020-09-16 09:46] arne182 commented on #374
Tried to get the dependencies for 2.7 together and it was a mess. What is needed to get this to be python 3 compatible?

[2020-09-20 15:17] Jakkajakka opened #380 "Only half of a mapillary map image are uploaded"
* System: `Windows 10`
* image recorded GoPro 7 black

The windows https://tools.mapillary.com/binary/win/mapillary_tools.exe seems to upload the hole directory map 16.683 with in 17 subfolders. (max 999 in subfolder)
The issue is that only from every subfolder the half of the 999 image are show on mapillary map.
It looks like the tool can only manage 500 images /folder....
See the log file.
[uplo

[2020-10-25 06:10] Jakkajakka commented on #380
Still no improvement. Do need to upload all again with the desktop uploader @ https://www.mapillary.com/desktop-uploader

[2020-11-01 21:14] Nick-Tallguy commented on #374
Installing **python-dev** before attempting to install worked for me - see issue https://github.com/mapillary/mapillary_tools/issues/354 (Thanks to @ltog for the clue here) Ubuntu 20.04 server;

      $ sudo apt install python-dev
cd to directory in home where installing virtualenv and mapillary, then

      $ virtualenv -p /bin/python2 venv
      $ source venv/bin/activate
      $ pip install git

[2020-11-20 13:22] MaelREBOUX opened #381 "How to configure credentials for a proxy ?"
Hello

I'm working inside a LAN wich is using a big proxy to filter access to internet.
Every request going to the internet must be authentificated. If not we have 407 errors and co...

Today I use your Mapillary Tools v0.5.3 (the latest) and I did not find any possibility to fullfill something related to a proxy.
When running it I get a bad credentials response. As I cannot see more verbose logs

[2020-11-24 10:24] Penegal commented on #381
I'm also subject to this situation and would like to know how to give proxy credentials to mapillary_tools.

[2021-01-13 16:27] duckonomy commented on #374
Any updates on this?
Is there work going into #377?
I'd really like to help porting if help is needed.

[2021-02-15 06:19] arocoun opened #383 "Please run --interpolate_directions AFTER detecting duplicates"
### Basic information
* Release version: `0.5.3`
* System: Android 10, running commands on Termux
* Capture Device: Samsung A515g

### Steps to reproduce behavior

 1. Capture images in a sequence where you're stopped in place at some point, continuing to capture images.
 2. Run a command meant to weed out duplicates, and interpolate directions. I use pretty harsh duplicate detection, since my pho

[2021-02-15 06:35] arocoun opened #384 "New suggested instructions for Android / Linux installation."
Because Python 2 is no longer supported, your instructions in the README under Custom Installation may no longer work. Further, you provide no instructions for installing Mapillary tools on an Android device. The following link has the process I used to install mapillary_tools using Python 2, and may prove helpful in updating your README.

https://forum.mapillary.com/t/installing-mapillary-tools-o

[2021-02-15 06:39] arocoun commented on #380
Is it possible that your device updates GPS coordinates at half the speed you're capturing images? In that case, half the images would overlap, and be weeded out as duplicates.

I bring this up because I once took photos at 0.5 second intervals, and about 15% of them had duplicate GPS info.

[2021-02-15 06:46] arocoun commented on #379
Is it possible that your GPS logger only records locations in full-second intervals? In that case, half the images would overlap. Then, when overlapping images have their directions interpolated, half of them will point in some random direction in an attempt to point at the same spot they're on.

I bring this up because I once took photos at 0.5 second intervals with my phone, and about 15% of the

[2021-02-15 07:52] Jakkajakka commented on #380
That could be possible that this desktop-uloader needs different (more distance) gps info, I re-uploaded them true the web up loader and  they passed all the missing images ;) For the moment I use only the web uploader but takes more time you need still activate after preparing fase the upload button so it cannot run overnight.

[2021-02-16 06:27] arocoun commented on #383
I also just realized running --interpolate_directions before detecting duplicates causes another problem.

I tried to change the --duplicate_angle parameter from 360 to 20, so I can *try* keeping turns. However, because my GPS wanders around in random directions by tiny amounts while stopped, this means that first, a whole bunch of weird angles are created by --interpolate_directions. Then, since

[2021-02-17 13:09] ptpt commented on #374
Hi all,

We appreciate all the feedback. I will be working on porting the code to Python3, and release 0.6.0-beta around next week. Would be great if you can help test it out!

The plan:
1. port to Python3 (>=3.6)
2. make it easy to install via pip

cc @eneerhut

Thanks!

[2021-02-18 20:25] Strubbl commented on #227
Meanwhile, is there any other method to manually upload images via command line?

[2021-02-18 20:44] Jakuje commented on #227
Run some old distro with Python2  in VM

This is also discussed in the following issue: https://github.com/mapillary/mapillary_tools/issues/374#issuecomment-720152479

[2021-02-19 06:56] scaidermern commented on #374
This ticket is a duplicate of #227.

[2021-02-23 22:51] ptpt commented on #374
Hi all,

The Python3 port is close to be done. I tested the basic process and upload and it works great. It would be great to have your help to get more tested. The installation is documented here: https://github.com/mapillary/mapillary_tools/tree/fix-upload#package-installation-python3

I will close this issue and track the progress in #227.

Thanks!

[2021-02-23 22:51] #374 closed

[2021-02-23 22:52] ptpt commented on #227
Hi all,

The Python3 port is close to be done. I tested the basic process and upload and it works great. It would be great to have your help to get more tested. The installation is documented here: https://github.com/mapillary/mapillary_tools/tree/fix-upload#package-installation-python3

Thanks!

[2021-02-23 23:06] Strubbl commented on #227
Great work and thanks for the testing invitation. In the meantime i have moved to kartaview where i am uploading my photos. Keep going and have fun

[2021-02-25 11:37] ptpt commented on #384
Thanks @arocoun for the feedback. Python3 is in master now. README is updated. Please follow https://github.com/mapillary/mapillary_tools#installation

[2021-02-25 11:37] #384 closed

[2021-02-25 11:38] ptpt commented on #365
It should be fixed. To run the latest tests see https://github.com/mapillary/mapillary_tools#development

[2021-02-25 11:38] #365 closed

[2021-02-25 11:38] ptpt commented on #351
Thanks all! It's fixed in 0.6.0 (Python3 only).

[2021-02-25 11:38] #351 closed

[2021-02-25 11:40] ptpt commented on #354
This is related to the old version of Pillow. The latest version 0.6.0 on master should fix it.

[2021-02-25 11:40] #354 closed

[2021-02-25 17:16] ptpt commented on #361
Thanks! Updating mapillary_tools will solve it.

[2021-02-25 17:16] #361 closed

[2021-02-25 17:17] ptpt commented on #348
It should be fixed if you update to 0.6.0 (Python3) which handles UTF-8 by default. Please reopen if it doesn't.

[2021-02-25 17:17] #348 closed

[2021-02-26 12:24] ptpt commented on #227
`mapillary_tools 0.6.0` with Python3 support is released here https://github.com/mapillary/mapillary_tools/releases/tag/v0.6.0

Thanks all!

[2021-02-26 12:24] #227 closed

[2021-03-01 08:06] KAMI911 commented on #227
@ptpt , thank you for the release, works well :1st_place_medal:

[2021-03-20 13:47] arocoun opened #387 "README suggestion: Instructions for installing on Android"
I've rediscovered how to install mapillary_tools on an Android device, and have written the complete process [here, on the Mapillary forum](https://forum.mapillary.com/t/installing-mapillary-tools-on-an-android-device/4632/4), if y'all feel like referencing the thread in the README, or adding some installation instructions.

[2021-03-21 18:36] breunigs opened #388 "upload trips over GoPro Hero 9 spaces in sub_sec field"
### Basic information
* Release version: `0.6.0`
* System: Linux
* Capture Device: GoPro Hero 9

### Steps to reproduce behavior

I uploaded an attached image that fails to extract time taken because of the space in the subseconds field. I'm using
[code]
![G0256237](https://user-images.githubusercontent.com/307954/111916854-3e8e7280-8a7d-11eb-9145-d65c300ac7d8.JPG)

### Expected behavior

It parse

[2021-04-12 08:45] ManChrys opened #389 "Error during Install"
Hello guys,

i have the following error :

C:\Windows\system32>python3 -m pip install --upgrade git+https://github.com/mapillary/mapillary_tools
Python was not found; run without arguments to install from the Microsoft Store, or disable this shortcut from Settings > Manage App Execution Aliases.

Instead of this command can i follow these steps ?

1) cd to dir where requirements.txt exist
2) pip i

[2021-04-14 17:55] renardua opened #390 "Where can I get version 060 of mapillary tools?"
### Basic information
* Release version: 050
* System: macos
* Capture Device: gopro

### Steps to reproduce behavior

 1. python3 -m pip install --upgrade git+https://github.com/mapillary/mapillary_tools
 2.
 3.

### Expected behavior
version 060

### Actual behavior
version 050

### Corresponding data

### Additional information
Collecting git+https://github.com/mapillary/mapillary_tools
  Cloni

[2021-04-15 20:04] mnigri opened #391 "mapillary_tools process is not working"
Hello,

I am having difficulty

### Basic information
* Mapillary tools version : 0.6.0
* Exiftool version: 12.24
* DashCam: Rove Model R2-4K (with built-in GPS)
* System: Linux – Ubuntu 20.04

### Steps to reproduce behavior

1.	Create GPX file from mp4 metadata:

I have some mp4 files created by the dashcam above. I am using exiftool to extract GPS data and saving them in gpx format running the

[2021-04-16 02:28] mnigri commented on #391
I finally found out the error: the parameter --geotag_source_path expects the gpx file and not its directory.

So instead of:

--geotag_source_path  video

I should use:

--geotag_source_path  video/file.gpx

[2021-04-17 16:52] #389 closed

[2021-04-27 12:25] GPSMapper opened #392 "mapillary_tools 0.6.0 geotagging corruption"
* Release version: 0.6.0
* System: `Windows`
* Capture Device: ``Action Camera`

### Steps to reproduce behavior

 see here:
https://forum.mapillary.com/t/mapillary-tools-command-line-0-6-0-sequence-processing-bug/4799

[2021-04-28 09:25] ptpt commented on #388
Thanks for reporting the issue and providing the test data!

[2021-04-28 09:31] ptpt commented on #390
@renardua the command `python3 -m pip install --upgrade git+https://github.com/mapillary/mapillary_tools` installs the tools on your system bin (e.g. `/usr/local/bin`) but you are running the tools on a local folder.

Try running `mapillary_tools` instead of `./mapillary_tools`. Hopefully you will see 0.6.0.

Also you can use `which mapillary_tools` to check where your tools is installed.

[2021-05-04 10:46] #392 closed

[2021-05-04 10:46] GPSMapper commented on #392
notabug. problem was caued by corrupted exif data on the source

[2021-05-04 19:54] joostschouppe commented on #337
This forced authentication thing saved my day (see https://forum.mapillary.com/t/command-prompt-tools-exits-due-to-not-obtaining-organization-key/4714/2). Might be a good idea to add it in the extended help and the readme :)

[2021-05-05 17:19] danbjoseph opened #394 "errors processing Blackvue videos"
MacOS 11.2.3
Python 3.8.1 (inside a python virtual environment)
mapillary_tools 0.6.0
Blackvue DR900S-1CH (i believe it has custom Mapillary firmware installed)

I have a folder of 36 .mp4 files from a Blackvue camera in `/Users/danbjoseph/Desktop/Record` and `/Users/danbjoseph/Desktop/Record/images` is an empty folder, I want to process locally so that I can use the sampled and geotagged images e

[2021-05-05 20:25] eneerhut commented on #387
@arocoun thanks for this! Maybe best if you edit the readme and submit as a pull request that we can include.

[2021-05-12 06:51] lionkmp opened #395 "Better interpolate image directions: based on GPS data, not only at image locations"
### Basic information

* Release version: `0.6.0`
* System:  `Linux`
* Capture Device:  `Action Camera`

### Steps to reproduce behavior

 1. Record images with very slow interval (30 seconds or 1 minute) (For exampel because of hiking for very long time in no-mapillary-imagery areas and there is simply no battery to support more frequent pictures.)
 2. Interpolate the directions (Exif.GPSInfo.GPS

[2021-05-12 08:20] arocoun commented on #387
I've done as you suggested. Thanks for responding!

[2021-05-13 14:34] ptpt commented on #387
Thanks for the PR. Closed in https://github.com/mapillary/mapillary_tools/pull/396

[2021-05-13 14:34] #387 closed

[2021-05-15 12:17] ptpt commented on #394
@danbjoseph thanks for the report. It seems to relate to str/bytes issue during Python2 to Python3 a few months ago. I have no blackvue nor ffmpeg installed for testing. Could you try this branch `fix-blackvue` and see what it prints out?

To install it in your venv:
[code]

[2021-05-17 09:44] Alessandro-Barbieri opened #398 "change python exif library"
Using a [fork](https://github.com/mapillary/Piexif) as a dependency is an unfortunate choice since it prevent distros from packaging
Both the fork and the [original library](https://github.com/hMatoba/Piexif) seems to be unmaintained (2018-04-25 and 2019-12-27 as last commit)
Please consider switching to a more maintained library such as [pyexiv2](https://github.com/LeoHsiao1/pyexiv2)

[2021-05-17 17:40] danbjoseph commented on #394
[code]

[code]

[2021-05-18 18:50] ptpt commented on #394
Thanks this is very useful! Pushed a fix to the branch. Please try again and see if it works.

[2021-05-18 20:13] danbjoseph commented on #394
[code]

[2021-05-19 13:02] SimonRelmo opened #399 "Process_csv.py issue since Python 3 conversion"
### Basic information
* Release version: `0.6.0`
* System: `Windows 10 64bits`
* Python : `3.7.4`

### Steps to reproduce behavior

 1. Create a csv with the filename and other informations to insert new exif in jpg (with header)
 2. Execute the command process_csv

### Expected behavior

The exif jpeg should be filled with the information from the csv by joining on the filename field.

### Actual

[2021-06-02 11:01] #399 closed

[2021-06-03 13:03] ptpt commented on #394
Hey @danbjoseph it should be fixed. Please check latest and let me know if it works for you.

[2021-06-10 21:25] donalhunt opened #403 "Error, user authentication failed for user <username>"
### Basic information
* Release version: `0.6.0`
* System: `Linux`
* Capture Device: `Dashcam (Viofo A129 Duo)`

### Steps to reproduce behaviour

`mapillary_tools process_and_upload --import_path "/path/to/images" --user_name "<username>"`

### Expected behaviour

Images are processed and uploaded.

### Actual behaviour

[code]

### Corresponding data

N/A

### Additional information

I have chan

[2021-06-10 21:47] donalhunt commented on #403
I also tried the `--advanced authenticate --force_overwrite` option but that is failing too. :(

`mapillary_tools --advanced authenticate --force_overwrite --user_name "<username>" --user_email "<email>" --user_password "<password>"`

[2021-06-10 22:00] donalhunt commented on #403
interestingly, I cannot log into the android app either (but I can log into the website). :(

[2021-06-10 22:20] ptpt commented on #403
@donalhunt it should be fixed in https://github.com/mapillary/mapillary_tools/pull/393

Could you install the latest and let me know any feedback.

[2021-06-11 07:17] GPSMapper commented on #403
I confirm updating to 0.7.0 does the trick
pip install --upgrade git+https://github.com/mapillary/mapillary_tools

[2021-06-11 07:19] GPSMapper commented on #403
You should install new  Mapillay app for Android
https://blog.mapillary.com/update/2021/06/09/platform-updates-june.html

[2021-06-11 09:17] donalhunt commented on #403
Can confirm 0.7.0 resolves the authentication issue.
Thanks for the link to the new app too (my play store search returned the old one when I went to install it yesterday for some reason).

[2021-06-11 09:17] #403 closed

[2021-06-11 12:57] ptpt commented on #398
We need add more tests to make sure we don't break things, and then evaluate the library. Thanks for the information!

[2021-06-11 14:21] ptpt commented on #366
This command has been removed in 0.7.0. Closing.

[2021-06-11 14:21] #366 closed

[2021-06-12 19:48] blaueente opened #405 "Huge temp zipfiles with v4 upload"
### Basic information
* Release version: `0.7.0`
* System: `Linux`

###  Problem
During process_and_upload, a huge temporary zip file is generated in a place below the images.
That means, image data is copied around uselessly with high I/O load which is slow for HDDs and wears out SSDs, and both problems apply for microSD cards.

###  Mitigation
Offer the location of the temp file to be selected a

[2021-06-13 07:52] Stefal commented on #388
Warning ! It's a bug from Gopro, and this "hack" could generate some other problems as the subsecond is wrong!
I've reported this problem to Gopro here: https://community.gopro.com/t5/Cameras/subsecond-timestamp-bug/m-p/1057505

[2021-06-13 10:19] ptpt commented on #388
Thanks @Stefal for the information. What problem do you think it will cause? I will reopen it and investigate it later.

[2021-06-13 10:24] ptpt commented on #405
Thanks. Make total sense.

How large is the generated zip file usually? The streaming was the my first trial but I found the upload API doesn't support streaming (it asks for content length specified).

[2021-06-13 10:26] ptpt commented on #357
Hey, please upgrade to 0.7.0 and use video_process instead as send_videos_for_processing is removed.

[2021-06-13 10:26] #357 closed

[2021-06-13 10:34] ptpt commented on #353
The returned coordinates for an image are wgs84 (longitude, latitude).

To compute the bounds of the returned images, just find the maximum/minimum longitude and maximum/minimum latitude and then [min_longitude, min_latitude, max_lonitude, max_latitude] is your bounds.

Note that Mapillary API is updated to https://www.mapillary.com/developer/api-documentation

[2021-06-13 10:34] #353 closed

[2021-06-13 10:34] ptpt commented on #390
0.7.0 is released, but upgrade with the instructions above ^^.

[2021-06-13 10:34] #390 closed

[2021-06-13 10:37] ptpt commented on #337
The issue should be gone as we upgrade our platform. Please make sure you reset your password if you haven't https://blog.mapillary.com/update/2021/05/28/password-update.html and upgrade your tools to 0.7.0

[2021-06-13 10:37] #337 closed

[2021-06-13 10:38] ptpt commented on #250
The issue should be gone in 0.7.0. Please upgrade.

[2021-06-13 10:38] #250 closed

[2021-06-13 10:39] ptpt commented on #200
Should be irrelevant in 0.7.0. Please upgrade to the latest.

[2021-06-13 10:39] #200 closed

[2021-06-13 11:32] blaueente commented on #405
I personally had ~2GB zip files. Sequence is was exactly 500 Pictures, and that is enforced by the upload script. So I guess overall size depends on how large the image files are; I can imagine that images from newer phones with 64 Megapixels might also be more like 20 MB, making the zip size more like 10GB

In theory, if compression is switched off for all pictures, the size should be determinist

[2021-06-13 11:49] Stefal commented on #388
If the real subsec value is an equivalent of 5ms, it will be stored in the Gopro image as `.   5` and converted to `.5`. It is a 495ms offset. I see two solutions:
- Ok, stay with this dirty workaround, but it could hide some problems and if someone is using a Hero 9 with a 0.5s timelapse, he could have some bad surprise with the image locations.
- Let assume it's a bug from the Gopro..... not you

[2021-06-14 10:04] ptpt commented on #295
This is added in the README

[2021-06-14 10:04] #295 closed

[2021-06-15 17:34] zorglubu opened #407 "unable to install mapillary_tools on Linux"
Hello,

I am unable to install mapillary_tools on Linux Mint.
I should add that I really don't know python, and I am a bit lost.

### Basic information
* Python 3.6.9
* System: Linux Mint 19.3 Tricia

### Steps to reproduce behavior
I run the command :
`python3 -m pip install git+https://github.com/mapillary/mapillary_tools`

I get a message "Successfully installed Piexif-1.1.3 certifi-2021.5.30 c

[2021-06-16 17:24] ptpt commented on #405
Hey @blaueente it's not reliable to predicate zip size even switch off compression, because it also writes other metadata to the ip file.

I ended up with the tempfile solution. Could you test it out?

[2021-06-16 17:32] ptpt commented on #407
Is it because mapillary_tools is not installed in your $PATH?

Could you run `python3 -m pip install -U git+https://github.com/mapillary/mapillary_tools` instead?

[2021-06-16 19:08] blaueente commented on #405
Great, thanks! I'll test it next time I'll have pictures to upload.

I just looked at the ZIP spec again, and I understand the problem is an unpredictable number of "extra field"s of unpredictable lenghts added by the python zip library.
However! Using a pure python implementation such as in https://github.com/kbbdy/zipstream/blob/master/zipstream/zipstream.py, the number of "extra field"s is unde

[2021-06-17 08:20] zorglubu commented on #407
Thank you. It changed nothing.
I could add it in my $PATH if I knew where it has been installed. I am wondering if something is really installed, and "Where ?"

[2021-06-17 08:56] ptpt commented on #407
Could you run the following to find where it is:
[code]

You can add `-f` to list all files `python3 -m pip show -f mapillary_tools`

[2021-06-17 15:50] GPSMapper commented on #405
I would also like to echo here.
1. Upload logic has changed drastically, APIV3 upload (0.6.0 and earlier) was supporting streaming upload, so every file was uploaded in a queue (default 5 streams) individually without need to be packaged. If there is a limitation with API V4 not supporting streaming - this should be addressed in first place.
2. Upload logging is now a complete nonsense - dumping h

[2021-06-17 17:23] blaueente commented on #405
I concur.
Specifically, I liked the possibility to abort the upload at any point in time and resume it later. This should be addressed with the v4 API, because it might not be possible to upload 10GB (if you have 20MB pics) in one go.

I noticed that upload rate was not limited anymore compared to v3, which seems to be one major advantage of uploading huge files to facebook servers.

The re-upload

[2021-06-17 21:08] blaueente opened #410 "tqdm is very outdated"
The currently available version of tqdm in ubuntu is 4.48.2-1. It is incompatible with the 2.2.4 mapillary requires.
Please update to a current version (i.e. major version 4) of tqdm.

[2021-06-17 21:27] blaueente commented on #405
It seems to work. However, I am not sure if I like the approach with tempfile.TemporaryFile too much. Maybe tempfile.NamedTemporaryFile would be nicer? or even  tempfile.mkstemp and then remove it only if the upload is *really* completed, to (later) allow for interruptions, such as mentioned in https://github.com/mapillary/mapillary_tools/issues/405#issuecomment-863423175 ?

[2021-06-19 22:41] WASD42 opened #412 "Rerun parameter won't update (at least) MAPAltitude attribute"
### Basic information
* Release version: `0.7.0`
* System: `Windows 10`
* Capture Device: `GoPro Fusion`

### Steps to reproduce behavior

 1. Run process on images containing GPS altitude data in EXIF; check that MAPAltitude attributes now has the same values.
 2. Amend GPS altitude value in EXIF in one of the photos.
 3. Run mapillary_tools with --rerun parameter

### Expected behavior

MAPAltit

[2021-06-19 23:23] WASD42 commented on #383
I dig this issue -- a very annoying one.

I believe that in `mapillary_tools/process_sequence_properties.py:189` the processes of deduplication by distance should run **before** the `COMPUTE DIRECTIONS` part and the deduplication by direction - where it sits now. Looks like a simple fix to me.

[2021-06-21 07:36] SapozhnikUA opened #413 "MT can't extract GPX from gopro"
Mapillary tools version : 0.7.0
After update mapillary_tools it can't extract GPX data from gopro video.
I receive error message:
**Error, failed extracting data from gopro geotag source path /..../mapillary/img/GH014221.MP4 due to a bytes-like object is required, not 'int', exiting...**
In folder with video I see only .bin file instead of gpx as before.

I didn't changed command and it worked wit

[2021-06-21 17:08] ptpt commented on #405
Hey @blaueente @GPSMapper could you try the PR above?

[code]

should upgrade

[2021-06-21 17:23] GPSMapper commented on #405
does not work for me  - itr seems tools are not updated.
I am running on Windows 10 machine. Maybe there is a different path to force upgrade?
All files timestamps remain as June 11 (last update to 0.7.0)

Run log:

[2021-06-21 17:26] ptpt commented on #405
Thanks for the fast reply! Could you try:
[code]

[2021-06-21 17:36] GPSMapper commented on #405
yes, this should be a correct syntax for switching a branch.... but stil,  no files updated (June 11th)
Run log:
[code]

[2021-06-21 17:42] GPSMapper commented on #405
Yes, this worked (forced reinstall from specific branch).
Files are are now updated, but I don't have any unprocessed files at the moment, so will do a test tomorrow.

[2021-06-22 11:21] #405 closed

[2021-06-22 11:21] ptpt commented on #410
Updated to 4.x

[2021-06-22 11:21] #410 closed

[2021-06-22 23:02] cbeddow opened #416 "Handle Garmin GPX Conversion"
User reports:  “ERROR: mapillary_tools process not possible when parameter = --geotag_source gpx”.

User finds the issue is that the specific Garmin device's GPX seems to not match the format that mapillary_tools expects:

* --geotag_source gpx is processing a gpx file.

* But mapillary_tools is expecting a Unix, UTF8 file.

* If the gpx file is created by Garmin GPS and processed on a Windows OS,

[2021-06-23 21:57] cbeddow commented on #416
Additional notes:

* Both files are UTF-8, so that’s NOT the issue.

* Windows (CR LF) or Unix (LF)

File NOT OK = Windows (CR LF)

File NOT OK = Unix (LF)

I don’t know – at this moment – if (CR LF) or (LF) is relevant.

But for Unix (LF) seems best option, always accepted.

* But ALSO: Garmin GPX is Windows (CR LF), UTF-8-BOM

BOM might be the only issue!

BOM is first 3 – invisible - Characters

[2021-06-27 19:34] pbb72 opened #417 "'mapillary_tools' is not recognized as an internal or external command, operable program or batch file."
### Basic information
* Release version: Unsure, as I can't run the tools. It's the latest version as of today.
* System: `Windows`
* Capture Device: N/A
* Python version: 3.9.5 (installed from Microsoft Store)

### Steps to reproduce behavior

 1. Paste the installation command, as per https://github.com/mapillary/mapillary_tools/README.md: `python3 -m pip install --upgrade git+https://github.com

[2021-06-27 19:55] pbb72 commented on #416
Just to add a small nuance: BOM (Byte Order Mark) is *not* a requirement for Windows. In Windows, interpreting the correct file encoding is up to the software, not the OS. However, you were almost correct, almost all Microsoft software and compilers require and use the BOM for UTF-8 files. So while it's not a requirement for Windows software, it is the de facto default...

Also not that while the

[2021-06-28 07:40] ptpt commented on #417
Hey @pbb72 I guess the installation failed, or it was not installed in your $PATH. Could you provide installation logs?

You can also download the executable for Windows in the release page https://github.com/mapillary/mapillary_tools/releases/tag/v0.7.1

[2021-06-28 15:39] bikeoid opened #419 "mapillary_tools frequent network errors"
### Basic information
* Release version: 0.7.2
* System: Windows subsystem for Linux - Ubuntu 20.04.2 LTS
* Capture Device: Blackvue DR900S - 2CH

### Steps to reproduce behavior

Processed with the command:
  mapillary_tools video_process --import_path "./UplFront" \
    --verbose \
    --video_import_path "./Front" \
    --user_name "miken" \
    --advanced \
    --geotag_source "blackvue_videos

[2021-06-28 19:18] pbb72 commented on #417
I'm not sure how I can generate installation logs, but if it's the console output you're referring to, this is it:

[code]

I can see now there is indeed mention of adding a directory to the path. This message did not stand out in between everything that scrolls over the screen while installing... If that is the reason, this should be added to the documentation, since it seems the standard Windows

[2021-06-29 13:44] danbjoseph commented on #394
i'm still running into problems, but i think it might be a problem with my system setup now?

macOS 11.4 (20F71)
Python 3.6.8
Mapillary tools 0.7.2

[code]

[2021-06-30 08:41] #419 closed

[2021-06-30 10:02] ptpt commented on #394
Yes, ffmpeg is required. See https://github.com/mapillary/mapillary_tools#video-support

[2021-06-30 10:06] #391 closed

[2021-06-30 12:18] danbjoseph commented on #394
i had to run `xcode-select --install` and then `brew reinstall ffmpeg`

[2021-06-30 15:22] SapozhnikUA commented on #413
@ptpt Seems that extraction is working but it's empty

![image](https://user-images.githubusercontent.com/48523324/123987611-02e63b80-d9d0-11eb-88f5-f3b5eb3efa55.png)

[2021-07-01 00:38] danbjoseph commented on #394
[code]

And if I try in the Mapillary Desktop Uploader I get
<img width="523" alt="Screen Shot 2021-06-30 at 8 36 42 PM" src="https://user-images.githubusercontent.com/4806884/124047817-f28b8c00-d9e2-11eb-80b3-e286654a2144.png">
But it's files from a BlackVue DR9000S-1CH that Mapillary gave me - so presumably loaded with y'alls firmware for it? It was some time ago, is there an updated firmware fi

[2021-07-01 09:11] ptpt commented on #417
Hey @pbb72 it's likely that the pip is old `WARNING: You are using pip version 21.1.1; however, version 21.1.3 is available.`.

I would suggest use python venv to install tools:
[code]

[2021-07-05 16:34] cmuerau opened #424 "Mapillary_tools cannot process GoPro videos and throws errors"
### Basic information
* Release version: `0.7.2`, commit 1f9cfb6
* System: macOS 10.14.6 (18G9216)
* Capture Device:  GoPro Hero 8 Black

### Steps to reproduce behavior

 1. run mapillary_tools to process multiple GoPro MP4 videos with GPS coordinates

### Expected behavior

 - program should create GPS data in EXIF section of each extracted JPEG file

### Actual behavior

- with binary release 0

[2021-07-05 19:01] pbb72 commented on #417
Could the information about using `venv` instead, and about the Windows executable be put in the readme? I don't know how I should have figured that out reading the current readme.

[2021-07-05 20:32] ptpt commented on #424
Hey, both the reported issue and the date formatting issue should be fixed in master. Please update and retry. Thanks for reporting.
[code]

[2021-07-05 21:09] cmuerau commented on #424
Thanks for the new commit.

Now the process itself finishes but throws a warning for every file:

`Warning, time t not in scope of gpx file by 6254.836 seconds, interpolation of latitude and longitude failed for image ...`

Later in the process it says:

[code]

At the end it tells:

`Inserting mapillary image description in image EXIF: 100%`

But when asking EXIFTOOL to check all files created fo

[2021-07-06 17:24] ptpt commented on #424
It looks like the video time is out of scope of the time scope in gpx file, and it's 6254.836 seconds behind gpx start time or beyond the end time.Try the option `--offset_time=SECONDS` to shift the video time?
[code]

[2021-07-06 18:14] cmuerau commented on #424
Thanks for the hint. I added

`--offset_time=6254.836`

.. to the end of my MT command.

It resulted in the following output:

[code]

Again:

`Warning, geotag process failed for image`

and

`Warning, sequence process failed for image`

and

`Warning, required geotag_process failed for image`

It all ended with:

`Inserting mapillary image description in image EXIF: 100%`

Checking manually and w

[2021-07-12 19:55] SapozhnikUA commented on #424
Hello.

I have thу same problem/

Sample of video: [file MP4, 66Mb](https://stat.waze.com.ua/temp/GH014221.MP4)
command:
`mapillary_tools video_process_and_upload --import_path "$IMG_PATH" --video_import_path "$VIDEO_PATH" --user_name sapozhnik --advanced  --geotag_source "gopro_videos" --geotag_source_path "$VIDEO_PATH" --interpolate_directions --video_sample_interval 1 --overwrite_EXIF_gps_tag

[2021-07-12 19:58] SapozhnikUA commented on #413
Hello,

After last update I see correct data but I have problem like:
**Mapillary_tools cannot process GoPro videos and throws errors
#424**

I think this issues can be closed. I will follow #424
Thanks

[2021-07-12 19:59] #413 closed

[2021-07-14 09:13] #417 closed

[2021-07-14 15:40] ptpt commented on #424
Hey, the fixes are pushed to the master, please update tools:
[code]

and try again. If it doesn't work, try the following fixes:
[code]

If it still doesn't work out, please reopen the issue, and if possible, send your video to the support we can help debug it.

Thanks!

[2021-07-14 20:38] SapozhnikUA commented on #424
Thanks.
It works for me with

[2021-07-15 11:05] ptpt commented on #394
Hey @danbjoseph do you have a chance to try out the latest tools here https://github.com/mapillary/mapillary_tools/releases/tag/v0.7.3?

I tested the same video_process with some blackvue videos and it run smoothly.

[2021-07-16 18:42] danbjoseph commented on #394
running on a folder of about 70 videos it hit this error
[code]
i thought maybe it was a problem with 20210620_025232_NF.mp4 but i moved that file to a separate folder, ran the script on just it, and it processed just fine. i can send you the zipped folder and the full terminal log from a failure on a folder with a lot of videos.

[2021-07-22 12:11] danbjoseph commented on #394
on the `streetlevelimagery` channel on `osmus.slack`, miken wrote "As an aside, I've noticed that some Blackvue sequences won't process when the first video in the sequence has something wrong with GPS.   I've been too lazy to report and just delete that video.   There error is different however." (in response to someone asking about an error when trying to use an offset _angle when processing Bla

[2021-07-26 20:29] cmuerau commented on #424
Tried it again today, was busy in the last two weeks.

Used command:
[code]

[2021-07-26 20:44] cmuerau commented on #424
@ptpt Is it possible that my OS platform does not properly build the software? I just updated both the Ubuntu server at my shared hoster and my local machine with the same command:

[code]

On macOS I got the warning:
[code]

Final output of my macOS 10.14 machine:

[code]

FInal output of the Ubuntu server:
[code]

[2021-07-28 07:50] ptpt commented on #394
Hey @danbjoseph in this case the GPS data is not found in the blackvue. The workaround PR #430 just skips it and continue.

Could you send the support@ this video file 20210620_025232_NF.mp4 to check why tools can't read GPS from it?

[2021-07-28 08:06] bob3bob3 commented on #394
@ptpt Tao, did you get my 2FPS BlackView vid (Mapillary firmware) to test as well?

https://drive.google.com/file/d/189B2MU_otEHJCBqxgariCK2dN34Y_yrT/view?usp=sharing

I cant email such a large file

[2021-07-28 12:27] ptpt commented on #424
@cmuerau THanks for providing the videos. I tested processing them locally and all were processed correctly. From the error traces it doesn't seems to be the latest mapillary_tools. Could you make sure mapillary_tools is installed correctly. Currently the latest version is 0.7.4. Check with `mapillary_tools --version`.

If `pip3 insatll --upgrade ...` does get you the latest tools, then check if i

[2021-07-29 08:26] ptpt commented on #394
Hey @bob3bob3 tested your video with the following command and it works too

[code]
At least the GPX is extracted:

[code]

[2021-07-31 16:12] lionkmp opened #431 "struct.error: 'H' format requires 0 <= number <= 65535"
### Basic information

* Release version:   0.7.2
* System: Linux
* Capture Device: Android, photos (not the App)

### Steps to reproduce behavior

I'm not sure if this is important, but there was ONE IMAGE that stopped the process. After I tried again. Again. Then I deleted that one image, and the rest ran OK. The images were taken with an old Samsung Note1, using a timed camera app. I've process

[2021-08-09 18:02] danbjoseph commented on #394
hi @ptpt - apologies for the delay, i was traveling and forget the drive with the files at home.
I can't find that file anywhere, are you sure it's mine?
Using `Mapillary tools version : 0.7.4`
I tried running
[code]
on a folder of 70 videos and hit this
[code]

[2021-08-10 17:21] ptpt commented on #431
It's likely that the exif library doesn't parse the EXIF correctly. @lionkmp would you mind providing the image for us to debug?

[2021-08-10 17:54] cmuerau commented on #424
@ptpt Thanks for testing my videos. This redirected myself to check my local system a little deeper.

To my surprise, I did not run the latest version of mapillary_tools in my daily user account but in my local admin account where the pip3 installations were applied in the past by me. My former understanding was, that updating mapillary_tools in the privileged account would also update it for the

[2021-08-11 06:18] lionkmp commented on #431
Yes, thank you, I also think it's a very rare case, but better error handling may be useful.
I attached it here, but I'm not sure this will keep all EXIF data intact, so I've uploaded it to this URL too:
https://www.openstreetmap.hu/letoltes/kempelen/0525.jpg

![0525](https://user-images.githubusercontent.com/5088657/128978655-7ca08b7a-7d58-487e-b281-9baac76c3261.jpg)

[2021-08-12 12:24] bikeoid opened #433 "RuntimeError: Failed to interpolate image on first video of sequence"
### Basic information
* Release version: `0.7.4`
* System: `Windows subsystem for Linux - Ubuntu 20.04.2 LTS`
* Capture Device: `Blackvue DR900S - 2CH`

### Steps to reproduce behavior
Process with the command

mapillary_tools video_process --import_path "./UplFront" \
    --verbose \
    --video_import_path "./Front" \
    --user_name "usernamehere" \
    --advanced \
    --geotag_source "blackvu

[2021-08-24 23:07] velmyshanovnyi commented on #394
ver.074

C:\Windows\system32>C:\ffmpeg\bin\mapillary_tools.exe video_process_and_upload --import_path "E:\2upload" --video_import_path "E:\2upload" --user_name "velmyshanovnyi" --advanced --geotag_source "blackvue_videos" --geotag_source_path "E:\2upload" --use_gps_start_time --interpolate_directions --video_sample_interval 0.2 --rerun --device_make "Blackvue" --device_model "DR900S-1CH" --overwri

[2021-08-31 08:47] ereenozdemir opened #434 "Blackvue "overwrite_EXIF_gps_tag" not working"
Hey,
I hope you're okey and everything fine with you :)

I have Blackvue DR900M-1CH. When I convert videos to pictures with codes, the location data of the pictures is not coming. How can we fix it?
Best.
Eren.

[2021-09-01 10:37] ereenozdemir commented on #434
mapillary_tools video_process --import_path " \
    --video_import_path "" \
    --user_name "yercizenler" \
    --advanced \
    --geotag_source "blackvue_videos" \
    --geotag_source_path "" \
    --use_gps_start_time \
    --interpolate_directions \
    --video_sample_interval 10 \
    --device_make "Blackvue" \
    --device_model "DR900M-1CH" \
    --overwrite_EXIF_gps_tag

![github](https://

[2021-09-02 09:49] ereenozdemir commented on #434
Hey :)
When I re-examined the command I wrote, I fixed the error. Thanks in advance

[2021-09-19 14:11] littlebtc opened #436 "v0.7.3+ breaks MP4 files from Mio dashcams (without creation_time)"
### Basic information
* Release version: `v0.7.3` & `v0.7.4`
* System: `Windows 10 with WSL 2 Debian`
* Capture Device: `Mio 791`

### Steps to reproduce behavior

 1. Provide a pair of MP4 video and NMEA file from Mio dashcams.
 2. Running `mapillary_tools` with command like:
[code]

### Expected behavior

The video should be able to sample and process.

### Actual behavior

It will raise an `Key

[2021-10-01 12:24] ptpt opened #437 "Mapillary_tools does repeated compression"
https://forum.mapillary.com/t/mapillary-tools-does-repeated-compression/5196

[2021-10-08 18:29] ptpt commented on #276
It's fixed in v0.8.0 which doesn't touch images during process and upload. You can:

[code]

[2021-10-08 18:29] #276 closed

[2021-10-08 18:31] ptpt commented on #332
the command process_csv is removed in v0.8.0 so it's not relevant any more

[2021-10-08 18:36] #380 closed

[2021-10-08 18:37] #321 closed, assigned to nobody

[2021-10-10 19:20] moenk opened #439 "mapillary_tools upload exception pymp4 major brand string"
`D:\Mapillary\mapillary_tools>C:\Python38\python.exe -m mapillary_tools process_and_upload  --import_path "D:\Mapillary\DCIM" --user_name "moenk"
Traceback (most recent call last):
  File "C:\Python38\lib\runpy.py", line 193, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Python38\lib\runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "D:\Mapillar

[2021-10-11 11:17] ptpt commented on #436
@littlebtc which command did you rerun? If the video path is a single video file (e.g. ~/todo/FILE210916-094020F.MP4), only the sampled images from this file will be processed.

By strange coordiantes, do you mean it geotag wrong videos from the nmea file, or the coordinates interpolated from the nmea file are strange?

I usually run the following command to debug the image description file:
[code

[2021-10-12 21:48] dbdean opened #440 "Add option to automatically skip images in video_process_and_upload"
### Basic information

I'm running the latest version of mapillary_tools straight from the github source, using the docker-compose file (that I created) located at https://github.com/dbdean/mapillary-upload-docker/blob/main/docker-compose.yml.

I'm processing a large volume of images for @bob3bob3 captured using a BlackVue DR900S-1CH.

### Steps to reproduce behavior

Run the following command on

[2021-10-13 09:14] ptpt commented on #439
@moenk it seems to be related to the construct library used in pymp4 https://construct.readthedocs.io/en/latest/

A refresh reinstall should solve the issue (recommend virtualenv https://github.com/mapillary/mapillary_tools#development)

I will check if it's possible to lock pip dependency versions so this won't happen again.

[2021-10-13 09:46] dbdean commented on #440
@ptpt, I think that would be a good solution.

[2021-10-13 15:40] teddy1173 opened #441 "mapillary tools 0.8.0 offset time and time picture taken not recognized"
### Basic information
* Release version: 0.8.0
* System:Linux
* Capture Device: YI 4k Action Camera

I just updated mapillary tools and tried to process my images. Problem is: My action cam does not have gps, so I record a gpx file with smartphone. It worked ok with older versions of mapillary tools, but now, whatever I set as offset time, the pictures are always correlated so that the first pictu

[2021-10-13 16:15] ptpt commented on #441
Hey @teddy1173 thanks for trying out 0.8.0 and sorry for breaking the workflow. Indeed `0.8.0` doesn't consider image start time any more, instead it uses GPS/GPX first point for interpolation (which is equivalent to `--use_gps_start_time` in the previous versions). This is by design because some incorrect interpolation issues from previous versions #424, #433, #394, or missing image timestamp #43

[2021-10-13 20:18] AnkEric opened #443 "mapillary tools version 0.8.0 calculates incorrect number of duplicates"
# Basic information
•	Release version: 0.8.0
•	System: Windows
•	Capture Device: Action Camera , Garmin VIRB XE

# Steps to reproduce behavior

1.	Capture TEST sequence

•	720 Images
•	Interval: 1 image/second
•	Travel by motorcar, no stops

2.	GPX file (Garmin GPSMAP 66s)

3.	mapillary_tools process

•	mapillary_tools process <<import_path>> --skip_subfolders --geotag_source_path <<gpx_file>> --g

[2021-10-13 22:22] AnkEric opened #444 "mapillary tools 0.8.0 offset time (GPX) and MAPCaptureTime Incorrect by Intentional COPY Images Error"
### Basic information
* Release version: `0.8.0`
* System: `Windows`
* Capture Device: `Action Camera`

Related to: https://github.com/mapillary/mapillary_tools/issues/441

### Steps to reproduce behavior

 1. Process 720 Images, sequence date = 2021-10-12, having GPX 2021-10-12

- mapillary_tools process <<import_path>> --skip_subfolders --geotag_source_path <<gpx_file>> --geotag_source gpx --int

[2021-10-14 05:32] pkubowicz commented on #441
This is a **bug**. There *has* to be a way to correct for a situation where GPS device clock has a constant difference with image capturing device clock. This has always been a case for me, and this is also a case for teddy1173. I have a popular car camera that produces a constant clock drift even though GPS and lens are one device.

It's ridiculous that such changes happen, it's ridiculous that s

[2021-10-14 05:48] pkubowicz commented on #441
Another broken use case: I have .gpx file for a whole hour, but videos have 5 minutes each. Say .gpx starts at 14:00, first video starts at 14:00, second video starts at 14:05. Say I `process` the second video. Pre 0.8.0 correct location was assigned to photos. In 0.8.0 second video will have locations assigned but locations will come from 14:00 to 14:05. This is several hundred meters error.

`pr

[2021-10-14 06:52] jonpsp commented on #441
That's exactly the same as my use case - action camera without GPS records
a video every 5 minutes, single GPX file for the whole period recorded on
my phone. Note that there is not an easy way to set the time on my main
camera, so the video time can be up to 1 minute different from my phone
time.

Jon

On Thu, 14 Oct 2021, 06:48 Piotr Kubowicz, ***@***.***> wrote:

[2021-10-14 08:11] ptpt commented on #441
Thank you all for the input. I will working on the fix right now.

[2021-10-14 19:39] ptpt commented on #441
Thank you for the help. I will land the PR first to avoid more confusion. Feel free to close the issue.

To install the latest from the main branch:
[code]

[2021-10-14 19:41] ptpt commented on #444
Hey @AnkEric could you check if the latest commits fix the issue?

[code]

[2021-10-15 10:31] ptpt commented on #443
It's probably because you `--overwrite_all_EXIF_tags` overwrites all EXIF which results in new GPS directions/locations that affects the duplications in the next run.

All errors are written in the `mapillary_image_description.json` file

That means some of the 5 sequences are split into several sequences, due to long gaps in between. Check `--cutoff_distance` and `--cutoff_time`.

The filename du

[2021-10-15 10:39] ptpt commented on #416
@AnkEric could you check if it's fixed in https://github.com/mapillary/mapillary_tools/pull/446 (which upgrade the gpx library to latest) while you are extensively testing mapillary_tools ;)

[2021-10-15 11:52] AnkEric commented on #416
I could if I would know how to get this: "which upgrade the gpx library to latest"".

It's not in my recent update:

python3 -m pip install --force-reinstall --upgrade git+https://github.com/mapillary/mapillary_tools

(Or: it's not fixed...)

[2021-10-15 12:01] ptpt commented on #416
Could you list all installed liaraies

[code]

It should be 1.4.2. If not

[code]

[2021-10-15 13:22] AnkEric commented on #443
Yes, it does fix.
However, this is (might be): “throwing the baby out with the bathwater”.

My Test 2012-10-12:
Drive by motorcar, city driving so max 50 km/h, no stops (except for one highway crossing and once making a u-turn): 720 images, 1 image/second.
So, my assumption, best guess: no or very few duplicates and only one sequence (no long gaps in between, --cutoff_distance  --cutoff_time).
Tha

[2021-10-15 13:48] ptpt commented on #443
It’s my assumption this FIXED position should by uploaded to Mapillary. Only option to do so (also: my assumption) is by updating EXIF: --overwrite_EXIF_gps_tag.

It does fix the GPS position in the image EXIF, but when it comes to uploading, the value in the image description file will be used instead of the EXIF one. Therefore `--overwrite_all_EXIF_tags` can be skipped if you don't need the EXIF

[2021-10-15 18:13] teddy1173 opened #450 "tools 0.8.0 upload images over and over again"
### Basic information
* Release version: `0.8.0`
* System: `Linux`
* Capture Device: `Action Camera`

It seems that with 0.8.0 the tools don't know which pictures have already been uploaded, and starts all over again. I uploaded 2597 pictures yesterday, and I was astonished to find that one sequence shows double in the feed. I guess I uploaded this the day before...Today, I wanted to know if some

[2021-10-17 15:34] SapozhnikUA opened #452 "MT 0.8.0 GoPro problem with 'localtime | use_gps_start_time | offset_time'"
* Release version: `0.8.0`
* System: `Linux`
* Capture Device: `Action Camera GOPRO`

I had the same problems on previous version MT but it was solved in [ISSUE#424](https://github.com/mapillary/mapillary_tools/issues/424)
But in MT 0.8.0 these arguments aren't available and I again had this problem:
`1. Specify --local_time to read the timestamps from the geotag source file as local time`
`2. Use

[2021-10-17 18:17] ptpt commented on #452
@SapozhnikUA

* `--use_gps_start_time` is renamed to `--interpolation_use_gpx_start_time`
* `--local_time` is replaced by `--interpolation_offset_time`

[code]

[2021-10-17 18:31] SapozhnikUA commented on #452
@ptpt
Thanks!!!
It helps me.

[2021-10-17 18:31] #452 closed

[2021-10-19 22:03] #431 closed

[2021-10-21 18:27] #443 closed, assigned to nobody

[2021-10-21 18:49] #444 closed, assigned to nobody

[2021-10-22 20:55] pkubowicz opened #463 "process_and_upload ignores --offset_angle"
### Basic information
* Release version: 0.8.0
* System: Linux
* Capture Device: phone camera

### Steps to reproduce behavior

 1. take a single photo taken by camera, with GPX position in EXIF but no direction
 2. execute `mapillary_tools process_and_upload mapillary --user_name my-name --offset_angle 280`

### Expected behavior

www.mapillary.com/app/ shows the photo with given angle

I always

[2021-10-23 11:14] pkubowicz opened #465 "Make sample_video less verbose"
`mapillary_tools sample_video` starts by printing out very verbose ffmpeg version information to console:

[code]

And so on. This takes more than half of my terminal's height and makes it harder to see relevant information (like how many images failed or were detected as duplicates). There is more noise than signal in the output.

Also the ffmpeg run itself is quite verbose, but I can agree some

[2021-10-23 11:27] #463 closed, assigned to nobody

[2021-10-25 21:34] bob3bob3 opened #467 "Failure video_process_and_upload on BlackVue mp4"
### Basic information
* Release version: `0.8.0`
* System: 'Linux`
* Capture Device: `BlackVue DR900S-1CH (Mapillary F/W)`

### Steps to reproduce behavior

Difficult to be specific here - no errmsgs, just partial/incomplete operation

- Debian Buster (latest patched state)
- Python 3.7 virtual environment - steps
python3 -m venv venv
source venv/bin/activate
python3 -m pip install wheel
python3 -

[2021-10-26 10:54] teddy1173 opened #468 "mapillary_tools 0.8.0 no device make / model"
### Basic information
* Release version: `0.8.0`
* System: `Windows` | `Linux` | `...`
* Capture Device:  `Action Camera`

tools 0.8.0  don't show camera make or model. This was a really cool feature. It was ok with 0.7.4, but no more with 0.8.0. Please bring it back if possible.
0.7.4: in EXIF:
"MAPDeviceMake": "XIAOYI", "MAPDeviceModel": "YDXJ 2",

pictures uploaded with 0.8.0 just show "none no

[2021-10-28 15:32] #468 closed, assigned to nobody

[2021-11-05 17:14] #467 closed

[2021-11-05 17:18] ptpt commented on #467
It's because 5 images failed and the errors were not written in the image description file. Fixed in https://github.com/mapillary/mapillary_tools/pull/470. Check the image description file why they are failed. Most likely the images are outside the gpx.

[2021-11-13 02:52] bob3bob3 opened #473 "Failure BlackVue video sampling - Date Time EXIF tag"
### Summary
During either sample_video or video_process for a directory (multiple BlackVue mp4 files) the "Date and Time (original)" EXIF tag is only correct for the images sampled from the first video. Subsequent video samplings have the SAME tags written as the first video.

When (if) the process step enacts, the "MapillaryOutsideGPXTrackError" gets larger and larger by approximately 1 minute pe

[2021-11-14 07:13] #465 closed

[2021-11-14 07:16] ptpt commented on #473
Could you add --verbose and --rerun and share the output:
[code]

For each video, after sampling you will see information like this:
[code]

[2021-11-14 07:43] GITNE commented on #439
It seems like I am having the same problem. I have installed pymp4 1.2.0 and construct 2.10.67 and it just falls apart. I cannot even run a simple `--version` option.

Or better yet, file a bug with pymp4 to accommodate for any changes in construct.

[2021-11-14 08:06] GITNE commented on #439
After a downgrade to pymp4 1.1.0 it still does not work. :disappointed: It’s just abysmal. Now what? Am I supposed to figure out what version of construct worked with pymp4 1.1.0? This is just ridiculous :exploding_head:

[2021-11-14 21:14] bob3bob3 commented on #473
Verbose as requested.

I started with empty output then did --rerun. Note that This argument deletes all the output structure first.

Commands (omitting --rerun as needed)

INPUT=/home/bcameron/Thing/Mapillary/newtest/20211003/tao2/
mapillary_tools --verbose video_process \
--geotag_source "blackvue_videos" \
--geotag_source_path $INPUT \
--interpolate_directions \
--video_sample_interval 0.5 \
--

[2021-11-15 13:47] #473 closed

[2021-11-17 04:03] bob3bob3 opened #476 "Enhancement suggestion BlackVue processing"
Looking at the way the code works and the resultant image output, it appears that the BlackVue video stream is actually a couple of seconds later than the NMEA code embedded in the mp4. As a result the last few frames of the movie are not processed. In the case of 2FPS this most often results in 117 valid frames out of the 122. There are then "gaps" between sequences when viewing via the web GUI.

[2021-11-18 23:13] bob3bob3 commented on #476
##WARNING##

Processing BlackVue mp4's using the gpx source (as above) resulted in a 4-5 second image/geoencde delay. ie the image was referenced to a later time.

[2021-11-19 08:17] ptpt commented on #476
Have you tried `--interpolation_offset_time` to shift the video time (as well as interpolated GPS positions)? Does it solve the issue?

[2021-11-19 08:30] bob3bob3 commented on #476
Yes that works. A number of -5 seconds yields acceptable results.

Note that this wasn't the issue as such, but that pre-concatenating the BlackVue NMEA streams (and using) may be a worthwhile (future) change to the tools.

[2021-11-19 15:15] Strubbl opened #477 "what happens to --keep_original in release 0.8.0?"
### Basic information
* Release version: `0.8.0`
* System: `Windows` | `Linux` | `...`
* Capture Device: `iOS` | `Android` | `Action Camera` | `...`

### Steps to reproduce behavior

 1. use `--keep_original` as parameter as it was possible in release 0.7.6., e.g. `mapillary_tools process_and_upload --user_name "xyz" --keep_original ~/photos3`
 2. get error `mapillary_tool: error: unrecognized arg

[2021-11-19 18:28] bob3bob3 commented on #477
Just a remark

Prior to 0.8.0 a "special" image file EXIF tag was written for use by the Mapillary server, This is no longer the case, now that information is held in a separate json file. The other EXIF tags have always been optional and can be suppressed by the relevant tagging command.

In short the original image file is no longer changed, thus --keep_original is not needed.

[2021-11-20 08:18] bob3bob3 commented on #311
Old...

[2021-11-20 08:18] #311 closed

[2021-11-20 08:19] bob3bob3 commented on #309
old

[2021-11-20 08:19] #309 closed

[2021-11-20 10:49] Strubbl commented on #477
Also there is no progress shown anymore. How do i know what's the current status of the upload? I only see a lot of python stacktraces. If i restart the process, does it upload all photos again? Version 0.8.0 is kinda unusable in this regard.

[2021-11-20 12:39] bob3bob3 commented on #477
I use --verbose as the first argument after "mapillary_tools". It's all text, but very detailed and easy to figure where the upload is up to.

I only did limited testing with crash/restart. It recovered okay. There was a (fixed) bug a month plus ago that was duplicating uploads, so keep it updated, The actual version number isn't changing so;
python3 -m pip install --upgrade git+https://github.com

[2021-11-21 08:41] SapozhnikUA opened #478 "Problem with gpx start and end values in json"
### Basic information
* Release version: `0.8.0`
* System: ``Linux`
* Capture Device:  `DVR`

### Steps to reproduce behavior
 1. I have folder with ~ 100 different mp4 and gpx files
 2. I created bash which run mapillary_tools string for each file:
mapillary_tools video_process "$video" "$IMG_PATH" --geotag_source "gpx" --geotag_source_path "$gpx_path" --interpolate_directions --video_sample_inte

[2021-11-21 21:33] #476 closed

[2021-11-21 22:59] Strubbl commented on #477
i could upload duplicates :( now i have a lot of pictures duplicated. How can i clean this and delete the duplicate ones?

[2021-11-22 02:41] bob3bob3 commented on #477
The web GUI has had the ability to delete entire sequences function reinstated. It does take maybe 2 weeks to work though. Individual image deletion isn't available though.

[2021-11-22 17:03] Strubbl commented on #477
Thanks for the hint, i have found the web gui option to delete the entire sequence.

[2021-11-22 17:46] Strubbl commented on #477
i tried that, but the strings are not very readable for me. i do not know where the status of the current uploaded sequence is nor do i know which sequence is uploaded.

The bug might still exist, since i have a lot of duplicated sequences 😭 and it is a lot to click to get only one sequence reported to be deleted

[2021-11-22 19:53] bob3bob3 commented on #477
The debug info - example;

2021-11-20 14:47:32,618 - DEBUG  - Sending upload_progress via IPC: {
'sequence_idx': 1, #### SEQUENCE CURRENTLY BEING UPLOADED ####
'total_sequence_count': 3, #### TOTAL NUMBER IF SEQUENCES TO UPLOAD IN THIS SESSION ####
'sequence_image_count': 122,
'sequence_uuid': '3357f558-d303-4e68-80c2-cc9a70149b57',

'entity_size': 211321085, #### TOTAL (SEQUENCE) FILESIZE BEING U

[2021-11-22 21:07] Strubbl commented on #477
Oh, i only have /tmp with 16 GB space (due to RAM limitation). And often i have a folder of pictures with way more than 16 GB, e.g. up until 60 GB uncrompressed size.
So what happens when /tmp is full?

Not very nice to read if you have big numbers, e.g. your entity size 211321085. How many digits is this? 0.7.6 was way better readable.

If i have to list them manually, i can also click one more t

[2021-11-23 00:38] bob3bob3 commented on #477
This may help;
https://forum.mapillary.com/t/oserror-errno-28-no-space-left-on-device-when-uploading/5370/8

I'd guess that with 16GB space you wont have a problem. I think one sequence only has 500 images maximum so maybe only 500Mbytes-1GBytes used at a time?

If not then setting the tmp location environment variable elsewhere can be done just prior to running the tools. There is also a dry-run

[2021-11-23 06:58] #477 closed

[2021-11-23 08:25] ptpt commented on #477
Thanks for the report. The upload progress bar was accidentally removed. It should be back now. It will not show in verbose mode though (--verbose).

To upgrade
[code]
As @bob3bob3 mentioned, extra space for storing a zip file of maximum 500 images is required. So 16GB /tmp will be fine. If it's still a concern, you can specify where to store the zip files https://github.com/mapillary/mapillary_to

[2021-11-23 08:47] ptpt commented on #478
It's likely to be fixed in https://github.com/mapillary/mapillary_tools/issues/473

[2021-11-23 09:31] SapozhnikUA commented on #478
Hello,
Thank you for reply.

I updated it again but it doesn't help
I see the same data in json and at the end:

[code]

[2021-11-23 22:14] Strubbl commented on #450
*disabled by default*:
So if mapillary does not care about duplicated uploads, i am fine with that. Then i do not care, too.

[2021-11-25 15:32] #478 closed

[2021-11-28 21:57] masterofnoroad opened #481 "Possibility to take picture order in sequence from filename not from exif date created field"
Unfortunately GoPro 8 black (and later model also as far I know) has a bug in writing correctly timestamp into EXIF.
So when using photo timelapse mode to capture mapillary sequence it results in spider web connections like here:

https://www.mapillary.com/app/?pKey=565916665240076

It would be easy to workaround the gopro bug to upload photos sorted by filename which always is correct, or use GPS

[2021-12-12 17:20] blaueente opened #482 "Errors in EXIF processing"
I just updated using the recommended
`python3 -m pip install --upgrade git+https://github.com/mapillary/mapillary_tools`

Now the upload process fails for all images. See log below.

### Basic information
* Release version: `0.8.0` (current git 42e0e20)
* System:  `Linux`
* Capture Device: `Android` (OpenCamera + location tags inserted by josm)

### Steps to reproduce behavior

 1. mapillary_tools

[2021-12-12 17:41] blaueente commented on #482
I tried downgrading:
`python3 -m pip install --upgrade git+https://github.com/mapillary/mapillary_tools@69331f38da627e21177b2324e59167711ac977f3 `
did not fix it.

`python3 -m pip install --upgrade git+https://github.com/mapillary/mapillary_tools@b19af6e1497ed35b23b5b92696cdc69f347185b4 `
(release 0.7.4) fixed it.

[2021-12-13 15:39] ptpt commented on #482
Hey @blaueente could you provide one of such images so we can reproduce the issue?

[2021-12-24 04:11] ptpt commented on #476
Hey @bob3bob3 I'm using this command to extract gpx from blackvue. Hope it's useful for you too:

[code]

[2021-12-24 04:52] bob3bob3 commented on #476
Thanks @ptpt !

[2021-12-27 20:33] #482 closed

[2021-12-28 03:22] #388 closed

[2021-12-28 03:22] #412 closed

[2021-12-28 03:24] ptpt commented on #395
With 0.8.0 and above, it should interpolate by GPX if you do NOT add `--interpolate_directions`:

[code]

[2021-12-28 03:24] #395 closed

[2021-12-28 03:24] #407 closed

[2022-01-23 04:50] Bartixxx32 commented on #436
Hello, im stuck with same problem CAM: Mio MiVue C570
![image](https://user-images.githubusercontent.com/16412925/150665335-ea8d3de4-f224-48c3-90f8-8dbe169ea0ab.png)
Im doing somentig wrong? tried ubuntu WSL and native windows libray

[2022-02-01 00:57] Bartixxx32 opened #500 "Creation_time error when processing: Mio MiVue C570"
### Basic information
* Release version: `0.8.1`
* System: `Windows` | `Linux`
* Capture Device: `MiVue C570`

### Steps to reproduce behavior

 1. Run command in CMD
 -  ```mapillary_tools-0.8.1-win.exe video_process todo/FILE210225-222951F.MP4 --geotag_source "nmea" --geotag_source_path todo/FILE210225-222951F.NMEA --overwrite_all_EXIF_tags```

### Expected behavior

To work

### Actual behavior

[2022-02-01 16:06] ptpt commented on #500
Duplicated with https://github.com/mapillary/mapillary_tools/issues/436

[2022-02-01 16:06] #500 closed

[2022-02-01 16:21] ptpt commented on #436
@Bartixxx32 The video creation time is required for sample image location interpolation. The reason 0.7 works is that it uses 0 as the default timestamp if creation time is not found.

In 0.8 you can do the same manually:
[code]

However, you might see lots of images failed due to OutOfGPX error. This is because 1970_01_01_00_00_00_000 is out of your GPX time range. In this case, use `--interpolat

[2022-02-01 22:09] Bartixxx32 commented on #436
ok seems, this one worked thanks a lot, btw i have other question.

I`m able to process multiple files at once? like 10 videos in vid/ folder and 10 nmea in nmea/ folder, will program know whih video and nmea it should merge? nmea and vid have same names

[2022-02-01 22:27] ptpt commented on #436
No unfortunately, mapillary_tools isn't very smart. In this case you can script it, for example:

[code]

[2022-02-01 22:28] Bartixxx32 commented on #436
oh, thats gonna work :) but in wsl mode ill will get slower convertions but, its better than nothing! Thanks

[2022-02-02 03:26] Bartixxx32 commented on #436
Hello @ptpt , i have ended with somentig like:
![image](https://user-images.githubusercontent.com/16412925/152088524-cffd672b-cb6f-4e7a-a2a0-d466945ebc17.png)
But doing ` mapillary_tools upload vid/mapillary_sampled_video_frames/`
seems only uploading the one sequence :/

[2022-02-03 06:29] ptpt commented on #436
That's right. `video_process` is simply the combo of `sample_video` and `process`. `process` will generate the new mapillary description file and override the old one if exists. Sorry for the lost processed data.

When you script your upload solution, it might be useful to test the upload part with `--dry_run` first, which simulates the upload and tell you how many images/videos will be uploaded.

[2022-04-04 08:19] WASD42 opened #503 "0.8.2 video_process command for GoPro camera does not work on Windows 10"
### Basic information
* Release version: `0.8.2`
* System: `Windows 10`
* Capture Device: `GoPro Hero 8 Black`

### Steps to reproduce behavior

 1. Capture a video with GoPro
 2. run `mapillary_tools --verbose video_process $VIDEO_PATH $PICS_PATH --geotag_source "gopro_videos" --interpolate_directions  --video_sample_interval 1`

### Expected behavior

The process finishes successfully.

### Actu

[2022-04-24 21:55] smellyspice opened #504 "--duplicate_distance will never be true without --duplicate_angle also being true"
### Basic information
* Release version: `mapillary_tools version 0.8.2`
* System: `Linux`
* Capture Device: `GoPro MAX`

### Steps to reproduce behavior

 1. Series of geo located images where I stopped at a red light for a few mins, then continued
 2. specify option --duplicate_distance 5 **without**--duplicate_angle
 3. Cluster of images expected to be excluded due to lingering at the red stop

[2022-04-25 03:23] ptpt commented on #504
This is expected. Mapillary Tools consider images at the same point (<= distance_duplicated) **and** at the same angle (<= angle_duplicated) as duplicated. Because photos taken at the same point but in different directions could be still useful ;)

To solve this problem (or any other 360 camera), you can try specify `--distance_duplicated 5 --angle_duplicated 360` to disable the angle duplication.

[2022-04-25 12:42] smellyspice commented on #504
@ptpt - Thanks for the quick reply and workaround.

No doubt being able to process images at the same location in different directions is useful. However, `--duplicate_angle` is an _optional_ filter and by **not** using it, I would expect the application **not** to perform any angle dup checks!

Perhaps the fix here is to either change the default value to 360 so it acts `disabled` by default (as

[2022-05-13 12:17] brunnerpaul commented on #504
Thanks to you both for raising this issue and providing a workaround.

I agree with everything in @smellyspice's last comment, following his suggestion would surely help many users (otherwise we have to rely on users finding this thread here for the workaround).

[2022-05-28 15:23] RudyTheDev commented on #503
I am experiencing the same crash and the above fix by WASD42 appears to fix it. Win 10 Pro.

I was doing `mapillary_tools-0.8.2-win.exe video_process "videos/" "images/" --geotag_source "gopro_videos" --interpolate_directions --video_sample_interval 1`

The trace I got was:

[code]

Which led me to this issue report.

[2022-05-28 16:28] RudyTheDev opened #505 "Images sampled from GoPro split videos repeat the timestamps for each video segment"
### Basic information
* Release version: `main` (but with a fix applied first from https://github.com/mapillary/mapillary_tools/issues/503)
* System: `Windows 10 Pro x64`
* Capture Device: `GoPro HERO8 Black HD8.01.02.50.00`

### Steps to reproduce behavior

 1. Have a video recorded on GoPro Hero 8 long enough to be split into 2+ files, i.e. `videos/GH01####.MP4`, `videos/GH02####.MP4`, etc.
 2.

[2022-06-01 17:38] ptpt commented on #504
Thanks for the input. Hard to change the defaults because it has been there for a while. We can definitely clarify it in the manual or docs. Will fix it in the next release.

[2022-06-01 18:33] RudyTheDev commented on #505
Oh, ffprobe actually shows things that exiftool doesn't. I didn't realize that. I'll dump the full results from a sequence I have below, but here's the only useful thing I see from first, second (15 skipped) and last video files:

[code]

[code]

[code]

Looks like `creation_time` for the container and all streams is the same, but the `timecode` for embedded streams is per-file.

I don't see anyth

[2022-06-19 15:53] littlebtc commented on #504
And it seems that interpolate will run after the duplication check, means there is no way to remove duplication if there is no  direction in the source EXIF.

I hope it should be somehow clarify or fixed too?

[2022-06-28 20:56] ptpt commented on #381
Checkout https://requests.readthedocs.io/en/latest/user/advanced/#proxies

[code]

[2022-06-28 20:56] #381 closed

[2022-06-28 20:57] ptpt commented on #433
Closing because no response. Feel free to reopen if it's still an issue.

[2022-06-28 20:57] #433 closed

[2022-06-28 20:59] #340 closed

[2022-06-28 21:01] ptpt commented on #394
Please try the latest version.

[2022-06-28 21:01] #394 closed

[2022-06-28 21:25] ptpt commented on #138
Users can update the coodinates in the image description file (in JSON) before uploading https://github.com/mapillary/mapillary_tools#image-description

[2022-06-28 21:25] #138 closed

[2022-06-28 22:17] #504 closed

[2022-06-28 22:17] ptpt commented on #504
Let me know if it makes sense to you

[code]

[2022-06-29 03:38] #503 closed

[2022-06-29 03:44] ptpt commented on #503
Could you check if the latest works for you on Windows?

[2022-06-29 10:20] RudyTheDev commented on #503
I does work for me on Windows now, yes.

[2022-07-14 23:58] ptpt commented on #64
This is added in 0.8

[2022-07-14 23:58] #64 closed

[2022-07-15 00:01] ptpt commented on #193
This is not supported unfortunately.

[2022-07-15 00:01] #193 closed

[2022-07-15 00:02] #260 closed

[2022-07-15 04:04] marcgemis opened #512 "v0.8.2 "is damaged" and does not run on Apple M1 with Monterey 12.4"
I just downloaded mapillary_tools v0.8.2 on an Apple M1 running Monterey 12.4.
Each time I try to execute the program, I get a popup with “mapillary_tools” is damaged and can’t be opened. You should move it to the Bin." I have to choose between Cancel and Move to Bin.

Since this is a new machine, I have not run earlier versions of mapillary_tools on it.

[2022-07-15 22:40] #264 closed

[2022-07-15 22:50] #450 closed

[2022-07-15 22:53] ptpt commented on #450
Hey all,

Upload duplication check is enabled by default now. You don't need this trick any more https://github.com/mapillary/mapillary_tools/issues/450#issuecomment-950131761

With this enabled, it should be safe to re-upload the same folder as it will skip the uploaded ones and continue. If not, please let me know.

[2022-07-23 01:59] ptpt commented on #512
After downloading the binary, you need to run:
[code]
then it should work

[2022-07-25 19:43] danbjoseph commented on #394
this appears to be working for me without issue. thanks @ptpt !

[2022-08-04 21:26] ptpt opened #521 "Extract camera model/make from videos"

[2022-08-05 14:38] Mr-Technician opened #522 "Mapillary tools crashes when using ZScaler Proxy"
### Basic information
* Release version: `0.9.0`
* System: `Windows`
* Capture Device: `Ricoh Theta V`

### Steps to reproduce behavior

I get an SSL error  when using mapillary tools behind a Zscaler proxy.
 1. Launch mapillary with `./mapillary.exe authenticate`
 2. Type in credentials
 3. Wait for it to crash

### Expected behavior

The login/upload should work regardless of proxy and without n

[2022-08-05 16:11] ptpt commented on #522
Could you reproduce the issue with the pip installed one?

[2022-08-05 19:43] Mr-Technician commented on #522
Let me see, I have asked for the SSL exceptions to be removed temporarily and will get back to you.

[2022-08-05 20:26] Mr-Technician commented on #522
@ptpt I am 99% certain Mapillary is not at fault here. I get a similar SSL error installing mapillary through PIP:
[code]
I realize that git not being installed is part of the issue but the SSL issue is more glaring.

I found this from Zscaler: https://community.zscaler.com/t/installing-tls-ssl-root-certificates-to-non-standard-environments/7261?page=2#:~:text=get%20http.sslcainfo)-,Python,-Python

[2022-08-05 20:26] #522 closed

[2022-08-09 17:59] ptpt opened #524 "Reduce processing overhead for large amount of imagery data"
Although processing images (reading geotags) are fast, for large amount of data it's still slow. We should avoid processing the same images that has been uploaded or processed. See https://forum.mapillary.com/t/mapillary-tools-0-8-no-status-kept/6197/16

[2022-08-22 20:52] ptpt commented on #505
Hey @RudyTheDev could you try out the latest commit and see if it works. Feel free to reopen if it does not.

[2022-08-24 09:25] RudyTheDev commented on #505
The current main revision gives me this when run:

[code]

[2022-08-24 16:21] ptpt commented on #505
What "construct" version are you using? Check:
[code]

If it is lower than the specified version `construct>=2.10.0,<3.0.0` in requirements.txt, upgrade it with `python3 -m pip install -U construct`

[2022-08-24 22:43] RudyTheDev commented on #505
I checked the version and it was `2.8.8`. I ran the upgrade and it upgraded to `2.10.68`. It complained that pip was incompatible, so I upgraded it from `22.0.4` to `22.2.2`. It runs now. Sorry if this is some basic stuff, I really don't know anything about Python and the `setup.py` didn't say anything was wrong (that I saw anyway).

I don't have a full sequence right now to sample; I tried to sam

[2022-08-25 11:41] RudyTheDev commented on #505
I ran on it on 4-file long sequence.

The differences between video files in `ffprobe` are as before - `timecode` in stream metadata is different. (The only other differences are tiny duration, bitrate, size and frame count.)

The creation timestamp of all streams in each file is the same:
[code]

Time codes of all the individual streams in each file are:
[code]

The durations of video files are:

[2022-08-25 14:51] BrettFrahm opened #533 "Question about Duplicate Info"
Basic information
System: Windows
Capture Device: Go Pro Max

Question:
Is there information about which photos were duplicates in the .mapillary logs after you upload. I've been looking through the .json files and I can't find where it says which photos were duplicates and weren't uploaded. Only place I can find duplicate information is in the mapillary_import_summary.json where it says the numbe

[2022-08-26 05:12] ptpt commented on #533
Yes, the [latest version](https://github.com/mapillary/mapillary_tools/releases/tag/v0.9.1) writes all processing metadata in a single JSON file "mapillary_image_description.json", including which images are duplicates.

[2022-08-26 05:49] ptpt commented on #505
Thanks for the update.

I wasn't clear on what the PR fixes. https://github.com/mapillary/mapillary_tools/pull/529 doesn't fix video segment creation times. Instead it forces the samples and the GPS trace to use the same clock, so that the samples can be interpolated on the right locations along the GPS trace.

I will address the creation timestamp issue in another PR.

[2022-08-27 06:54] mapconcierge opened #536 "RICOH THETA X 1.20.0 8K/2FPS video mode can't upload to mapillary"
### Basic information
* Release version: `0.9.1`
* System: `macOS 12.0.1`
* Capture Device: `Ricoh THETA X 1.20.0`

### Steps to reproduce behavior

 1. THETA X, 8K/2FPS mode
 2. Take a video.
 3. Copy mp4 file to PC(mac)
 4. run **% mapillary_tools video_process "." --geotag_source "camm"** command
 5. **"UDTA parsing failed retrying raw"** and some error happened.
 6. Generated "mapillary_sample

[2022-08-27 17:10] #536 closed

[2022-08-27 17:12] ptpt commented on #536
Should be fixed in the PR. Try it out with the latest commit:
[code]
Reopen if it doesn't work.

Thanks a lot for the detailed report and the sample videos. The sample videos are very useful!

[2022-09-18 17:25] DavidMetcalfe commented on #512
What happened to building from a local system to enable M1 support? This is still not fixed as of v0.9.1

[2022-09-19 13:12] richlv commented on #524
Heya, any luck with this one?
Ended up reprocessing and EXIF-testing a lot of data today, would have benefited from the suggest functionality a lot :)

[2022-09-19 20:37] DavidMetcalfe opened #547 "mapillary_tool: error: invalid choice: 'from multiprocessing.resource_tracker import main;main(3)'"
### Basic information
* Release version: `0.9.1`
* System: `Mac OS 13.0`
* Capture Device: `BlackVue`

### Steps to reproduce behavior

 1. Copy videos from MicroSD card in BlackVue camera to Mac HDD.
 2. Run `./mapillary_tools upload_blackvue ./ --user_name "davidmetcalfe"`
 3. Allow upload process to run through videos in folder.
 4. Observe error message after upload is completed.

### Expected

[2022-09-19 20:39] DavidMetcalfe commented on #547
The same error has occurred on every upload I've performed on `v0.9.1` (3 batches now).

[2022-09-20 18:14] ptpt commented on #547
It seems to be warnings from pyinstaller side https://github.com/pyinstaller/pyinstaller/issues/4865

[2022-09-20 18:19] ptpt commented on #512
@DavidMetcalfe didn't it work after `xattr -c mapillary_tools` on your M1? What was the error? I own a M1 and it works.

[2022-09-20 18:41] ptpt commented on #524
@richlv maybe this isn't an issue if you process your images once, and then keep uploading.

Instead of keeping processing and uploading:
[code]

Run:
[code]

[2022-09-20 19:23] #547 closed

[2022-09-20 20:13] DavidMetcalfe commented on #512
@ptpt The `xattr -c` step works, but why isn't it incorporated into the tool as an automated step? Can it only be done manually by the user? If so, this step should be documented.

[2022-09-28 12:58] RuikangSun commented on #522
Similar issue using proxy to upload images. In addition, with proxy, Mapillary Uploader cannot work properly, too.

[2022-09-28 16:54] Mr-Technician commented on #522
@RuikangSun I would guess this is still an internal issue with python and nothing that concerns Mapillary.

[2022-09-29 18:14] tsmock opened #551 "Improper sequence processing of exif images"
### Basic information
* Release version: `0.9.2` (I'll have to check and see which commit it was, `pip install --upgrade git+https://github.com/mapillary/mapillary_tools`)
* System: `Linux`
* Capture Device: `Action Camera` (Garmin VIRB Ultra 30)

### Steps to reproduce behavior

 1. Upload directory of captured images (note: run through `exiv2 rename` and `jpegoptim --preserve`, I'll need to chec

[2022-09-29 18:50] ptpt commented on #551
Could you check (or share) the generated `mapillary_image_description.json` after processing for investigation?

[code]

What present in this json will be ensured to be uploaded with the specified metadata.

[2022-09-29 18:51] ptpt commented on #512
Makes sense. I will check if it's possible to add this step to the CI.

[2022-09-29 18:59] tsmock commented on #551
I'll do that. I just need to get the data (it is at home). If I don't see it in the `path/to/images` directory, I'll see if I can find it in one of the XDG directories.

[2022-09-30 11:13] tsmock commented on #551
[mapillary_image_description.zip](https://github.com/mapillary/mapillary_tools/files/9683559/mapillary_image_description.zip)

Some filenames of note:
* CopiedPictures/3976941712/1662812226.6850011/100_VIRB/20220912_123231.JPG: 072b742a-13f2-468e-989e-119962bcd286
* CopiedPictures/3976941712/1662812226.6850011/100_VIRB/20220912_123234.JPG: 7894fde9-f31b-4bd5-a1d2-d004acf967e3

[2022-10-02 19:32] #551 closed

[2022-10-02 19:48] ptpt commented on #551
Thanks for reporting this critical bug @tsmock. It should be fixed in the latest main branch.

This is caused by a mistake in the sequence processing (sequence discovering/cutting/duplication): mapillary_tools sorted images in sequences by filenames instead of capture times. It was introduced in v0.8.1 during this [refactoring PR](https://github.com/mapillary/mapillary_tools/pull/442).

[2022-10-02 19:57] ptpt commented on #551
The consequence of the bug is that: if your image files are not named by capturing order (e.g. IMG_0001.jpg, IMG_0002.jpg) these images will be group into many short or single-image sequences. In your case, it produced 61793 sequences. After the fix, it produced 602 sequences.

[2022-10-03 11:06] blaueente opened #555 "Fails to extract AltitudeRef, but then crashes with "IndexError: list index out of range""
Apparently some photos that have an altitude tag ["GPS GPSAltitude", "EXIF GPS GPSAltitude"]
somehow the altitude ref tag fails being extracted ["GPS GPSAltitudeRef", "EXIF GPS GPSAltitudeRef"]

This makes the script crash.

### Basic information
* Release version: 0.9.2
  python3 -m pip install --upgrade git+https://github.com/mapillary/mapillary_tools
* System: `Linux`
* Capture Device: `Android

[2022-10-03 12:13] blaueente opened #556 "Duplicate check should include FOV"
I sometimes take pictures with different FOV, e.g. one with my wide-sensor, and one with the main sensor. Or even a panorama or 360° picture. In consequence those have the same location, and the same angle, despite having different information.
There should be an option to consider those pictures not to be duplicates, as they may contain vastly different information.
Not sure if there should be a

[2022-10-03 19:55] ptpt commented on #555
Thanks for providing the example image. It should be fixed in #557. Here is the output of processing

[code]

[2022-10-04 06:05] #555 closed

[2022-10-04 06:08] ptpt commented on #556
You can specify what angle difference to be considered as duplicate

[code]

If your image FoV are, for example, 180 degrees, then specify `--duplicate_angle=180`. Does it work?

[2022-10-12 08:30] GITNE opened #566 "[Regression] SOCKS/proxy support broken"
### Basic information
* Release version: `0.8.1` to `0.9.4`
* System: `Linux`
* Capture Device: *`any`*

### Steps to reproduce behavior

 1. Configure a SOCKS proxy on your LAN (or choose a public one on the internet; though not recommended).
 2. Set `all_proxy` and/or `ALL_PROXY` to `socks://<proxy_ip>:<proxy_port>`.
 3. Try to upload images with either `upload`, `upload_camm`, `upload_blackvue`

[2022-10-12 08:48] GITNE commented on #566
FYI: The last version to properly work with a SOCKS proxy was 0.8.0.

[2022-10-12 15:32] ptpt commented on #566
Hey @GITNE

I installed this missing package and it works:
[code]

See https://stackoverflow.com/a/44353599

[2022-10-12 15:38] ptpt commented on #566
requests used PySocks under the hood: https://github.com/Anorov/PySocks#proxying-http-traffic

and I guess requests removed it as dependency at a certain point (can't find in CHANGELOG)

[2022-10-12 16:06] GITNE commented on #566
Anyways, then it should be included in the AppImage.

:thinking: Hmm, I do not think so. I would guess that rather either AppImage building has been broken (someone forgot to add PySocks to the AppImage build) or the AppImage build process was moved to a different/new machine that simply lacks the PySocks dependecy.

[2022-10-12 20:10] ptpt commented on #566
Let me know if the new builds fix the socks library https://github.com/mapillary/mapillary_tools/releases/tag/v0.9.5a

[2022-10-13 07:24] GITNE commented on #566
See https://github.com/mapillary/mapillary_tools/pull/567#issuecomment-1277141663

[2022-10-13 08:16] GITNE opened #568 "Upload history should be qualified as cache data"
https://github.com/mapillary/mapillary_tools/blob/2f3331c6194a9d977e2e06541320830feb9ac7ad/mapillary_tools/upload.py#L50-L55
This data is not _essential_ for the app to work. It is neither app an setting, a configuration, nor a preference. It can also be recreated at any time. The upload history is not tied to a specific machine either because uploaded imagery could have been pulled by the local m

[2022-10-13 08:41] GITNE commented on #568
I am guessing this also ties in to #524.

[2022-10-13 09:13] GITNE commented on #481
This is GoPro’s *upstream issue*; this should be fixed by GoPro first. Generally speaking, “re‑timestamping” image files from file names or filesystem timestamps is a bad idea.

In the meantime, one workaround for you could be to make sure you drop the `DateTime` Exif tag (or other offending tag) from all of your images. Since, as you are saying, the `GPSDateStamp` and `GPSTimeStamp` Exif tags are

[2022-10-13 12:45] GITNE opened #569 "[BUG] Upload does not resume broken uploads"
### Basic information
* Release version: `0.9.5a`
* System: `Linux`, probably *`any`*
* Capture Device: *`any`*

### Steps to reproduce behavior
 1. Start uploading a bunch of images, preferably like gigabytes per sequence.
 2. Wait for the server to choke or deliberately throttle your network bandwidth, potentially down to 0. Pressing `Ctrl+C` and then resuming (while the upload session is still

[2022-10-13 18:01] GITNE commented on #569
:man_facepalming: I have just spent over 4 hours uploading a sequence of 163 images worth 618,237,384 bytes. mapillary_tools is still not done because it is constantly resetting to either 0 or an arbitrary number. This is something that should have been complete in about 5 minutes. And, before you ask: no, my connection is stable.

You see, this is exactly what I mean by “Mapillary being dysfuncti

[2022-10-13 18:21] ptpt commented on #569
Thanks for reporting and sorry for the inconvenience.

This looks suspicious indeed. It seems the server returned offset=0 regardless it had data chunk uploaded there.

Could you check if it work without a proxy?

I can't reproduce it locally:

[code]

[2022-10-13 18:48] bob3bob3 commented on #569
If either of you need a reference point (debug logs) to work with I have been using the tools to upload BlackVue videos 24/7 for 2 weeks now. Something like 870GBytes, 180,000 mp4's so far that seems to be working okay. I have not been watching the logs closely, but only have maybe 20 of the ConnectionError similar to above.

No doubt that I am uploading mp4's rather than jpg's has a lesser chance

[2022-10-13 19:00] #566 closed

[2022-10-13 19:03] Jorgeminator opened #570 "Improving upload speeds on high-bandwidth connections"
### Basic information
* Release version: `v0.9.4`
* System: `Windows 10 Pro 21H2`
* Upload bandwidth available: `~100Mbps`

### Steps to reproduce behavior

Upload a large number of images, each 1-2MB in size.

### Expected behavior

The uploader should utilize as much of the available upload bandwidth as possible. With 100Mbps upload bandwidth, an upload speed of at least 10MB/s could be consider

[2022-10-13 19:06] GITNE commented on #569
More logs…
[code]

Sure, this may be proxy related. However, I highly doubt it. Too me, the server looks like the most probable culprit because the offset is computed by the server. Unfortunately, I cannot bypass the proxy. Anyhow, proxy or not it *should* work because I cannot imagine a scenario where the server should respond a wrong offset over a proxy or the client to modify the offset. It is

[2022-10-13 19:12] ptpt commented on #569
@GITNE I suspect it's related to HTTP status 412 error, curious to see the payload.

I'm trying to add a check on **retires**: if the offset fetched from the server does not move as expected, exit with full HTTP response printed out.

I will make a new alpha release and let you know soon.

[2022-10-13 19:14] ptpt commented on #570
This is a great news!

I actually tweaked the param and didn't find much improvement. I will try again and make it more reasonable, more even configurable. Thank you for the feedback!

[2022-10-13 19:16] GITNE commented on #569
Great, thank you! :smile:

Just FYI: I have observed this behavior ever since I have started using version 0.8.0.

[2022-10-13 20:22] GITNE commented on #570
Incrementing the chunk size above a certain size is pointless over non‑deterministic networks because this neither how the IP nor HTTP work. If you want to saturate your bandwidth over a non‑deterministic network you will have to transmit one (large) block of data over multiple logical connections. The client needs to be able to split the data and the server needs to be able to put it together on

[2022-10-13 20:47] Jorgeminator commented on #570
This was just a quick workaround and got me close enough to saturating my connection. Splitting the upload to squeeze the last 5% out of it is not worth the hassle.

[2022-10-13 21:12] ptpt commented on #569
Just a quick check @GITNE: were you uploading this sequence in multiple processes/machines simultaneously? That might cause the offset to be inconsistent AFICS.

[2022-10-13 21:45] GITNE commented on #569
No, single instance on one machine only.

[2022-10-13 22:09] ptpt commented on #569
The fix is released here https://github.com/mapillary/mapillary_tools/releases/tag/v0.9.5a1

BTW it would be great if you could setup a local env here https://github.com/mapillary/mapillary_tools#development so we can  test on branches without releasing binaries (faster iteration).

[2022-10-14 11:02] GITNE commented on #569
After retry I got this:
[code]
The offset is apparently still incorrect on retry. The last offset was 184,550,620 and on retry it was 18,152,520. :confused: That’s like a magnitude lower! :astonished:

[2022-10-14 17:55] ptpt commented on #569
It seems that you were uploading zipfiles from `mapillary_public_uploads ` which is the default location for the dry run upload testing. I think it's fine.

What looks really strange though, is that the embedded md5sum in the zip filename `mapillary_public_uploads/mly_tools_2c198fbcf23dfe64e2aa6b5c5418f758.zip` is not same as the calculated md5sum `3a59c68825c203b5bbf22154e4802238` in the log. Thi

[2022-10-14 18:04] ptpt commented on #569
A bit context of how the md5sum is calculated for zipfiles (all images will be zipped before being uploaded). Assume we are uploading N images as a sequence:
[code]
Once we got the `zipfile_md5sum`, the zipfile will be uploaded to `rupload.facebook.com/mly_tools_{zipfile_md5sum}.zip`.

[2022-10-14 21:33] Jorgeminator commented on #570
@GITNE 32MB `chunk_size` is definitely overkill, you're right about that. But in my case, going from 1MB `chunk_size` to let's say 8MB or 16MB gave the best improvement.

[2022-10-15 00:50] #521 closed

[2022-10-15 12:38] GITNE commented on #569
I think, I may have solved the mystery behind those resetting offsets. And, it definitely **IS** server related/caused.

It turns out that our ISP uses dynamic public IP addresses. Whenever the ISP shifts to a new public IP address the upload server counts this as a new upload session. Naturally, our proxy sits on the local network and thus is also affected by the public IP address change. So, app

[2022-10-17 17:44] GITNE commented on #570
@Jorgeminator I am happy for you that you were able to improve your throughput by tweaking the chunk size. Nevertheless, I would like to note, especially to @ptpt, that the chunk size is actually primarily meant as a parameter to accomplish load balancing on an upload server and ensure equal access for all uploaders to the upload server(s). Hence, it should be the server to set forth the (max) chu

[2022-10-17 17:49] ptpt commented on #569
Very interesting observation. Thanks for sharing.

The upload session is decided by the authorized user and the session_key in the url. I don't think IP changes upload sessions. If you upload a single file from IP A, then interrupt it, and then resume from IP B, it will result in the single file uploaded in the same bucket, instead of two buckets.

Changing IP during uploading will interrupt and c

[2022-10-17 18:22] Jorgeminator commented on #570
@GITNE Sounds logical. The problem is not actually the chunk size itself, but the way the client chooses it. The code allows a chunk size up to 16MB, but the average image size will be the limiting factor unless the pictures are <1MB. Having thousands of 2MB images will choke your upload compared to uploading 50MP/10MB photos.

[2022-10-17 22:28] #533 closed

[2022-10-17 22:30] ptpt commented on #367
This should be solve by the default cutoff_distance (600 meters).

[2022-10-17 22:30] #367 closed

[2022-10-23 14:51] mxa commented on #89
It would be really good if you could provide this basic feature again or at least bring back the legacy uploader which provided this functionality.

[2022-10-24 17:24] ptpt commented on #89
@mxa it's in our plan

[2022-10-24 18:10] GITNE commented on #569
Sorry for the long delay. Unfortunately, I was :sneezing_face: incapacitated for the last week (no COVID). Anyway, I have run the test you have suggested, as usual over our proxy, no rerouting:
[code]
Well, and then it crashed. I am not sure this is intended? Anyway, I hope this output is going to help you figure out what you wanted to know.

[2022-10-25 21:40] GITNE commented on #569
So, I have run the test with rerouting. Btw, whenever you see a traceback in the log it means that I have manually resumed uploading, just so that it gets finished.
[code]
I have interrupted here because I have noticed that the offset has been reset to 0 again. This log is actually my second attempt.
[code]
I hope this gives you a clue. :wink:

[2022-11-01 18:46] #570 closed

[2022-11-01 18:52] ptpt commented on #570
I agree we should maximize the upload egress by default. Did some test under a good network in the PR, and it seems 16MB is a good default.

I will make a new release, and it would be great if you could give it a try see if it improves (cc @bob3bob3)

[2022-11-01 18:54] ptpt commented on #570
This change **does not** affect video uploading though because the chunk size for video uploading is already 16MB by default.

[2022-11-01 19:05] ptpt commented on #569
Thanks @GITNE! The logs you shared above didn't reproduce this HTTP 412 errors.

However, I've reproduced it locally by switching on/off VPN during uploading. I think we should retry on these 412 errors instead of exiting. The reason why it took long for you is because:

- it occurs more often due to your network configuration
- the long wait time between retries (16 x 200 seconds)

I guess we sho

[2022-11-01 20:45] GITNE commented on #569
I don’t know, just adding some waiting time will not solve the core issue, which is that the offset is reset to 0 on a new IP address. All I know is that other upload services/servers do not exhibit this issue whenever I upload via a web browser. This issue did not exist with Mapillary when the web uploader was still available either. So, in my understanding there is something wrong with the serve

[2022-11-04 19:17] ptpt commented on #569
@GITNE the offset reset is likely that when `mapillary_tools` resumes uploading from a different IP, it uploads to a different host, and the offset is not shared across hosts. Note these logs:
[code]
Do you get a different `dc` when the offset becomes 0?

I'm checking with the team if it's possible to enable corsshost upload resumption. Meanwhile, the best we can do is:
1. retry on these 412 error

[2022-11-04 21:30] GITNE commented on #569
Right, I have not thought of that; then I guess the upload token is not shared either.

If the above is true then this is indeed very reasonable. There is no need to pause.

Could be, I have not payed attention to this. I guess mainly because I could not figure out what that cryptic `dc` might stand for. Anyway, I am going to pay attention to this now and report.

[2022-11-04 23:05] GITNE commented on #569
[code]
Indeed, the offset resets on `dc` change.

[2022-11-09 03:32] ptpt commented on #570
v0.9.5 with the upload speed improvement is released https://github.com/mapillary/mapillary_tools/releases/tag/v0.9.5

Download binaries there, or run pip install:
[code]