[2014-05-29 10:20] bitnapper opened #1 "upload.py stops with errors"
Thank you for that tool. It's very helpful but it regularly stops with the following error:

[code]

URLError: <urlopen error [Errno 32] Broken pipe>

[2014-07-04 19:14] alexandre-mbm opened #4 "Who may use it?"
I see a hash of permission on the code...

[2014-07-06 11:14] alexandre-mbm opened #5 "Do you may/want be responsible for this Greasemonkey script in this repository?"
See [**GM_mapillary-osm-notes**](/alexandre-mbm/GM_mapillary-osm-notes). Do we may move it to it here?

Example: http://www.openstreetmap.org/note/194601

[2014-07-28 15:40] malenki opened #7 "upload.py: Invalid cross-device link"
For uploading I copied the images to an external disk, the script is placed in the PATH (~/bin on an internal drive) and invoked it this way:
`upload.py /path/to/imagefolder`
or this way
`python path/to/upload.py /mnt/media/ul/mapillary/`

I tried it four times, it always ends up like this¹.

The system is quite old:
`2.6.32-5-686 #1 SMP Mon Sep 23 23:00:18 UTC 2013 i686 GNU/Linux`
Exifread is ver

[2014-07-28 23:02] mvexel opened #8 "Connection reset by peer"
I am trying to upload a (large) sequence and getting intermittent 'connection reset by peer' errors. The full output is in [this gist](https://gist.github.com/mvexel/d90404177356be029ffe). After the last error, the script never returns and it looks like the sequence did not get uploaded.

[2014-07-30 08:57] craigtaverner opened #9 "No such file or directory: 'DONE'"
Whenever I run the script on my laptop (ubuntu 14.04) I get this error at the end, as if the last file is always specified to be the string 'DONE'.

[code]

[2014-07-31 09:52] #9 closed, assigned to nobody

[2014-07-31 09:53] #4 closed, assigned to nobody

[2014-07-31 10:03] #1 closed, assigned to nobody

[2014-08-01 11:40] #7 closed, assigned to nobody

[2014-08-01 14:53] craigtaverner opened #10 "Cannot run script on different device"
If the script and the files are not on the same device:

    Exception in thread Thread-2:
    Traceback (most recent call last):
      File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
        self.run()
      File "/home/craig/dev/GoPro/mapillary_tools/python/upload.py", line 183, in run
        upload_file(filepath, **self.params)
      File "/home/craig/dev/GoPro/mapillary

[2014-08-03 18:18] bitnapper opened #11 "Exit on CTRL+C"
The script doesn't exit on ctrl+c. It would be very nice to have that feature.

[2014-08-04 11:01] #11 closed, assigned to nobody

[2014-08-06 20:29] ghost opened #12 "require explicit y/n for upload scripts"
upload.py and upload_with_authentication.py require the user to "Finalize upload (y/n)" after upload.  The current code will finalize after "y", "Y", "Yes", or "yes", which is nice.  Any other input + newline will exit without uploading.  This might surprise a user after waiting patiently for several hours worth of photos to upload*.

Could the finalize upload also check for an explicit "n", "N",

[2014-08-06 20:47] #12 closed, assigned to jesolem

[2014-08-08 19:12] james2432 opened #14 "upload.py unable to handle connection closed"
While uploading a huge batch of images, there is a problem with the connection to amazon and it closes(possible timeout on amazon's part?) but the script crashes and fails to resume the upload
![capture](https://cloud.githubusercontent.com/assets/498547/3861507/de6e7c0c-1f2f-11e4-84c3-6f628ff509dd.PNG)

also get this error:
![capture2](https://cloud.githubusercontent.com/assets/498547/3865759/8008

[2014-09-12 10:42] kaitu opened #17 "Cannot upload panoramas missing GPSImgDirection"
The upload of a panorama created on Android with Samsung surround shot, with the tag GPano:PoseHeadingDegrees set, fails with error message "Missing required EXIF tag: GPS GPSImgDirection".

[2014-09-13 09:54] #17 closed, assigned to nobody

[2014-11-02 22:08] bitnapper opened #21 "upload_with_authentication.py fails"
$ python upload_with_authentication.py 100_VIRB/3/
Traceback (most recent call last):
  File "upload_with_authentication.py", line 143, in <module>
    uploaders = [UploadThread(q, params) for i in range(NUMBER_THREADS)]
TypeError: __init__() takes exactly 2 arguments (3 given)

[2014-12-13 09:42] bitnapper opened #23 "upload_with_authentication.py skips images on faill"
Due to a wonky connection the upload fails from time to time. The upload script then skips the current image completely. Since the problem is not with that particular image but with the connection skipping these images isn't the best way to go.

    URL error: <urlopen error [Errno 32] Broken pipe> on VIRB0738.JPG
    URL error: <urlopen error [Errno 8] nodename nor servname provided, or not known

[2014-12-23 16:53] geomapper69 opened #24 "upload_with_authentication.py files not moved to success folder after successful upload"
upload.py moves files ok to success folder after they are uploaded.

upload_with_authentication.py does not, it is missing

 "move_files":True

[2015-01-02 11:40] smsm1 opened #25 "upload_with_authentication.py just uploads all files in sub folders into the same sequence"
I expected that I'd be able to run time_split.py, then run upload_with_authentication.py and it uploads each split folder as a separate sequence correctly, however it seem that I need to run it once for each sequence, which is horribly annoying, as e.g. I have 23 sequences to upload from the last 2 days accross several folders (otherwise end up with duplicate file names from the camera - Garmin VI

[2015-01-02 13:22] smsm1 opened #26 "time_split.py loses files with duplicate file names"
The time_split.py file will loose files where there are 2 files in sub folders with the same file name. This is an issue with for example the Garmin VIRB elite which places 1000 photos in a folder, then restarts the numbering of the photo files in a new folder. Ideally it should start a new folder, or rename the files that it's moving if there is a name clash.

[2015-01-02 13:47] smsm1 commented on #26
This also means that when the upload is done, the files can be uploaded in the wrong order, thus a big line back to the start of the track, e.g. http://www.mapillary.com/map/im/H3WBxigLyOQe9wsJx6Bj9w

[2015-01-02 15:24] smsm1 commented on #26
It looks as though the line back to the start of the track auto fixes itself after a short time of processing.

[2015-01-02 21:09] jesolem commented on #26
Thanks @smsm1 , I use the Virb a lot and haven't noticed since I empty the camera directly after capture. I can see how this is annoying for long capture sessions. Will take a look.

[2015-01-02 21:11] jesolem commented on #25
You need to upload so that one session = one sequence. Otherwise there is no way for us to know what photos should go together as a sequence.

In the apps we store sequence information in EXIF so these photos can be uploaded any way you like. With Virb photos you need to send them one sequence at a time.

Not much we can do about that

[2015-01-02 21:11] #25 closed

[2015-01-02 21:12] jesolem commented on #5
Sorry for late response. Don't think it makes sense to move here. Thanks.

[2015-01-02 21:12] #5 closed

[2015-01-02 21:17] #24 closed

[2015-01-02 21:18] #21 closed

[2015-01-02 21:21] smsm1 commented on #25
I was thinking that it would be possible to upload a folder at a time as sequence. I'll probably create a bash script or make modifications to effectively do this to save the manual uploads, as I'll likely have lots of folders, as I'll sometimes do a day or two upload at a time.

[2015-01-02 21:56] alexandre-mbm commented on #5
OK. It did a while and I walked away from those intentions. The script is outdated and not functional. I realized the emergence of official tools. Sorry and thanks.

[2015-01-03 14:51] Skippern commented on #14
I also get this when I get "Connection reset by peer", I think it throws and exception that should be handled as "failed upload".

[2015-01-04 13:05] smsm1 opened #27 "upload_with_authentication.py error in thread means stall at the end of process"
I found the following error

[code]

whilst uploading has meant that after the last file uploaded the python script just stalled and didn't do anything more.

It was sequence "Uploading sequence b14339de-8a17-4eed-aeca-3df14110f068."

There was also the error

[code]

Which may affect it too.

Could the script be made to cope with the above error?

[2015-01-04 13:17] smsm1 opened #28 "Failed upload with upload_with_authentication.py conflicts with manual uploads"
If an upload fails or is in progress and you go to http://www.mapillary.com/map/upload it'll suggest to push to Mapillary. There is no way to see which images will be pushed to Mapillary. Will the "Clear all images" button clear all the files uploaded and not pushed yet?
![mapillary___manual_upload_and_python_ _python_ _133x71_and_shaunmcdonald_ _bash_ _113x48_and_shaunmcdonald_ _bash_ _144x46](ht

[2015-01-07 11:35] blaueente opened #29 "Erroneously uploaded thumbnails"
I have created thumbnails for all the mapillary images, in the same directory, and then used upload.py mistakenly on the whole directory without deleting those thumbnails before. Apparently the thumbnails still had all the exif info.
The result is that some of the images are represented by those very low-res thumbnails instead of the original resolution images.
Re-uploading all (non-thumbnail) ima

[2015-01-07 14:06] chrismcnally commented on #29
I have used the Android app to edit one photo, by taping the edit button,
then if I scroll down to the bottom, there is a button to 'hide the
sequence'. Then you could upload again without the thumbnails.

[2015-01-07 14:34] jesolem commented on #29
@blaueente Yes, easiest is to click 'edit' under one of the bad photos on the website and in the editor select 'hide the sequence'. Then upload without the thumbnails.

If there are only a few, you could hide them one by one too of course.

[2015-01-09 14:58] blaueente commented on #29
Thanks for your recommendations. However, I have requested to hide the sequences, but after more than 24 hours they are still visible, so I guess it is no use to try uploading over 2 GB for a 3rd time.

[2015-01-13 20:30] blaueente commented on #29
Finally, my hide requests were approved, and I have now re-uploaded all images.

[2015-01-13 20:30] #29 closed

[2015-01-24 11:43] ligfietser commented on #21
Since I have upgraded Exifread to version 2.0.0 I get the same error
"Missing required EXIF tag: GPS GPSLongitude"
Before with version 1.4.2. it worked fine, any ideas how to solve this?

[2015-01-24 11:52] wimh opened #33 "upload_with_authentication.py does not work with exifread 2.0.0"
After upgrading exifread to version 2.0.0 upload_with_authentication.py does not work any more, for example:

    Uploading sequence 6cfdfb62-2ff3-4817-842e-c217d1b84b23.
    Missing required EXIF tag: GPS GPSLongitude
    Skipping: /home/wh/virb/20150120/1/VIRB0200.JPG
    ===
    Finalizing upload will submit all successful uploads and ignore all failed.

Possibly upload.py has the same error, b

[2015-01-24 11:55] wimh commented on #21
I created issue #33 for the exifread 2.0.0 problem. The current workaround is downgrading exifread like this:

    pip install exifread==1.4.2

I will update #33 when I have more information

[2015-01-24 12:02] ligfietser commented on #21
Thanks Wim, for me pip install exifread==1.4.2 did not work, but I managed to downgrade it with
python -m pip install exifread==1.4.2

[2015-01-24 15:52] ybkuang commented on #33
@winh, the problem is that exifread changed its naming format for GPS in 2.0.0. I am on it.

[2015-01-24 16:01] #33 closed

[2015-01-24 16:04] ybkuang commented on #21
@ligfietser The issue with exifread should be fixed now.

[2015-01-24 23:19] Alessandro-Barbieri opened #34 "http error"
When trying to upload i get this:

Uploading sequence 8994b835-6ff5-4f7a-ad76-d8cbef4d574f.
Uploading: tt_img_00280.jpg
Uploading: tt_img_00275.jpg
Uploading: tt_img_00263.jpg
Uploading: tt_img_00281.jpg
HTTP error: HTTP Error 403: Forbidden on tt_img_00281.jpg
HTTP error: HTTP Error 403: Forbidden on tt_img_00281.jpg
HTTP error: HTTP Error 403: Forbidden on tt_img_00275.jpg
HTTP error: HTTP Error

[2015-02-08 01:11] DenisCarriere opened #37 "Mapillary Tools on PyPi"
@jesolem @peterneubauer

Instead of modifying the entire mapillary tools repo, I decided to create my own clean repo based from your Python tools, there is a lot of testing to be done before it's actually an official Mapillary API.

Once it's good enough as a release, you guys can fork it and pick it up from there.

http://deniscarriere.github.io/mapillary/

At the moment I only added the **Upload

[2015-02-08 03:36] jesolem commented on #37
Fantastic! Let us know how we can help.

[2015-02-08 03:45] DenisCarriere commented on #37
Your welcome Jan, you guys have already done most of the hard work with
your Python tools, I'll continue to incorporate them in the API. If I have
some questions about your back end server I'll ask for sure.
 On Feb 7, 2015 10:36 PM, "Jan Erik Solem" <notifications@github.com> wrote:

[2015-02-08 19:41] DenisCarriere commented on #37
@jesolem I've included your GeoTag feature in the Mapillary API

[code]
Discussion on Twitter:
https://twitter.com/DenisCarriere/status/564506953385512960

[2015-02-12 06:38] geomapper69 commented on #34
@Alessandro-Barbieri I assume you are uploading with: upload_with_authentication.py ?
Are you using the latest version updated 19 days ago ?
MAPILLARY_UPLOAD_URL = "https://s3-eu-west-1.amazonaws.com/mapillary.uploads.manual.images"

[2015-02-13 19:52] Alessandro-Barbieri commented on #34
Yes i'm using upload_with_authentication.py
With latest (git pull) i get

Uploading sequence 793062b9-7195-4778-a7ab-0a26000a478a.
Uploading: 2014-10-02 10.29.27.jpg
Uploading: 2014-10-02 10.29.39.jpg
Uploading: 2014-10-02 10.29.04.jpg
Uploading: 2014-10-02 10.29.35.jpg
URL error: <urlopen error [Errno 104] Connection reset by peer> on 2014-10-02 10.29.35.jpg
HTTP error: HTTP Error 403: Forbidden

[2015-02-13 19:54] Alessandro-Barbieri commented on #34
missclick

[2015-02-13 20:11] geomapper69 commented on #34
The only thing I can think of is that it is not recognising your login details.
Double check environment variables MAPILLARY_USERNAME, MAPILLARY_PERMISSION_HASH and MAPILLARY_SIGNATURE_HASH.
The HASHes should not have any quotations ( ' )

[2015-02-13 20:40] Alessandro-Barbieri commented on #34
From http://api.mapillary.com/v1/u/uploadhashes hashes should have = or == at the end?
I removed " and = character and still get the same error.

[2015-02-14 04:15] geomapper69 commented on #34
It should have = at end do not delete that.

[2015-02-14 13:37] Alessandro-Barbieri commented on #34
I had to use
'''bash
export MAPILLARY_PERMISSION_HASH=hash
'''
and not

'''bash
MAPILLARY_PERMISSION_HASH="hash"
'''
now works

[2015-02-14 13:37] #34 closed

[2015-03-14 14:09] stevage opened #43 "Geotag gets it wrong (for me)"
Well, you asked for testers :) I'm trying to tag some photos from a cycle tour last weekend. The time on my camera looks correct (to within a minute), and my GPS (Garmin 600) shows the correct time. Yet the geotagging calculated by this tool is completely wrong.

With this set of photos, I've found with trial and error that an offset of 39500 looks about right for the last few photos in my collect

[2015-03-14 14:44] stevage commented on #43
Ok, I think I'm fairly confident that it is this script misbehaving. I managed to geotag the photos with Garmin Basecamp, with no time offset, and they were all correct.

(BaseCamp is itself stupidly buggy, in hilariously stupid ways. It loaded and processed photo 1, then photo 1 and 2, then photos 1, 2, and 3, etc, creating dozens of copies of each photo in the process.)

[2015-03-14 15:00] stevage commented on #43
Also, if this helps, I notice that my guestimated offset of 39500 is very close to 11 hours, which is my current timezone. Also, some of the photos were modified after taking them (with Picasa), meaning they had a modified date different from their digitisation/creation date. Perhaps these two things are important?

(JetPhoto Studio also seemed to have no problem matching them with the GPX file. I

[2015-03-14 15:20] geomapper69 commented on #43
The script has always worked ok for me.
I am in timezone GMT+4
I download my Garmin GPS into Basecamp, then export the GPX from there.
Photos have come from many different devices, all of them set to GMT+4.
PC should also be set in correct timezone.

[2015-03-14 15:28] jesolem commented on #43
We should take a look.

Time zones in these files is a pain. Some assume local time of your laptop, some UTC, plus issues with people forgetting to set clock on device...

As a note: we're adding UI in the new manual uploader to hopefully solve the time zone problem once and for all. Stay tuned.

[2015-03-14 15:32] stevage commented on #43
Ah, ok, I finally get it - I'm running it inside an Ubuntu VM that doesn't have the timezone set. When I set it now (`dpkg-reconfigure tzdata`), it works correctly.

Also, with some more testing, I think maybe the cause of some of the weird behaviour I was seeing was to do with running it on files that were already geotagged. If I clear all the geotags first with Picasa, then it behaves correctly

[2015-03-14 15:35] stevage commented on #43
One thing that would have helped me would be some more verbose output, like:

"Your local time is: ... and your timezone is: ... If these don't look right, the geotags will be wrong."

[2015-04-19 08:14] xenos1984 opened #45 "Uploads don't appear on Mapillary"
I have uploaded a few sequences with upload_with_authentication.py, and after uploading each sequence it tells me that is has been successfully uploaded and that the sequence has been finished by uploading a DONE file after I confirm finishing the sequence by pressing y. Everything looks fine to me.

However, the pictures don't seem to arrive even after waiting for several hours. The image counter

[2015-04-19 09:44] xenos1984 commented on #45
Apparently it was only a temporary issue - now it's working. So I guess this can be closed - sorry for spamming.

[2015-04-19 09:44] #45 closed

[2015-04-19 12:08] Skippern opened #46 "urllib2 not installing, urllib3 and urllib5 fails to execute"
For some reason `urllib2` doesn't install (no longer available in pypi?), and when trying `urllib5` from pypi I get a `cannot find urllib2 error`, so I tried with `urllib3`, which doesn't seem to have that problem. But than it started to complain on all the syntax (exception handling missing or with different names, Request function seem to have changed name, etc).

I would like to see this solved

[2015-04-19 12:11] Skippern opened #47 "upload_video_with_synced_gpx.py"
Would it be possible to have video uploads where gpx file starts at first frame in the video? My `Garmin VIRB Edit` software allow me to trim videos so that I can make sure that GPX track starts at first frame, and last GPX track is at last frame, i.e. a synced video/gpx file. I would like it to work similar as `upload_with_authentication.py`

[2015-04-19 12:15] jesolem commented on #46
Is this using Python 3.x?

For Python 2.x urllib2 comes built in so you should not need pip
https://docs.python.org/2/library/urllib2.html

The urllib syntax changed from 2->3. Our scripts are all for Python 2.x.

[2015-04-19 12:18] jesolem commented on #47
Thanks @Skippern
Something for us to look at in the future. You can use the video upload in the web uploader for now.
With video we need to make sure that it is something we can decode and use on the server side.

[2015-04-19 12:19] Skippern commented on #46
Yeah, I use python 3.4, any chance you can upgrade the scripts for py3? Or do I need to put my head around to pip all dependencies in py2.7?

Aun Johnsen

[2015-04-19 12:22] jesolem commented on #46
@Skippern We can but not a short time fix on our end unfortunately.

Suggestion: use virtualenv with a 2.7 distribution and then pip install there?

[2015-04-19 12:23] Skippern commented on #47
I am trying to upload with the web interface, but are struggling with 2 issues (which a .py probably won’t help much except for command line execution), that is lack of storage and unstable internet line. 20GB in the pipeline, just need to figure out how to import them to my computer, trim them, and upload them. Very slow process as I generally looses connection for a few seconds (freezing upload)

[2015-04-19 12:27] Skippern commented on #46
Looking into it

Aun Johnsen

[2015-04-19 12:39] Skippern commented on #46
@jesolem

[code]

[2015-04-19 13:13] jesolem commented on #46
You forgot the path to the images:
```Use from command line as: python upload_with_authentication.py path```

[2015-04-19 13:46] jesolem commented on #27
Hi @smsm1
Any suggestion for how to handle the error from the script side?

With the new web uploader you should be able to see such failed uploads as a tab in the photo section. You can then fix/add photos that went wrong and complete the upload.
Would be great if you could try this next time the script fails and give us feedback.

[2015-04-19 14:46] Skippern commented on #46
@jesolem Its running now, will struggle my way through ~4000 images

[2015-04-23 10:17] richlv opened #48 "upload_with_authentication.py MOVE_FILES also moves "DONE" file"
enable MOVE_FILES in upload_with_authentication.py, upload something, tell it to upload DONE. it uploads it and then moves into the "success", then tries to remove it. probably 'DONE' should not be moved to "success" directory.

[code]

[2015-04-24 15:47] jesolem commented on #48
Fixed to avoid error. Now only deletes if file is not moved.

(Let's keep moving the DONE so you can check the success folder at a later stage. )

[2015-04-24 15:47] #48 closed

[2015-04-28 21:34] Skippern commented on #46
Is it possible to add a version check and warn about this if running with python3?

[2015-05-14 10:13] richlv opened #49 "upload_with_authentication.py does not show success/failed counts"
upload.py seems to have some code to show how many files were uploaded successfully and how many failed, but upload_with_authentication.py does not - at the end it just prints :

Finalizing upload will submit all successful uploads and ignore all failed.
If all files were marked as successful, everything is fine, just press 'y'.

[2015-05-14 10:16] richlv opened #50 "upload_with_authentication.py does not move failed files"
if some files fail to upload with upload_with_authentication.py, they are not moved in the "failed" directory even with "MOVE_FILES = True". successfully uploaded files are moved.

although a much better approach would be to retry them either infinitely or allow user to initiate retry - somewhat covered in issue #23

[2015-05-14 10:19] liskin commented on #49
Also, it happened to me that even though I said 'n', the upload was finalized anyway (not upload_with_authentication.py fault, someone must have done it manually). To this day I haven't got rid of that faulty sequence, cause 'Hide the whole sequence' on the website just plain doesn't work.

So, be extra careful. Don't upload from a wonky home connection, and even when uploading from a dedicated se

[2015-05-14 10:21] liskin commented on #23
Just noticed this issue. You may want to try my branch: https://github.com/liskin/mapillary_tools/commits/master

[2015-05-15 13:01] richlv commented on #23
thanks - have you tried submitting a pull request for retries ?

[2015-05-15 14:57] liskin commented on #23
No, I didn't think another pullreq/issue without any comments from the mapillary team would help anything. I just mentioned it in a somewhat relevant thread elsewhere.

[2015-05-27 19:57] richlv commented on #23
failed images are still skipped. there does not seem to be any way to upload them to a started sequence. anybody from mapillary interested in this ? otherwise i'm just wasting your bandwidth and storage by uploading and then removing images again and again...

[2015-05-27 20:04] jesolem commented on #23
@liskin What feedback are you looking for? Didn't see question, sorry. We'd love PRs for retry.

@richlv We're currently low on mental bandwidth here with a bunch of releases about to go out, will get to this as soon as we can.

[2015-05-27 20:08] liskin commented on #23
@jesolem https://github.com/mapillary/mapillary_issues/issues/118#issuecomment-76613261
(and do note that I had to fix another issue, so just look here and grab whatever you want: https://github.com/liskin/mapillary_tools/commits/master)

[2015-05-27 20:10] liskin commented on #23
(And yeah, I'm still trying to get rid of that bloody x9RQKYP_86gEmdcHq8wepQ sequence. I submitted at least 5 requests for hiding the whole sequence and every time only a little part of it was hidden.)

[2015-05-28 09:43] it4workflow opened #51 "improvement of readme.md"
i'm an ordinary mapper and using gopro hd 1080 in stills-mode. so i have to run some of the scripts of mapillary_tools. but some explanations of readme.md are unclear to me:
* `add_project.py` is only for mapillary business, isn't it? or how can i use it?
* `geotag_from_gpx.py` works fine, after install gpxpy-module
* `interpolate_direction.py` doesn't works, but have i to run it after `geotag_fro

[2015-05-28 10:46] domdomegg opened #52 "Upload each folder as sequence"
Can't see here how it actually uploads, would like to put warning about upload.py in but do not see where it is actually used.

Furthermore, what is line 9: ```sys.cleansetdefaultencoding("utf-8")```? I can't find any documentation, a Google search only gives me that page. Did you mean ```sys.setdefaultencoding("utf-8")```, if so you will also need ```reload(sys)``` beforehand, unsure why but yeah

[2015-05-28 11:25] jesolem commented on #52
This should not be there, something from @peterneubauer 's editor. Killed it.

[2015-05-28 11:25] #52 closed

[2015-06-01 06:46] pyrog commented on #8
First attempt to use `upload_with_authentication.py` with 3673 pictures.
Run python script from Mac OS X, pictures are stored on a PC and shared across the network via Netbios.

Got **1129 success**, **39 URL error** `URL error: <urlopen error [Errno 32] Broken pipe> on xxx.jpg`
When the PC goes to sleep mode :angry:, the script got exceptions and stall (same as #27)
[code]

[Manual upload](http:/

[2015-06-01 06:47] richlv commented on #23
@jesolem , thanks for the response. do the changes by @liskin seem reasonable ? maybe they can be merged as a short term solution :)

[2015-06-01 07:30] liskin commented on #8
This is fixed by https://github.com/liskin/mapillary_tools/commit/aab4807e616ddea2188efaaf3157e54f89e98208

[2015-06-11 07:56] thoschu96 opened #54 "upload_each_folder_as_sequence.py"
Hey.. i used mapillary_tools/python/upload_each_folder_as_sequence.py and it would be great, if
there could be made a second one, that upload's from several child folders into several sequences.

i used the split pythonfile and after that i want to upload this splitted files with a simple script and thought, that the mapillary_tools/python/upload_each_folder_as_sequence.py would do that, but it's

[2015-06-15 06:01] richlv commented on #23
well, had 3 gb of images. 578 uploaded just fine, 67 failed. as far as i know, that's a screwed up upload. the only option is to remove the whole upload and try again, hoping that this time it will be better... this time the errors were like this :
URL error: <urlopen error [Errno 111] Connection refused> on IMG_1596.JPG

[2015-07-16 13:44] thoschu96 opened #56 "Try to build a GUI for upload"
As it's little bit obsed, when u try to upload pictures, that are no with GPS values, the Webinterface get stuck.. so i try to build an GUI.. but .. get stuck and need help

Any Idea, why the E1 Field is not updating ???

[code]

#!/usr/bin/python
# -*- coding: utf-8 -*-

from Tkinter import *
from tkMessageBox import *
from tkFileDialog import *
from ttk import *

global pathname
pathname ="pathn

[2015-07-28 09:59] jesolem commented on #23
@liskin Finally had time to take a look, sorry for the delay. Commented on your branch and would love to accept a PR if you want to submit it.

[2015-07-28 12:00] peterneubauer commented on #54
So, what do run against a tree of folders, and have each subfolder be a separate sequence? Should not be hard to do.

[2015-08-01 17:13] Skippern commented on #47
Any progress on this? I am willing to beta test anything if that helps.

[2015-08-01 17:19] Skippern commented on #47
Any progress on this? I am willing to beta test anything if that helps.

[2015-08-01 17:19] Skippern commented on #47
Any progress on this? I am willing to beta test anything if that helps.

[2015-08-01 17:24] Skippern commented on #47
Any progress on this? I am willing to beta test anything if that helps.

[2015-08-01 17:34] Skippern commented on #47
Any progress on this? I am willing to beta test anything if that helps.

[2015-08-01 17:42] Skippern commented on #47
Any progress on this? I am willing to beta test anything if that helps.

[2015-08-02 13:36] Skippern commented on #47
Any progress on this? I am willing to beta test anything if that helps.

[2015-08-03 06:17] jesolem commented on #47
Hi @Skippern , thanks for checking in. We should try to expose this as a script (we process the results after upload in Python anyway so it is doable).

No progress yet, let's have @paulinus look at it soon.

[2015-08-10 11:49] richlv commented on #23
@liskin heya, i would definitely appreciate a PR to retry forever on any error ;)
just now, had another sequence fail with :
[code]
so that's more bandwidth wasted.

[2015-08-10 13:03] richlv opened #57 "allow to resume a sequece with upload_with_authentication.py"
upload_with_authentication.py currently does not allow to resume a sequence - attempting to do that just starts a new sequence.

this would be needed because it tends to skip images upon failure. even when that would be fixed, such a feature could be highly useful - let's say i'm uploading a sequence, and then i have to move to a different location with my laptop. currently that means restarting t

[2015-08-11 06:18] liskin commented on #23
Okay, see #58. I haven't tested the last commit though and I know very little Python to assume it must work, please test.

[2015-08-13 17:25] Skippern commented on #57
I support this, if the script created a SEQUENCE file or something in the directory with the sequence hash ID it would be possible to append to the sequence if upload is interrupted for some reason

[2015-08-13 17:39] Skippern opened #59 "Something seems to go wrong when finalising the upload with upload_with_authentication.py"
I get the following when finalising an upload with **upload_with_authentication.py**

Mac OS X 10.10.4, macports, python2.7, all dependencies updated with pip

[code]

[2015-08-13 18:00] Skippern opened #60 "upload_each_folder_as_sequence.py seems to freeze between folders"
upload_each_folder_as_sequence.py seems to freeze when completing a folder. There is no indication of what the script is doing, everything just hangs.

Mac OS X 10.10.4, python2.7, all dependencies up to date with pip

temporary solution is to run upload_with_authentication.py in loop

[2015-08-13 18:11] Skippern opened #61 "command line argument to force "DONE" at end of upload_with_authentication.py"
I would like upload_with_authentication.py to have an argument to force "DONE" after last file have been uploaded. I need this to be able to automate uploads (cron job style)

[2015-08-14 07:28] jesolem commented on #60
Yeah, naming mistake on @peterneubauer 's behalf. It does not actually upload. He'll either add upload or explain better.

[2015-08-14 07:35] jesolem commented on #59
Ah. I see the problem. If you have move files to True, that parameter is ignored in the check before trying to delete DONE. (the DONE file was moved before the script tries to delete it)

Fixing.

[2015-08-14 07:36] #59 closed

[2015-08-14 07:37] jesolem commented on #57
Good idea @Skippern

[2015-08-18 19:11] jesolem commented on #51
It is for private projects, yes.

Added explanation to the readme.

You need as a minimum lat,lon which your GoPro images probably lack until you use geotag.

Updated the description. In essence:

[code]

[2015-08-18 19:11] #51 closed

[2015-08-18 19:43] jesolem commented on #14
We added a few more checks since this. Closing.

[2015-08-18 19:43] #14 closed

[2015-08-18 19:44] jesolem commented on #37
@DenisCarriere is there anything you want us to do here?

[2015-08-18 19:48] jesolem commented on #56
No idea about the e1 field.

@thoschu96 I'm going to close this for now. Sorry but don't know how to help and hard to do on code snippet.

[2015-08-18 19:48] #56 closed

[2015-08-18 20:04] jesolem commented on #46
Added checks for Python 2.x. Thanks @Skippern , sorry for slow response.

[2015-08-18 20:04] #46 closed

[2015-08-18 20:14] jesolem commented on #26
@smsm1 Is this still a priority or did you find a workaround?

[2015-08-18 20:15] #10 closed

[2015-08-18 20:16] jesolem commented on #23
#58 is merged. Thanks @liskin

[2015-08-18 20:16] #23 closed

[2015-08-18 20:23] jesolem commented on #8
Fixed. By #58 from @liskin

[2015-08-18 20:23] #8 closed

[2015-08-18 20:44] jesolem commented on #43
Added verbose warning. Closing this. Thanks @stevage

[2015-08-18 20:44] #43 closed

[2015-08-18 22:14] smsm1 commented on #26
The work around that I'm using is a couple of extra scripts, plus a tweak to your python script as I've just documented at https://gist.github.com/smsm1/8c1ab74229d0ca7c5937

[2015-08-18 22:21] jesolem commented on #26
OK. Pre-processing with adding a folder label/id to the filename would also work.

Closing. Thanks @smsm1

[2015-08-18 22:21] #26 closed

[2015-08-18 22:31] jesolem commented on #49
@richlv Looking at it now upload_with_authentication.py uses upload.py and has the same success/failed printouts.

[2015-08-18 22:33] jesolem commented on #50
Retry was added in #58 , so if that's the better solution we should be good. Thanks!

[2015-08-18 22:33] #50 closed

[2015-08-18 22:37] jesolem commented on #28
We added tabs in the web uploader so you can see and finalize each sequence separately. Sorry for the delay in answering. Thanks @smsm1

[2015-08-18 22:37] #28 closed

[2015-08-18 22:43] DenisCarriere commented on #37
@jesolem Not really anything to action, but if you guys ever wanted to have the name "mapillary" on pypi, let me know and I can release it and you can take ownership of it. At the moment I'm not actively developing anything due to lack of time :)
Cheers,
- Denis

[2015-08-18 22:43] #37 closed

[2015-08-18 22:54] jesolem commented on #37
OK. Thanks @DenisCarriere !

[2015-08-20 09:03] richlv commented on #50
true, but both upload_with_authentication.py and upload.py still reference that directory (and also create it) - that should probably be removed :)

can we reopen this issue or should a new one be created ?

[2015-08-20 09:04] jesolem commented on #50
You're right. Make a new one for the folders and I'll fix it.

[2015-08-20 09:11] richlv commented on #57
too bad mapillary scripts don't use perl, i'm kinda trying to learn that one ;)
after having tu re-upload gigabytes of images recently, i tried to figure out how to reliably allow resuming, but stopped a bit short of an automatic solution. below "sequence_id = uuid.uuid4()", i added :
[code]
this seems to save the sequence id, which i could probably could manually insert in the script later (haven

[2015-08-20 09:18] richlv opened #63 "upload scripts create & reference "failed" directory but do not use it"
as discussed in issue #50, upload scripts reference and create a directory "failed" which is supposed to hold failed uploads, but do not seem to actually move files in there (the files just stay in the original directory).

with more retries added, it is sort of expected that uploads are retried and never fail, so the sequence is complete - although i'm slightly confused about the default of 10 re

[2015-08-20 09:21] richlv opened #64 "show upload statistics"
currently the upload scripts just upload and do not show any stats. it would be useful to know :
- total images
- uploaded images
- % completed (or todo)
- time spent
- estimated time to complete

in the simplest case, this could just be printed to stdout repeatedly, or it could be some more fancy repainting.

i have shell scripts to show some of this information, but that's a bit hackish and woul

[2015-08-20 09:26] richlv opened #65 "default to moving the files, or provide a cli option"
when uploading files, the scripts default to leaving the files as-is, and there's an option MOVE_FILES that can be set to "True". moving the files would allow to see whether any have failed (hopefully much less after recent retry adding :) ) and - very important - to resume uploading the sequence.

as such it might be better to move the files by default, or at least have a cli option to enable tha

[2015-08-20 09:27] richlv commented on #61
for the record, i have edited the script to upload automatically w/o asking for confirmation :)

[2015-08-20 09:31] jesolem commented on #57
@richlv Make a Perl script and we add it ;)

[2015-08-20 11:12] liskin commented on #63
If all 10 fail (which could very well happen if your ISP or electricity has an outage) then the files are ignored just as they were before. I would not advise using less than 50 with a home internet connection and would generally like this to be solved better than that: being able to retry failed files without creating a new sequence would be brilliant. But I don't have time and motivation to do t

[2015-08-20 12:06] Skippern commented on #61
@richlv what's the hack to look for?

[2015-08-20 12:25] richlv commented on #61
in upload_with_authentication.py , replace
proceed = raw_input("Finalize upload? [y/n]: ")
with
proceed = y
:)

[2015-08-21 10:52] richlv commented on #57
@jesolem - trying to learn, meaning i could attempt to modify something existing ;)
far from writing something like that from the scratch.

[2015-08-31 09:03] richlv opened #66 "upload script can hang"
upload script (using upload_with_authentication.py, not sure where the hang happens) sometimes hangs. usually it seems to be one thread - all images but one get uploaded and then it just sits there.

stracing isn't that helpful - it's just a constant stream of :
[code]

using them with python 2.7.8

[2015-08-31 09:13] richlv opened #67 "incorrect formatting in the upload_with_authentication.py output"
minor, but... in the output of upload_with_authentication.py, sometimes a line can be prefixed with an excess space :

[code]

sometimes it can concatenate two lines and then add an extra newline :

[code]

[2015-08-31 09:38] jesolem commented on #67
Because threading. If you think it is worth locking writing across threads and have an idea for how to do it, let me know ;) I'm not sure myself.

[2015-08-31 14:11] Skippern opened #68 "Better error handling from dependencies"
I am trying to send over a weak and unstable connection and frequently get the following error blocking the script. The scripts should handle errors better, and errors such as below should result in retry transmission of the same file

[code]

[2015-08-31 14:35] liskin commented on #68
I think I fixed this in https://github.com/mapillary/mapillary_tools/commit/c93b48bd3b8e829ae2ffc1e1122031dbe855fda5. Are you sure you're running a recent enough version?

[2015-08-31 14:43] Skippern commented on #68
I had updated recently but can't remember if that was only from my TimeCapsule or also on my notebook. I'll download the latest and run on my notebook to see if that helps.

[2015-08-31 21:18] lorenzoperone opened #69 "add_mapillary_tag_from_exif.py problem with pyexiv2 in macports named py-exiv2"
I'm trying the Python script add_mapillary_tag_from_exif.py in mac os 10.10.5 using python 2.7 through macports.
I've found the similar binding of pyexiv2 in macports but it's named py-exiv2, changing the library name in the script didn't had a good result, the script return:

_File "add_mapillary_tag_from_exif.py", line 12
    import py-exiv2
             ^
SyntaxError: invalid syntax_

Is there

[2015-08-31 21:26] paulinus commented on #69
Hi @lorenzoperone,
py-exiv2 might be the name of the macport package.  If you have installed such package, you should still use pyexiv2 on the python script. Did you try the script without modifying that line?

[2015-08-31 22:03] Skippern commented on #68
Updated to latest version of `upload_with_authentication.py` and other from the git repo, and refreshed all dependencies with `pip` and still get this:

[code]

[2015-09-01 07:20] lorenzoperone commented on #69
Hi Paulinus,
if I use pyexiv2 in the script I have as result:

*lorenzo-macbook:python lorenzo$ MAPILLARY_USERNAME=lorenzo.perone@gmail.com MAPILLARY_EMAIL=lorenzo.perone@gmail.com MAPILLARY_PASSWORD=XXX python add_mapillary_tag_from_exif.py   /Volumes/WD_Elements/Foto/2015/20150829/
Traceback (most recent call last):
  File "add_mapillary_tag_from_exif.py", line 12, in <module>
    import pyexiv2

[2015-09-01 07:26] paulinus commented on #69
It seems that you have pyexiv2 installed. It might be that python is not finding it. You can try setting the `PYTHONPATH` to tell python where to find it. Can you try running

    export PYTHONPATH=$PYTHONPATH:/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages

before the script?

[2015-09-01 07:52] lorenzoperone commented on #69
Hi,
now I have a segmentation fault, it seems that the first problem was solved, I'll investigate on the new one...
Thanks.
l.

[2015-09-01 08:12] lorenzoperone commented on #69
Hi,
I think it could depend by the fact I've installed some Python packages using macport and other like this (http://www.kyngchaos.com/software/python) from another port.
It could be possible?
In this case I think I'll not able to find a solution...
Thans.
l.

[2015-09-01 11:45] paulinus commented on #69
Segmentation faults can indeed come from using different versions of python and python modules. If numpy or scipy are the problem, i would recommend installing them through pip, which works great now (it used not to be the case)

[2015-09-01 11:51] lorenzoperone commented on #69
Hi Pau,
thanks, what is the best way to remove the Pyton modules that I’ve installed? The packages I’ve used don’t have any uninstall option…
Bye.
l.

[2015-09-02 09:08] paulinus commented on #69
If the method you used to install them does not have an option to uninstall, you will need to delete the files manually. This can be difficult since you don't know where they are or if they are used somewhere else in the system. It is easy to break things, so be careful.
To find the location of a package you can enter the python console. Import the package and type `package_name.__file__`
For exam

[2015-09-02 09:33] lorenzoperone commented on #69
Hi Pau,
I took a look about the versions of the Python modules installed on my Mac, looking the same packages in pip I’ve found the most recent version.
I think that the newest modules could not agree with the software I’ve on board.
I think could be better to do a sandbox using a virtual machine, have you any suggest about?
I could use windows or linux VM.
Thanks.
l.

[2015-09-03 22:47] didymops opened #70 "remove_duplicates.py complains of None or corrupt exif data."
I'm running remove_duplicates on some images that I have geotagged with the geotag_from_gpx.py script.

remove_duplicates.py looks for the gps_speed EXIF tag and if it's not found it throws the error. That tag isn't set in the geotagging script though. I would think that the gps_speed tag should be set in the geotagging script or the check for the presence of that tag should be removed from the re

[2015-09-07 07:57] jesolem commented on #70
@simonmikkelsen Did a PR for missing Orientation tag. This could probably be handled the same way.

[2015-09-07 08:21] simonmikkelsen commented on #70
I will fix it, along with another bug. Thanks!

[2015-09-07 18:11] simonmikkelsen commented on #70
I have made a PR with a fix that is tested on images with no GPS Speed tag. Until it is accepted the files can be found in https://github.com/simonmikkelsen/mapillary_tools/tree/master/python - Get a fresh copy of both remove_duplicates.py and lib_gps_exif.py as there are bugfixes in both.

[2015-09-07 22:36] didymops commented on #70
Thanks! I just tested it out and it works as expected.

On Mon, Sep 7, 2015 at 2:11 PM, Simon Mikkelsen <notifications@github.com>
wrote:

[2015-09-13 08:52] #70 closed

[2015-09-14 04:17] pnorman opened #76 "Support direction of movement"
The photos from my garmin come with direction tagged, but not in the exif tag that is needed

[code]

It would be nice to be able to use this information

[2015-09-14 05:57] pnorman opened #77 "Standardize on one python exif library"
Some scripts use pyexiv2 and some use exifread.

It would be better to only require one. Which is preferred?

[2015-09-15 04:37] jesolem commented on #76
Thanks for this and the other tools issues today. @ybkuang is going to spend some cleanup time with these scripts (much needed!), assigning to him.

[2015-09-15 08:57] richlv opened #78 "exception - BadStatusLine: ''"
sometimes uploading fails with an exception like this:
[code]

[2015-09-15 09:23] mprins commented on #76
see also mapillary/mapillary_issues#1323

[2015-09-15 09:40] ybkuang commented on #76
@pnorman, do you mean that you cannot upload the photo because of the missing direction or?

We currently require
 - GPS
 - Capture Time
 - Image Orientation (e.g. portrait or landscape)

We might remove the requirement for Image Orientation in the near future.

@mprins We will add support for direction of movement later.

[2015-09-15 20:30] blaueente commented on #77
The former seems to be deprecated, quote from http://tilloy.net/dev/pyexiv2/ :

[2015-09-15 20:42] ybkuang commented on #77
We are actively looking for a good library for exif parsing/editing.
For parsing, we have pyexiv2, exifread and pexif (https://github.com/bennoleslie/pexif )
For editing, we are looking for options. pyexiv2 works well so far. We are also looking at pexif
(it is not super active neither, slightly newer than pyexiv2).

pyexiv2 and pexif are both good as they enable both parsing/editing.  The edge fo

[2015-09-15 22:49] pnorman commented on #77
From an end-user standpoint, I find pyexiv2 best as it's the most packaged across my different systems. It's main shortfall is a lack of python3 support

The lack of API documentation for GExiv2 worries me a bit. I suppose if it's the same as pyexiv2 then it's okay, but if that's the case, the script could just conditionally import whichever is found.

None of the exif libraries are under particul

[2015-09-15 22:57] pnorman commented on #76
Fixed some missing text in the original issue.

Pictures from the garmin come with Direction of Movement, not GPS Image Direction

[2015-09-15 22:57] pnorman commented on #77
I just checked what I used in 2012, and it was pyexiv2

[2015-09-17 06:18] pnorman opened #80 "Advise to run deduplication before interpolation"
I'm not sure if this should be here, the guide, or both, but if both deduplicating and interpolating for direction, much better results are obtained by deduplicating first. Otherwise, wrong directions are obtained where the GPS drifts while stopped.

[2015-09-24 11:50] richlv opened #81 "do not descend in subdirectories by default"
it would great if all tools by default would only operate on the contents of the current directory and subdirs would require a flag.

so many times i have uploaded a sequence, upload script has stalled and i resume it with the same sequence... for it to descend in the "success" directory. arrrgh.

or review images in josm, fix their location and compass direction, then spot that some have missing

[2015-09-24 11:57] ybkuang commented on #81
@richlv We are working on scripts with smoother workflow. Will take this into consideration in the flow!

[2015-09-25 05:18] dalacost commented on #64
look this pull request https://github.com/mapillary/mapillary_tools/pull/82

[2015-09-25 05:43] richlv commented on #81
in perl this time ?
(joking, joking... glad to hear the scripts getting some attention :) )

[2015-09-25 20:01] dalacost commented on #64
Elapsed and estimated time https://github.com/mapillary/mapillary_tools/pull/83

[2015-09-25 21:26] tiagofassoni opened #84 "time_split.py crashes with metadata files"
So, it turns out Apple likes to insert little files beginning with '._' for metadata, indexing or whatever. And Apple also loves to place those in my image folders.

So my SD Card has a lot of images in .jpg syntax, but also those little nasty files. And, since time_split.py verification for jpg is just if the file ends with .jpg, it tries to read the EXIF metadata of the Apple files. The EXIFRead

[2015-10-02 01:53] pnorman opened #86 "Adjust for offset in time of geotagged images"
The Garmin VIRB XE will sometimes produce images which haverecorded GPS coordinates as if there was an offset between a camera clock and a GPS clock. As an example, http://www.mapillary.com/map/im/KrEYYVBPKEqAJs2J3iZuIw and nearby photos on the same sequence are off in position by about 7 seconds along the sequence.

It would be useful to be able to adjust for this offset.

Photos with a problem l

[2015-10-02 15:33] ybkuang commented on #86
@pnorman If you get a GPX file from Garmin VIRB XE, you can use geotag_from_gpx.py for processing https://github.com/mapillary/mapillary_tools/blob/master/python/geotag_from_gpx.py#l198 with the -time_offset option. If not, we need to figure out something else.

[2015-10-02 20:18] pnorman commented on #86
I haven't found one. I might be able to make one from the photos, and wrote some software to do this in the past.

[2015-10-03 18:53] drgweber opened #87 "geotag_from_gpx.py does not include EXIF tag: Image Orientation"
I am running geotag_from_gpx.py like this

geotag_from_gpx.py GOPR0970-dir tracklog.gpx 90

but when I try to upload the images with upload_with_authentication.py I get the following error:

Missing required EXIF tag: Image Orientation
Skipping: GOPR0970-dir/GOPR0970.MP4-00469.jpg

Checking with exiftool I get this:

GPS Version ID                  : 2.0.0.0
GPS Latitude Ref                : South

[2015-10-03 19:18] drgweber commented on #87
Sorry, I got it wrong. The way I split the video into images should include the Orientation. It has nothing to do with your script.

[2015-10-03 19:18] #87 closed

[2015-10-06 10:02] ybkuang commented on #86
@pnorman Just so that I understand correctly, the GPS info with time offset are in the exif of the photos?

[2015-10-06 20:06] pnorman commented on #86
The exif of the photos have a time. I do not know if this time was from the GPS or a different clock on the device.

[2015-10-12 09:39] richlv commented on #57
just for the record, the inability to properly resume uploads is creating more work for mapillary people, too... for example, i had hardcoded the uuid to upload a failed sequence, and forgot to change it later. uploaded some more sequences with the same uuid and had to ask to have them cut (and i'm not even sure that worked properly, so there might be slightly broken data now)

[2015-10-15 18:06] jesolem commented on #57
@ybkuang is pushing out a bigger update to the scripts soon, will assign and maybe he has some ideas.

[2015-10-15 18:08] ybkuang commented on #57
@richlv in the new version, we will have the option to keep the sequence uuids so that you can continue the upload without breaking the sequence. We will push that out soon.

[2015-10-16 05:18] richlv commented on #57
thanks for the info. the best option would be to save sequence id by default in the upload directory, reuse it if the sequence file is found and never descend in subdirs (like "success") - i really hope that's the direction it is going in :)

[2015-10-23 07:49] ybkuang commented on #76
Added parser for GPS Track (corresponding to Direction of GPS movement) in EXIF in the recent update.

[2015-10-23 07:49] #76 closed

[2015-10-23 08:08] ybkuang commented on #60
This has been fixed by @peterneubauer by renaming the script to add_mapillary_tag_from_exif.py

[2015-10-23 08:08] #60 closed

[2015-10-26 08:41] #65 closed

[2015-10-27 04:12] mxa opened #89 "Sample images based on distance instead of time interval"
I need a script like this one: https://github.com/AddisMap/BAME-tools , but I want a picture every n meters, not every n seconds.

[2015-10-28 02:14] dalacost opened #90 "a default PERMISSION_HASH and SIGNATURE_HASH on lib/uploader.py??"
Hi,
why lib/uploader.py have a default value for PERMISSION_HASH  and SIGNATURE_HASH??

[2015-10-28 02:15] dalacost commented on #90
https://github.com/mapillary/mapillary_tools/blob/master/python/lib/uploader.py line 29

[2015-10-28 15:17] Stefal opened #91 "geotag script need TimeZone parameter"
I'm trying to geotag some pictures from last summer with the Geotag script.

But, last week-end was the end of Daylight Saving Time. My Timezone was UTC+2, and now it's UTC+1. The script doesn't work anymore.

I've changed my computer TimeZone to run the script, but it would be better to have an argument to enter it on the command line. Something like
geotag_from_gpx.py image_path gpx_file_path **

[2015-10-28 15:30] ybkuang commented on #91
@Stefal does it work if you set sync_offset = -3600 + actual_sync_offset before we implement something?

[2015-10-28 17:47] Stefal commented on #91
@ybkuang It doesn't work if I substract 3600, but it's ok if I **add** 3600
My system : Windows 8.1 Pro x64 fr-FR

[2015-10-28 17:48] ybkuang commented on #91
@Stefal true true. it should +3600 ;)

[2015-10-28 19:44] Stefal commented on #91
My thought about this :
No argument entered : use the computer TZ
Argument : Pictures TZ

With my case it could be:
python geotag_from_gpx.py image_path gpx_file_path tz=+2 sync_offset

BTW : Oups ! Not sure if I have posted this issue in the right place.

[2015-10-29 16:24] didymops opened #94 "remove_duplicates.py IndexError: tuple index out of range"
I'm experiencing the following issue when running remove_duplicates.py on Windows 8 with Python 2.7. At this point I'm not sure if it's an issue in the code or something strange in my data. I've followed the same processing steps before without encountering the issue so that leads me to believe it is a code problem.

[code]

[2015-10-29 16:44] ybkuang commented on #94
It looks like there is some irregularity for the GPSInfo in the exif for that particular image. Can you share the image that has this error?

[2015-10-29 17:39] didymops commented on #94
Here's one of the images I am using. The only thing that I think could be different from what I have done previously would be to use two decimal places (e.g., 4.15) when setting the time offset with geotag_from_gpx.py. I'm not sure if that could be related. I have done one decimal place before successfully. Thanks!
![imag1001](https://cloud.githubusercontent.com/assets/14117435/10826869/27e7c182-7

[2015-11-08 19:52] nicolas17 opened #95 "upload.py doesn't work on current iOS app photos"
I took a thousand photos with my iPhone, and now want to upload them from the computer (to avoid having to leave my phone with the screen on and without being able to use other apps for multiple hours).

However, `upload.py` complains that the photos are `Missing required EXIF tag EXIF DateTimeOriginal` and skips them all. (It also says the `*-thumbs.jpg` files are missing `GPS GPSLongitude`, but

[2015-11-08 19:53] nicolas17 commented on #95
(Note I have never tried the script before, so I don't know if it ever worked with iOS app photos)

[2015-11-08 22:19] nicolas17 commented on #95
After some 'git bisect', I tracked this down to 6ef24c13ac047587a242389727c3b1d7c5b1bab9. Looks like EXIF verification was added at a low level used by all the upload scripts, but it shouldn't do the same checking for upload.py, which needs a different set of EXIF tags to be present.

[2015-11-09 08:02] ybkuang commented on #95
@nicolas17 Thanks for reporting this. We will work on a fix.

[2015-11-09 09:28] #95 closed

[2015-11-09 09:33] ybkuang commented on #95
@nicolas17 We did a small fix for this. (It is expected behavior that the *-thumbs.jpg are skipped upon missing exif.)

[2015-11-09 15:18] nicolas17 commented on #95
It seemed to be working with this fix, but after uploading a few hundred photos I realized it's also uploading the `-thumbs.jpg` files!

[code]

I also see the `-thumbs.jpg` files being moved into the `success` subdirectory.

[2015-11-09 15:24] ybkuang commented on #95
@nicolas17 Sorry, made a mistake here. It should be ok now if you check out the latest changes.

[2015-11-09 15:28] nicolas17 commented on #95
Yep that fixes it for good :grinning:

[2015-11-12 05:45] mxa opened #96 "phone_holder.scad manifest"
Sorry that's a bit nitpicky, but a small inconsistency is that when the phone size is set, the labels assume the phone in landscape orientation [width, height]. When the holder is defined, it looks at it in portrait orientation [side, bottom].

ph_width     = 147;
ph_height    = 74;
ph_thick     = 10;
wall			 = 2;
camera_hole_to_top_edge = 10;
camera_hole_to_side_edge = 10;
camera_hole_diameter =

[2015-11-14 19:08] richlv commented on #78
still happens repeatedly. especially sad when it happens for the "DONE" file :)
[code]

[2015-11-14 19:09] richlv commented on #27
issue #78 seems to be about the same error, although it does not hang there, it just exist

[2015-11-14 19:09] richlv commented on #78
might be the same as issue #27

[2015-11-15 22:42] #94 closed

[2015-11-15 22:43] didymops commented on #94
I just tried these same pictures on another system and it works as it should. It must have been something wrong with the python installation on the previous machine I used.

[2015-11-20 19:27] richlv opened #97 "skip_subfolders in upload_with_authentication.py does not seem to work properly"
spotted the new skip_subfolders option, tried to use it. i might be misunderstanding something, but it looks like it does not work as expected - even if there are images in the current directory, it claims that there are no images at all to be uploaded

[2015-11-21 19:00] jesolem commented on #97
Subfolders have confused me earlier too (before the skip option). -> @ybkuang to investigate

[2015-12-24 04:37] pnorman opened #100 "AttributeError: close from remove_duplicates.py"
[code]

The PIL installed is from the Pillow fork, and the PIL version is 2.3.0-1ubuntu3

[2015-12-24 05:31] pnorman opened #101 "remove_duplicates.py division by zero"
Off of an install in a clean virtualenv

[code]

[2015-12-24 05:31] pnorman commented on #100
With a clean install in a virtualenv I get PIL 3.0 and don't get this error, but I instead get #101

[2015-12-24 05:45] pnorman commented on #101
This leaves mapillary code with

[code]

The first oddity is that the Pillow API docs don't describe a _getexif() function for images.

But the cause is that pillow exif is badly broken for images where digital zoom is not used: python-pillow/Pillow#1492.

saimn/sigal#172 shows that a bunch of exif stuff in Pillow 3 has changed, and their workaround was to use Pillow==2.9.0

[2016-01-01 16:42] wiredfool commented on #101
For anyone who's interested in the exif handling in Pillow, Please test the new 3.1.0-rc1 release soon and give feedback. We've tried to fix the issues referenced here.

[2016-01-05 07:44] pnorman commented on #101
I can confirm pillow 3.1.0 fixes it. Not quite sure how to properly specify the version to allow 2.9 and 3.1 but not 3.0

[2016-01-05 07:53] pnorman commented on #77
pyexiv2 isn't packaged with pypi, which turns out to be a real disadavantage

[2016-01-06 17:18] naoliv commented on #81
Nice... now I have one sequence that I didn't want uploaded because this "feature" is enabled by default.

[2016-01-06 17:28] ybkuang commented on #81
@naoliv Hi, subfolders are currently not skipped by default. Which script are you using? upload.py or upload_with_authentication?

[2016-01-06 17:39] naoliv commented on #81
`upload.py`
It should be disabled by default :-/

[2016-01-06 17:43] ybkuang commented on #81
@naoliv Yes. We can change that. But since you were uploading the photos from the app, it does not matter since the sequence id is encoded in the exif.

[2016-01-06 17:53] naoliv commented on #81
I didn't use the app to upload, but `upload.py` (I prefer it instead Mapillary, since I can review all the pics before in my computer).

The problem here is that I had one subdir with pics that shouldn't be uploaded and the script, by default, is recursing all subdirs.
Pics in this subfolder were all taken with Mapillary too (and thus they were all valid and accepted).

To avoid other incidents li

[2016-01-06 18:00] ybkuang commented on #81
@naoliv Thanks for the details. Sorry for being unclear.

What I wanted to say is that, since you were uploading the photos taken with the Mapillary app, it should not matter if you use `upload.py` to upload photos from different sequences (in different `subfolders`). This is because in the Mapillary app, we encode the sequence ids in the exif of the photos which are used in the processing to ensu

[2016-01-06 18:02] naoliv commented on #81
Oh, right. Sorry to misunderstand :-)
Thanks!

[2016-01-06 18:24] ybkuang commented on #97
@richlv So it works without `--skip_subfolders` for the same directory?

[2016-01-06 18:29] #81 closed

[2016-01-06 22:36] richlv commented on #97
yes, without specifying that option it works properly. specifying it does not upload anything at all, including images in the current directory (not in subfolders/directories).

that's based on my tests in november, did not do git pull & retest currently.

[2016-01-14 12:20] Skippern opened #104 "Failed uploads"
Files that have failed for obvious reasons, such as missing EXIF tags should be moved to the failed folder which the already creates.

Files failing for problems with internet connection or similar should not be affected by this.

[2016-01-14 12:34] Skippern commented on #47
Still waiting for this, in the mean time I have uploaded a ton of video files manually over a painstakingly slow internet connection, and used very home-brew tools for converting the video files to image sequences. These home-brew tools works with lots of quirks :(

[2016-01-15 03:51] richlv opened #105 "DONE file created in the current, not target directory"
if directory to upload is specified, the DONE file is created and uploaded from the current, not from the target directory.
it has been stated previously that having DONE in the image (success) directory is useful, as that shows whether the sequence has been finalised.

[2016-01-15 08:31] ybkuang commented on #105
Good find. Will work on a fix for it.

[2016-01-15 15:12] richlv commented on #105
i actually have a patch for it, just gotta test it :)

[2016-02-13 10:28] Skippern opened #106 "Lots of errors during upload in Mac OS X 10.11"
I get a lot of these errors during upload, it might be because of unstable internet connection, or it might have other reasons.

[code]

[2016-02-16 11:10] Skippern opened #107 "Upload hanging at 100%"
I have several times the **upload_with_authentication** hangs on 100%

Only way to proceed the script is by ***^C***

[code]

[2016-02-24 11:15] ybkuang commented on #97
@richlv have you tried the latest version? will be good to if it is working for you.

[2016-02-24 11:17] ybkuang commented on #107
This could be the thread doesn't close properly. need to look into it. Thanks for reporting.

[2016-02-24 11:21] ybkuang commented on #90
Those are needed for uploading Mapillary images from the app to the right bucket.

Closing this.

[2016-02-24 11:21] #90 closed

[2016-02-24 11:27] ybkuang commented on #101
This looks like a problem related to PIL. We will be replacing the exif parsing with exifread across the lib in the future. Closing this for now.

[2016-02-24 11:28] pnorman commented on #101
It's already closed by #102

[2016-02-24 11:34] ybkuang commented on #78
Closing this and referring to #27.

[2016-02-24 11:34] #78 closed

[2016-02-24 11:36] ybkuang commented on #106
Closing this and referring to #27.

[2016-02-24 11:37] #106 closed

[2016-02-24 11:53] ybkuang commented on #61
It has been fixed. You now can use the option ```--auto_done```.

[2016-02-24 11:53] #61 closed

[2016-02-24 11:54] ybkuang commented on #107
Closing this and referring to #66.

[2016-02-24 11:54] #107 closed

[2016-02-24 12:13] ybkuang commented on #49
Closing this and referring to #64

[2016-02-24 12:13] #49 closed

[2016-02-24 12:14] #101 closed

[2016-02-24 13:55] peterneubauer commented on #96
Uhm just give us a pull request, happy to put that in!

[2016-03-02 16:17] Skippern opened #110 "--auto_done not working"
When executing with **--auto_done** no images are uploaded, and I get the following message (directory with ~430 correctly geotagged files, uploaded with no problem without --auto_done)
[code]

[2016-03-02 16:23] ybkuang commented on #110
@Skippern can you try ```./mapillary_tools/python/upload_with_authentication.py VIRB/20160301235623/ --auto_done``` instead? It assumes the path_to_images is the first input parameter.

[2016-03-02 16:35] Skippern commented on #110
Thanks @ybkuang that worked, though it is contrary to what the help option says

[code]

[2016-03-02 16:51] #110 closed

[2016-03-02 16:52] ybkuang commented on #110
@Skippern It should work better now! Sorry for the inconvenience.

[2016-03-07 06:26] richlv commented on #66
probably a duplicate of #27, closing

[2016-03-07 06:26] #66 closed

[2016-03-18 06:13] JulieMay opened #112 "Not Enough Data from Remove Duplicates"
The image source was the Mapillary for Android App.

I wanted to clean up the tour, adjust the brightness and saturation a bit, and upload the images.

When I tried the remove duplicates command this is the traceback. I have both PIL and pillow installed as an earlier error indicated PIL was being called instead of pillow.

The Readme for dependencies doesn't even mention pillow, by the way.

c:\w

[2016-03-18 06:21] JulieMay commented on #112
Nevermind, figured out that although this project never specifies what version of Python needs to be installed pyexiv2 failed install because it only works with python 2.6 or lower and I'm running a 2.7.

The project really needs to state what version of Python it is using somewhere.
In the meantime, the bug really should be
"Deprecation warning

pyexiv2 is now deprecated in favour of GExiv2, a GO

[2016-03-18 06:21] #112 closed

[2016-03-18 06:37] ybkuang commented on #112
@JulieMay We will remove the dependency of pyexiv2 later. Thanks for reporting this!

[2016-03-24 01:13] Skippern opened #113 "raise BadStatusLine(line)"
Throwing this at me several times during uploads, seems like something related to this result in the upload halting at 100%

[code]

[2016-04-12 12:42] talllguy opened #115 "Segmentation Fault 11"
Whenever I run `python interpolate_direction.py {dir}`, I get `Segmentation fault: 11` error. I'm running Mac OSX 10.11.3 (15D21).

Python version is:

[code]

![screenshot 2016-04-12 08 38 26](https://cloud.githubusercontent.com/assets/1827881/14460181/10aa832c-008a-11e6-9582-fda789c75327.png)

[2016-04-12 13:38] ybkuang commented on #115
@talllguy the ```.../Mapillary/GPS``` folder contains all the images you want to upload?

[2016-04-12 15:04] talllguy commented on #115
@ybkuang yes that is right. I tried another directory with less images too.

[2016-05-28 09:19] MichaelVL opened #117 "Incorrect EXIF subsecond handling"
In extract_capture_time() the sub-second timestamp is added to the DateTime value with:

+ datetime.timedelta(seconds=float(sub_sec)/1e6)

However, the EXIF standard states this field is ASCII and recording fraction of seconds, continuing with an example where fraction '0.130' is stored as the string '130'

Thus I would suggest that in extract_subsec() where the return value is:

  sub_sec = int(s

[2016-05-31 16:25] richlv commented on #97
sorry for abandoning this - changed my mapillary tools/workflow, can't find the time to test.
if the option works as expected for you, feel free to close this issue :)

[2016-06-09 11:44] de-vries opened #118 "add_mapillary_tag_from_exif.py fails on something something ssl certificate"
I ran `add_mapillary_tag_from_exif.py` and got the following output:

[code]
On monday everything was working fine. I also tried the most recent version of the tools, but same result.

my guess is that it's related to https://github.com/mapillary/mapillary_issues/issues/1923

[2016-06-09 11:51] ybkuang commented on #118
@peterneubauer can you help take a look at this?

[2016-06-09 12:04] peterneubauer commented on #118
Yup, on it ....

[2016-06-09 12:14] peterneubauer commented on #118
Can you pull the latest changes and try again? We updated the SSL cert, and want to use a.mapillary.com ...

[2016-06-09 12:32] de-vries commented on #118
check

[2016-06-09 12:32] #118 closed

[2016-06-16 19:19] kaitu opened #119 "Script request: add_exif_tag_from_mapillary_tag"
Since the newer versions of the shooting app stopped writing exif tags, a tool which reads the mapillary tag and creates corresponding exif tag is imperatively needed.

[2016-06-17 12:27] kaitu commented on #119
Not needed, since there's now a more practical in app function for this purpose.

[2016-06-17 12:27] #119 closed

[2016-06-17 21:35] Blackbird27 commented on #105
Is this why I get `OS error: [Error 183] Cannot create a file when that file already exists on DONE` when I submitting a sequence (pressing "y") when using upload_with_authentication.py script? the message appears couple of times and eventually I get `Done uploading.` message.

[2016-06-23 20:36] sorcrosc opened #120 "sequence_split.py do not split in more sequences but only in subfolders"
I expect this script to modify the SequenceUUID attribute to really split sequences but seems it only divide images in subfolders.
Maybe this the same request as #54

[2016-06-24 15:11] mprins commented on #120
it's not supposed to be used with "app" images.

Not sure why you would want to change the SequenceUUID as the apps do this automatically?

[2016-06-24 22:27] sorcrosc commented on #120
I use to review sequences in my computer to delete bad images. Sometimes there are several close each other so i would like to split the sequence to avoid having a big gap between two images. Like this here:
http://www.mapillary.com/map/search/43.679232363771604/12.74386418290058/14

What do you mean with "the apps do this automatically"? What app?

[2016-07-02 23:01] sorcrosc commented on #120
Well, I'm closing this but I think a script to change sequence uuid in subfolders is useful.
In the meantime I put together this bash script.
[code]

[2016-07-02 23:01] #120 closed

[2016-07-09 05:29] pnorman opened #122 "Throttle upload speed"
upload_with_authentication.py can saturate upstream bandwidth easily, causing problems with other programs. It would be good to have an option for maximum bandwidth.

[2016-07-13 02:11] talllguy commented on #115
This seems to have something to do with one of the requirements and an Xcode issue. [This may help](http://stackoverflow.com/questions/9353444/how-to-use-install-gcc-on-mac-os-x-10-8-xcode-4-4).

[2016-07-16 11:36] seb-1204 opened #123 "OS error: [Error 183] Cannot create a file when that file already exists on DONE"
Hi,
I've just uploaded about 1600 photos using upload_with_authentication.py. Toward the end mycomputer went into sleep but as I woke it up the upload continued.

Once all was uploaded the below error was shown after I selected 'y'

Is my upload correct and 'closed'?

`[============================================================] 100.0% ... 0 imag===left.
Finalizing upload will submit all success

[2016-07-20 01:57] bhousel opened #124 "pyexiv2 won't install"
I guess this relates to #77

[code]

[2016-07-20 02:52] bhousel opened #125 "Scripts dont work"
wat
[code]

[2016-07-20 07:20] ybkuang commented on #125
@bhousel Can you help me check if `/usr/local/lib/python2.7/site-packages` is set in your PYTHONPATH?

[2016-07-20 07:24] ybkuang commented on #124
`pyexiv2` should not have been in the requirement.txt. I have removed it in the latest commit.

To install pyexiv2:
Mac:
```brew install pyexiv2```

Ubuntu:
```sudo apt-get install python-pyexiv2```

[2016-07-20 12:25] bhousel commented on #124
thank you!

[2016-07-20 12:25] #124 closed

[2016-07-20 12:37] bhousel commented on #125
That was the issue, thanks!

[2016-07-20 12:37] #125 closed

[2016-07-25 12:34] tdurand commented on #115
I have the same issue on mac , have you been able to solve it ?

[code]

[2016-07-25 12:54] ybkuang commented on #115
@tdurand can you try this for me and see if you get the same error?

    python
    import pyexiv2

[2016-07-25 12:56] tdurand commented on #115
Yep, i get that, seems the issue is with pyexiv2

[2016-07-25 12:58] ybkuang commented on #115
Did you use `brew install pyexiv2` for installing pyexiv2? And do you have multiple versions of python installed?

[2016-07-25 12:59] tdurand commented on #115
I did used brew install pyexiv2 , and i do have multiple version of python installed. The thing is the script worked at the beggining, weird

[2016-07-25 13:06] ybkuang commented on #115
Segmentation fault can happen when pyexiv2 does not linked with the `right` version of the python. Can you try to install pyexiv2 again?

[2016-07-25 13:17] tdurand commented on #115
I tried but still the segfault i think i'm well configured, using python from homebrew and having pyexiv2 well setup:

![screen shot 2016-07-25 at 15 16 59](https://cloud.githubusercontent.com/assets/533590/17102656/f2b41318-527a-11e6-8fe2-d22f705bc508.png)

[2016-07-25 13:41] ybkuang commented on #115
It could be that pyexiv2 is linked to the python at /usr/bin/python instead of the brew version.

[2016-07-25 13:49] tdurand commented on #115
I don't think so unfortunately, both are linked to the Cellar directory. Well don't worry i will use the online web tool to interpolate direction of a sequence

![image](https://cloud.githubusercontent.com/assets/533590/17103559/21c43a1c-527f-11e6-88d0-0bbc29507264.png)
![screen shot 2016-07-25 at 15 45 06](https://cloud.githubusercontent.com/assets/533590/17103568/307c0850-527f-11e6-8ad7-83bb1f14

[2016-07-25 14:05] ybkuang commented on #115
@tdurand Sorry about the inconvenience. I will be working replacing pyexiv2 this week with something a bit light-weighted. Will keep you updated.

[2016-07-25 14:06] tdurand commented on #115
Don't worry, the weird thing is that is was working with my first tests.

[2016-07-28 11:58] Skippern opened #127 "Normalize and pre-set compass offset"
There should be an option to do the '''normalize sequence''' and '''set offset''' sequence edit options when uploading, a simple --normalize_sequence and --offset=nn would do greatly.

[2016-07-28 17:29] Skippern commented on #122
Also command line option for number of threads.

[2016-07-29 03:41] talllguy opened #128 "Consider the gpsTrack Exif Attribute when interpolating direction"
While poking around with Garmin photo metadata over on [another issue](https://github.com/mapillary/mapillary_issues/issues/2114), I observed that Garmin Virb XEs pack an EXIF attribute called `gpsTrack`. I've written some documentation on the attribute and how it could be used in the photo interpolation procedure for Mapillary's python scripts.
### gpsTrack

This attribute, according to the [Exif

[2016-07-29 06:06] millenbop commented on #128
Just wanted to chime in on how it works in the iOS app. We use the `track` from the Garmins for direction, but we offset it by the direction set by the user (+45, +90 etc).

[2016-07-29 11:24] bhousel commented on #128
Cool, looks related to https://github.com/mapillary/mapillary_issues/issues/2016
I think Mapillary is planning to support these exif tags in their server-side processing.  In that situation, doesn't running `interpolate_direction.py` become unnecessary?

[2016-07-29 11:54] talllguy commented on #128
Thanks for sharing those comments from @ybkuang, that does sounds like an important update. The only thing about server-side processing these, is that the direction the camera is facing is unrelated to the track direction. If there was a way the user could just specify the angle on the UI, I think that would solve it.

#2129 relevant

[2016-08-01 21:28] danbjoseph commented on #115
i'm running into this same issue.
[code]
[code]
have been down a number of stack overflow rabbit holes but to no avail.

[2016-08-02 09:29] ybkuang commented on #115
@danbjoseph working on a fix for this. Should be available by the end of this week.

[2016-08-05 14:36] ybkuang commented on #115
@talllguy @danbjoseph I did a fix to remove the dependency on pyexiv2. It needs some more testing. I will commit this next week. Sorry about the delay.

[2016-08-05 17:10] danbjoseph commented on #115
No problem. Looking forward to it. Will have lots to upload when it's ready. Thanks for all your work!

[2016-08-09 09:31] peterneubauer opened #129 "Consider GPX track segments when interpolating"
The GPX scripts is right now flattening the points from all tracks into one big list. That means that - if you stopped the GPX logging and started it again, you will have several tracks in the GPX fiel with gaps in between. Images in these gaps should be cosidered outside the GPX coverage (like before/after the whole file) and not be modified. Right now the images get falsely interpolated directio

[2016-08-12 12:51] ybkuang commented on #117
@MichaelVL Thanks for reporting this. @kertase's pull request fixed this https://github.com/mapillary/mapillary_tools/pull/131.

[2016-08-12 12:51] #117 closed

[2016-08-12 13:01] ybkuang commented on #115
@danbjoseph can you try the codes in this branch https://github.com/mapillary/mapillary_tools/tree/feature-no-pyexiv2? I've removed the dependency for pyexiv2.

Note: Please backup your photos before running the scripts. There is a very small chance that exif editor might corrupt the image files (even though I have never experienced that yet for >100K images I uploaded).  I am looking at an altern

[2016-08-13 20:58] danbjoseph commented on #115
working and no issues encountered/noticed yet.

[2016-08-18 23:08] utack commented on #127
This would be really useful
My device has a compass that is a random number generator, and normalizing compass in the online editor plus waiting for approval is painfully complicated and slow

[2016-08-29 08:01] ybkuang opened #136 "Risk of overwriting/deleting file in sequence_split.py"
https://github.com/mapillary/mapillary_issues/issues/1758#issuecomment-242988502

[2016-09-07 10:21] msevilla00 opened #137 "running upload.py under linux (ubuntu trusty) not work"
I download full repository and I'm trying to use upload.py script in my pc under ubuntu mate (14.04 - trusty) and I get this message:

[code]

No idea where to find exifread module.
Any suggestion?

[2016-09-07 17:09] msevilla00 commented on #137
I solved installing the requeriments and it works
The key was to type:
`sudo sudo pip install -r requirements.txt`
An then:
`python upload.py ~/mapillary/2016_09_01_10_52_42_467___Mapillary`
Cheers

[2016-09-19 05:49] golserma opened #138 "Constant position offset."
My camera is mounted at the end of mi bicycle the GPS Unit is mounted in Front of the bicycle.
There should be a feature to alter the position by the distance of the units.

Example:

Distance between GPS Device and Camera is 0.8 meters. offset bearing is 180° calculate the angle and move the point 0.8 meters.

[2016-09-29 17:42] #96 closed

[2016-10-03 08:51] xtompok opened #140 "Consider GPS orientation for 360 degree camera"
The orientation of images is probably taken from Pose*Degrees, but the script for interpolating direction sets only the heading, so the images in the sequence are badly oriented, because the pose data for images taken on a bike are very bad.
The problems can be seen on all my sequences (i. e. https://www.mapillary.com/app/user/jethro?lat=49.99294783305556&lng=13.257768666944445&z=17&pKey=MwfBCBPiW

[2016-10-13 19:07] bhousel opened #141 "Support exif tags for multi camera capturing"
Per chat:

[code]

This will allow Mapillary to group images and sequences that were captured together.

[2016-10-29 20:06] nighto commented on #69
Hi, I'm having some troubles to successfully run this in El Capitan. I'm getting the error `No module named pyexiv2`, even though it is installed by `brew`.

Googling around, I found [some instructions](http://stackoverflow.com/questions/16623902/pyexiv2-with-homebrew-python-2-7-4) saying that if you compile `boost` it should work, but it didn't.

Any other ideas?

[2016-10-29 20:17] nighto opened #143 "pyexiv2 not found on brew with El Capitan"
Hello, I'm having some troubles with `pyexiv2` on El Capitan. It is available on `brew`, I can install it correctly, but then `python` doesn't find it.

I've seen [some instructions](http://stackoverflow.com/questions/16623902/pyexiv2-with-homebrew-python-2-7-4) saying that you have to compile `boost` in order to install `pyexiv2` correctly. Did that, but the error persists. What else can I try?

[2016-10-29 20:19] nighto commented on #143
Guess I should had more attention to `brew` installation output. It says:

[code]

Did that and it run fine.

[2016-10-29 20:19] #143 closed

[2016-11-04 17:10] bhousel opened #145 "Check `--duplicate-distance` param on `upload_with_preprocessing.py`"
Sorry I don't have more information yet, but just flagging here for me to check the `--duplicate-distance` culling that happens in `upload_with_preprocessing.py`, because I'm fairly sure there is a subtle bug in there that is causing points to be culled incorrectly based on their calculated distance.  I'm definitely seeing a lot of gaps in my traces that don't make much sense.

For example, I usua

[2016-11-14 13:09] ybkuang commented on #138
@golserma We can add the option of offsetting the positions in meters. But we need to bear in mind that most of the GPS units have larger errors than 1 meter.

[2016-11-14 17:54] ybkuang commented on #145
@bhousel What the capture interval between the photos? It looks like it is 1 image/second? I can see that you have gaps in your sequences. And I looked at some of them, the two consecutive images usually have gap with 1 second. For instance here https://www.mapillary.com/app/user/bhousel?lat=37.55129305555556&lng=-122.2613397222222&z=17&pKey=ECI1rqT4e-xhwPqnVX5SAg&focus=photo. So the gap might not

[2016-11-15 06:27] posikifi commented on #77
pyexiv2 seems to pretty difficult to install to my enviroment (Ubuntu 14.04). So is there any plans to move pure-Python library, like pexif or piexif (https://github.com/hMatoba/Piexif). After plans, I'd like to hear also timetable ;-)

[2016-11-15 07:43] ybkuang commented on #77
@posikifi we have a branch with pexif here https://github.com/mapillary/mapillary_tools/tree/feature-no-pyexiv2. It needs more testing though. You can try it but please backup your photos beforehand.

[2016-11-15 08:45] posikifi commented on #77
@ybkuang Ok, I will check that. Thank you!

[2016-11-27 03:11] bhousel commented on #145
Hey @ybkuang I did some more analysis and it does look like the gaps are caused by something our cameras are doing, not something the script is doing..

Not the same sequence as above, but a different one:
[code]

[2016-11-27 03:11] #145 closed

[2017-05-05 15:10] mprins opened #153 "upload.py fails to upload images taken with 3.50 android app"
[code]

this is rather pressing at the web-uploader for this sequence just ends in **Aww Snap!**, the uploader in the app is borked and I have some much larger sequences to go...

[2017-05-05 18:03] sorcrosc commented on #153
For what I have seen pictures from recent app versions don't have mapillary tags anymore.
I am using upload_with_authentication.py

[2017-05-08 09:54] mprins commented on #153
it seems direction is missing from the exif tags as well

[2017-05-08 11:08] #137 closed

[2017-05-08 11:40] peterneubauer commented on #153
Do you have the GPX file for that sequence too? You should be using `python geotag_from_gpx.py path-to-images/ gpx_file --time-offset [time_offset]` so the images can be properly interpolated,a and then upload them. If you give me only 3 files and the GPX file I can try it for you.  https://github.com/mapillary/mapillary_tools/tree/master/python

[2017-05-08 12:14] mprins commented on #153
Not sure why I would need to use the gpx as images have lat/lon from the app (but direction is missing)

attached is the first part of a sequence I shot this morning (using 3.55); this was uploaded though the app an I have just received the "Your Mapillary photos are now published" notification for this [sequence](http://links.mapillary.com/wf/click?upn=SYm2Yy25nY5jqeAJPK2dL29rff3pydlFfOroPZm5iUiM

[2017-05-08 12:18] mprins commented on #153
![image](https://cloud.githubusercontent.com/assets/1165786/25803859/40b14b8e-33f9-11e7-84d6-99333a41cbb9.png)

[2017-05-09 22:15] peterneubauer commented on #153
Hi there, I checked the sequence. It seems it's taken in GMT+1 timezone? So there is a problem with the EXIF timestamps not having any timezone information, and most phones seem to write localtime. This means that the photos will appear to have different times if you change timezone (you might be not in that timezone when uploading the images). In that case, since the timestamps in GPX do have tim

[2017-05-10 09:15] mprins commented on #153
exif daytime (e.g..0x9003) is always local timezone, if you want utc you need to use the GPS date / time (0x001D and 0x0007), note that the latter is a rational number.

[2017-05-10 11:21] peterneubauer commented on #153
Yeah, that is the problem. We can't rely on the GPS (that is kind of the point of interpolating, and we can't be sure GPS is even there in all images) and the rest of the EXIF is not reliable.

[2017-05-10 11:22] peterneubauer commented on #153
However, we can try to read the GPS time first and see if that is available.

[2017-05-11 19:19] scaidermern commented on #10
This issue isn't really fixed, is it? I'm still experiencing this issue.

[code]

Modifying the script is not a valid solution. Please re-open.

[2017-05-11 19:28] scaidermern opened #154 "remove_duplicates.py Invalid cross-device link"
Using remove_duplicates.py for files on a different device I'm experiencing:

[code]

[2017-05-12 07:33] mprins commented on #153
currently I'm in GMT+2 (because Europe, DST), closed the app, I changed to GMT+0 and to GMT+1
in all cases the map in the upload screen remains black even though I'm on wifi backed by a 50GB connection. I remains black in capture mode as well even though the location fix is "good"

[2017-05-12 09:50] #154 closed

[2017-05-13 19:04] JanisE opened #156 "geotag_video with NMEA log: local variable 'date' referenced before assignment"
When running `geotag_video.py`, if using an NMEA log, I get the following error. If I convert the log to GPX (`gpsbabel -i nmea -f ./17051303.LOG.nmea -o gpx -F ./17051303.LOG.gpx`), then the geo-tagged images are generated all right.

[code]

The NMEA log: [17051303.LOG.nmea.txt](https://github.com/mapillary/mapillary_tools/files/998873/17051303.LOG.nmea.txt)

[2017-05-23 20:40] ybkuang commented on #127
One can now use this script https://github.com/mapillary/mapillary_tools/blob/master/python/upload_with_preprocessing.py
[code]

[2017-05-23 20:40] #127 closed

[2017-05-23 22:20] ybkuang commented on #113
Solved with #132

[2017-05-23 22:20] #113 closed

[2017-05-23 22:22] ybkuang commented on #97
Closing this for now @richlv You may reopen if you find further issues.

[2017-05-23 22:22] #97 closed

[2017-05-28 10:37] yarazi opened #157 "getting started"
Hello all,

Is there a mnaual that shows how to install, config and run the mapillary_tools.

Thanks
yaniv

@ybkuang

[2017-05-30 09:07] cbeddow opened #158 "Pyexiv2 not found in Windows"
### Basic information
* Platform: `window 10 64 bit`
* Version: Inline image 1
* System/Python: Python 2.7.13

### Steps to reproduce behavior

1. Install python 2.7 ( pip, if not install )
2. pip install -r requirements.txt
3. move to D:\yaniv\mapillary\mapillary_tools-master\python
4. run python geotag_from_gpx.py

### Expected behavior
A mapillary message of some kind, regarding user no specifi

[2017-06-02 18:31] pbb72 commented on #157
There is an old tutorial on https://forum.mapillary.com/t/running-the-python-scripts/130, but I agree that the readme.md should be updated to include more thorough instructions.

[2017-06-02 19:51] pbb72 commented on #158
Sorry, maybe a very ignorant question from me, but did you install pyexiv2 (http://tilloy.net/dev/pyexiv2/download.html)?

[2017-06-02 20:44] cbeddow commented on #158
Yes, this was installed by the user doing this (not me reporting the issue
for myself). Tried the bindings, pip, but seems to end up as some sort of
issue with a DLL. We put him on the non-pyexiv2 version and it's working.
This may be a not enough information bug.

On Friday, June 2, 2017, Peter <notifications@github.com> wrote:

[2017-06-03 15:35] pbb72 opened #159 "Mention required Python version"
The README.md file in the Python directory nicely lists the dependencies for these scripts. However, it does not say a word about which Python version is required.

There's two major versions of Python, version 2 (first release 17 years ago, that's ancient history in the digital world) and version 3 (first release 7 years ago, also a good time ago).

The Python website speaks almost exclusively of

[2017-06-08 15:36] scaidermern opened #161 "add_mapillary_tag_from_exif.py: SyntaxError"
add_mapillary_tag_from_exif.py broke during commit 4c09e432d84b3bdbb943f7d5c62f4a6ff04f1f91:

[code]

Fix is at https://github.com/mapillary/mapillary_tools/pull/160.

[2017-06-10 21:03] wladich opened #162 "remove_duplicates.py --min_duplicates has no effect"
Value assigned to var min_duplicates in lines 308 and 388  is never used.

[2017-06-14 09:11] ybkuang commented on #161
Thanks @scaidermern for the fix. Closing this.

[2017-06-14 09:11] #161 closed

[2017-06-14 09:20] ybkuang commented on #157
@yarazi We will work on refining the documentation of the tools.

@pbb72 Thanks for helping with the pointing to the tutorial.

[2017-06-18 14:57] scaidermern opened #164 "upload.py: UnboundLocalError: local variable 'response' referenced before assignment"
During upload I experienced a network error. upload.py wasn't able to handle it correctly:

[code]

Now upload.py just hangs and doesn't finish. Looks like `response` should have been declared as `None` before calling `urllib2.Request()`?

[2017-06-21 16:57] zzptichka opened #165 "geotag_from_gpx.py division by zero"
Whenever you have several photos shot while GPS was auto-paused you get this:

Traceback (most recent call last):
  File "geotag_from_gpx.py", line 182, in <module>
    add_exif_using_timestamp(filepath, filetime, gpx, args.time_offset, args.bearing_offset)
  File "geotag_from_gpx.py", line 45, in add_exif_using_timestamp
    lat, lon, bearing, elevation = interpolate_lat_lon(points, t)
  File "ge

[2017-06-22 11:40] andrewharvey opened #166 "support webp uploads"
A quick scan of the uploader code https://github.com/mapillary/mapillary_tools/blob/master/python/lib/sequence.py#L67 it seems only .jpg images are supported.

It could be nice to support webp ulpoads. Although it takes more CPU time on the client to create them, for me they are about 1/5th the size for the same quality and would make uploading much faster on slow connections.

I'm using this to k

[2017-06-22 16:57] ltog opened #167 "remove_duplicates.py: Silent fail when EXIF orientation not set"
I noticed that `remove_duplicates.py` silently fails when the EXIF tag for orientation is not set. Even with the verbose option `-v` the repeated message

    , No orientation => False

didn't make it clear for me at first.

After some digging I discovered that the used library is not able to read some (all?) EXIF tags if the orientation is not given, which might be a bug in the library (`PILExifR

[2017-06-24 20:15] dexterslu commented on #69
ran into this issue earlier today. was able to resolve it by looking back at my brew install of pyexiv2, where it provides site-packages for sys.path.

[2017-06-26 03:08] andrewharvey commented on #122
could this be left to the user with something like `trickle`? https://linux.die.net/man/1/trickle

[2017-06-27 00:32] skorasaurus opened #169 "pyexiv2 does not report being installed even though it is."
Hi,

I have several photos (taken in mapillary) that needed to rotated before uploading; so I rotated them in imagemagick; I'm on ubuntu 16.04.

I created a virtualenv, installed the requirements; installed python-pyexiv2 [https://github.com/mapillary/mapillary_tools/issues/124].

I ran upload_with_authentication.py but
received an error "Missing required EXIF tag: GPS GPSLongitude for image /home

[2017-07-02 12:43] skorasaurus commented on #169
I needed to have a virtualenv that used my packages that were installed system-wide; I did this by creating a new virtualenv and issuing ```virtualenv -p /usr/bin/python --system-site-packages```

[2017-07-02 12:43] #169 closed

[2017-07-17 02:37] andrewharvey commented on #164
I've run into this issue exactly. As a user it's confusing what it means and what I should do about it.

[2017-07-23 21:50] sorcrosc commented on #153
Actually I am not able to upload any photo neither with upload_with_authentication.py. Photos don't have gps tags. This is what I get:
[code]
Is there something wrong in my phone? I guess no, because I have no problems uploading with Mapillary app. So what tool should we use to upload now?
I also tried geotag_from_gpx.py to add gps tags but I have problems with that. I will file a bug if needed.

[2017-07-23 23:25] richlv opened #171 "skip "thumb" files in upload.py"
upload.py seems to consider all the images. the recent versions of the mobile apps (at least the ios one) also save *-thumb.jpg files, which are not relevant for the upload. this results in messages like these :

    Uploading 24391 images with valid mapillary tags (Skipping 24391)

-thumb.jpg should probably be ignored by upload.py

[2017-07-25 10:35] richlv commented on #171
an even better solution would be to detect the matching "thumbnail" files and move them into the success directory - and report on thumbnail files that do not have matching normal file

[2017-07-27 07:29] ybkuang commented on #166
@andrewharvey Thanks for the suggestion. We will need to check if our server is supporting webp or not. On the other hand, we will prefer keeping the format consistent in our system. Otherwise, it will take considerable amount of time for us to maintain the system.

[2017-07-29 21:37] sorcrosc opened #173 "geotag_from_gpx.py: AttributeError: 'str' object has no attribute 'as_tuple'"
I'm trying to geotag images taken from Mapillary app in my phone to upload them with upload_with_authentication.py. See my comment in https://github.com/mapillary/mapillary_tools/issues/153#issuecomment-317284691
Here below is what i get. This also causes the first image in the directory to be erased (4 bites long)

[code]

[2017-07-30 18:36] richlv opened #174 "allow to tag app images on the computer"
background : had a lot of of images taken, needed space on the phone - transferred them to the computer without adding the tags. then transferred them back to the phone, tagged. copied to the computer again - but the tags were missing for most of them (~ 7k), only a few hundred images had the tags.
copied images to the phone again, but the upload from the phone just deleted the images.

not sure w

[2017-07-30 20:47] richlv opened #175 "certificate error exceptions not handled"
uploader.py does not deal well with certificate errors - an exception is thrown and that thread dies (or stalls ?).
this can happen with some mobile modems (that sometimes display an internal page) or in other conditions.

according to https://stackoverflow.com/a/666052/272387 , urllib2 should kinda handle this, but it does not. catching "Exception" does resolve the problem.

[2017-07-30 21:00] richlv commented on #175
just noticed that i apparently had an older version of the tools, the latest version also has "httplib.HTTPException". will have to test whether this also covers certificate errors

[2017-07-31 11:33] ybkuang commented on #173
@sorcrosc can you forward one of the images in the folder to yubin [at] mapillary [dot] com? Thanks.

[2017-07-31 11:47] ybkuang commented on #164
https://github.com/mapillary/mapillary_tools/commit/ae8cb4bfad12cdba4810b4639b3cf610ac982be6 should fix this. Thanks for reporting.

[2017-07-31 11:55] andrewharvey opened #176 "SyntaxError: invalid syntax"
After https://github.com/mapillary/mapillary_tools/commit/9c625fc9685074e6123efadb7d38bf7d7bdfae46 I'm getting this error:

[code]

likely due to https://github.com/mapillary/mapillary_tools/commit/9c625fc9685074e6123efadb7d38bf7d7bdfae46

[2017-07-31 12:04] #176 closed

[2017-07-31 17:39] sorcrosc commented on #173
Done

[2017-08-01 08:38] richlv commented on #153
does the timezone issue also affect the ios/iphone app ? couldn't figure out from this issue

[2017-08-01 08:38] richlv commented on #175
closing for now, will reopen if i can reproduce the problem

[2017-08-01 08:38] #175 closed

[2017-08-01 09:38] ybkuang commented on #174
@richlv Are you using Android or iOS?

Making scripts for upload images is on our to-do list.

[2017-08-01 09:58] peterneubauer commented on #153
No, iOS is not affected, since there images names have been written in UTC from the beginning. We have switched in the next release of Android to include full timezone info into the filename, so this issue will hopefully disappear.

[2017-08-01 10:05] richlv commented on #174
primarily ios, although having that for android would be useful every now and then, too.
of course, if the capture process can be modified to include all the needed tags right away without writing the image twice, that would mostly eliminate the need for the tagging script.

[2017-08-01 10:06] richlv commented on #153
great, thanks for the info :)

[2017-08-01 13:53] ybkuang commented on #174
@richlv Thanks for the feedback.

So the issue of image being deleted after you copied them back to the phone is related to iOS?

[2017-08-01 15:39] richlv commented on #174
yep. there were at least two large batches (around 7000 and around 10000 images) that i added exif tags and copied them to the computer - but there were no tags on the images. copying them back to the phone did not help, as apparently the info to tag them had already been removed.

[2017-08-02 15:19] ybkuang commented on #174
@richlv there are json files with meta data which are stored along side with the images. When you first transferred imags out to your computer, did you also delete the images on the phone?

[2017-08-02 15:52] richlv commented on #174
i was aware of the json files, so i did not touch them at any point.
but when i transferred the images, i did delete them from the phone - although i did that through itunes, not from the app

[2017-08-04 13:31] Skippern opened #178 "NameError cast in geotag_from_gpx.py"
[code]
Typo in variable name? Changing `exiv_bearing` to `corrected_bearing` in line 49 solved it for me

[2017-08-08 14:41] #178 closed

[2017-08-08 14:42] ybkuang commented on #178
@Skippern Thanks. That slipped through during the refactoring. We will be adding tests to the codes soon so things will be more consistent.

[2017-08-11 22:18] peterneubauer commented on #173
I have the same problem, attaching 2 images and the GPX.
![20170811_190038](https://user-images.githubusercontent.com/11977/29233848-aaecb232-7ef3-11e7-8ee0-a2907df4857c.jpg)
![20170811_190040](https://user-images.githubusercontent.com/11977/29233849-ab184fe6-7ef3-11e7-9203-97a2c774246e.jpg)
[2017-08-11_19-00_Fri.gpx.zip](https://github.com/mapillary/mapillary_tools/files/1219208/2017-08-11_19-00_

[2017-08-12 16:43] peterneubauer commented on #173
Here is another one - from the Google Nexus 5X with the corresponding GPX, guess all the files are like that

[CAMERA2_0_2017_08_12_15_57_55_411_+0200.gpx.zip](https://github.com/mapillary/mapillary_tools/files/1219912/CAMERA2_0_2017_08_12_15_57_55_411_.0200.gpx.zip)
![2017_08_12_15_59_01_766_ 0200](https://user-images.githubusercontent.com/11977/29242471-1bee6378-7f8e-11e7-9d45-72f8fcf66e03.jpg)

[2017-08-12 20:22] peterneubauer commented on #173
After some debugging, at least in my case somewhere there is type of the tag is `Rational`, but instead of a Rational number, the actual data in https://github.com/mapillary/mapillary_tools/blob/master/python/lib/pexif.py#L482 is of type string, and is `\x00`.

The question is if the data is wrongly read from the EXIF tags, since `exiftool` and other image viewers don't have problems with these im

[2017-08-13 16:55] peterneubauer commented on #173
So, after some investigation, it turns out that the LG and some phones are writing the `GPSAltitudeRef` as Rational or String `\x00` instead of `0` byte, see http://www.cipa.jp/std/documents/e/DC-008-2012_E.pdf. For images created with the Android app, this is now corrected to overwrite the AltitudeRef always with a byte=0, however for the LG we need to robustify the parsing in the python lib, wil

[2017-08-13 17:24] sorcrosc commented on #173
@peterneubauer thanks!
My phone is an LG G4

[2017-08-13 17:33] sp4rkie commented on #173
I just tried to import the data of  https://github.com/mapillary/mapillary_tools/issues/173#issuecomment-321992118 with josm and geotagged images. There were no unexpected results. Obviously they got the issue  already fixed :-)

[2017-08-13 19:33] peterneubauer commented on #173
So, for the images that are not ok, the best way I have found to fix this is to simply remove the offending taga with `exiftool` which is a bit more fogiving:

    exiftool -GPSAltitudeRef= -d "OUTUT_FOLDER" "-directory<datetimeoriginal" PATH_TO_THE_IMAGES/*

After that, the script should work.

[2017-08-14 07:41] ybkuang commented on #173
Thanks for investigating @peterneubauer. Indeed, the pexif lib is handling that well with unexpected bytes. We will see how we can fix that (or use another exif edit lib)

[2017-08-14 07:48] peterneubauer commented on #173
We could use the same technique as in we now do in Android - before doing any writing, we remove the tag with some means, maybe `exiftool` or so in order to make the data clean?

[2017-08-16 17:59] sorcrosc opened #180 "sequence_split.py arguments reversed in README"
README says sequence_split.py command is:

`python sequence_split.py path-to-images/ cutoff_distance [cutoff_time]`

but `cutoff_distance` and `cutoff_time` are in reversed order

[2017-08-17 21:25] Lwnzhn commented on #159
PLEASE, port it to python3 instead/on top of that. Modern distros abondonend python2 completly, it's a dead end. That would also be a reason for some refactoringing to object oriented and more reuse between those tools. Glad to help if you decide that way.

[2017-08-17 21:26] Lwnzhn opened #181 "port to py3"
It's the better language, it's the future. Py2 is eol.

[2017-08-17 21:27] Lwnzhn opened #182 "Errno 10054"
I get an error timout for every file I upload.py:
Uploading 202 images with valid mapillary tags (Skipping 0)
URL error: <urlopen error [Errno 10054] Eine vorhandene Verbindung wurde vom Remotehost geschlossen> on 2017_08_13_13_03_31_832.jpg

alternatively:
URL error: <urlopen error [Errno 10053] Eine bestehende Verbindung wurde softwaregesteuert
durch den Hostcomputer abgebrochen> on 2017_08_13_1

[2017-08-17 21:34] Lwnzhn opened #183 "iOS postprocessing leads to deletion at upload of all pics"
1. take a sequence
2. forget to press postprocessing in app
3. move folder and 'camera' folder to PC
4. postprocessing, delete 50 bad images(but not coressponding files in camera, because srsly?)
4a. try uploading using these scripts for some nights
5. move folder from PC back to iOS
6. push postprocessing button ->runs happily as expected
7. push upload -> finished in 30secs, says OK, but nothing

[2017-08-17 21:42] ybkuang commented on #183
@millenbop can you help take a look at this?

[2017-08-17 21:43] ybkuang commented on #181
@Lwnzhn Thanks for the suggestion. We will take a look into this.

[2017-08-17 21:43] Lwnzhn commented on #183
You are lightning fast, respect.
:Daniel

17. Aug 2017 23:42 von notifications@github.com:

[2017-08-17 21:46] ybkuang commented on #167
Thanks for reporting. We will see if we can reuse another exif library for this. @ltog

[2017-08-17 21:50] #164 closed

[2017-08-18 08:08] millenbop commented on #183
Ouch that doesn't sound good at all. I'll look into it today. Thanks for reporting.

[2017-08-18 12:06] millenbop commented on #183
Ok fixed now. So sorry about this! Uploading update to Apple now.

[2017-08-18 12:06] #183 closed

[2017-08-19 20:14] Lwnzhn commented on #183
HERO!!
tx,
Daniel

18. Aug. 2017, 14:06 von notifications@github.com:

[2017-08-20 09:52] ltog opened #184 "interpolate_direction.py writes unreadable EXIF data (test data included)"
# Summary

The latest version of `interpolate_direction.py` writes EXIF data that is not readable by other applications (JOSM in my case).

# Details

For the attached test data, when processed with `interpolate_direction.py`, `exiftool` prints one of the two warnings for every processed image:

Variant A:

    Warning                         : GPS pointer references previous InteropIFD directory

[2017-08-20 19:09] pschonmann opened #185 "Unable to upload files - lib.pexif.InvalidFile: Unable to find EOI marker."
~/apps/mapillary_tools/python# ./upload_with_preprocessing.py --interpolate_directions ~/Desktop/Cyklo/

=== Spliting photos into sequences based on time and distance ...
Moved 1001 photos to ~/Desktop/Cyklo/0
Moved 390 photos to ~/Desktop/Cyklo/1
Moved 711 photos to ~/Desktop/Cyklo/2
Moved 129 photos to ~/Desktop/Cyklo/3
Moved 1001 photos to ~/Desktop/Cyklo/4
Moved 351 photos to ~/Desktop/Cyklo/5

[2017-08-21 09:57] ybkuang commented on #185
@pschonmann can you share two of the images to yubin [at] mapillary [dot] com? I will take a look.

[2017-09-02 18:19] Alessandro-Barbieri opened #186 "--orientation not working"
Uploaded sequence `1P5M5aCXzwkcWWw5nGKReQ` with the script using `--orientation 180` but in map is still wrongly rotated.

[2017-09-07 14:54] ybkuang commented on #184
@ltog Thanks for reporting. I will take a look and seems that it is related to the exif library we are using. Will look for a fix for that.

[2017-09-07 15:06] ybkuang commented on #186
@Alessandro-Barbieri The orientation value has to be in `[1, 3, 6, 8]` see more details [here](http://sylvana.net/jpegcrop/exif_orientation.html). To rotate the image 180 degree, the corresponding orientation tag should be 3.

I will add better documentation or use more human readable value for the option. Sorry about the confusion.

[2017-09-07 21:24] domdomegg opened #187 "Download URL broken"
https://a.mapillary.com/v1/im/search?download used in [download_images.py](https://github.com/mapillary/mapillary_tools/blob/master/python/download_images.py) returns a `404` error.

[code]

[2017-09-07 22:14] peterneubauer commented on #187
Yes, this URL should be updated to version 3.

[2017-09-07 22:38] domdomegg commented on #187
Basically done it now - will submit pull request shortly

[2017-09-08 07:29] #187 closed

[2017-09-08 09:31] ybkuang opened #189 "Error in pexif"
Traceback (most recent call last):
File "C:\Python27\Scripts\mapillary_tools-master\python\add_mapillary_tag_from
_exif.py", line 67, in
MAPILLARY_USERNAME, MAPILLARY_EMAIL, None, upload_token, sequence_uuid)
File "C:\Python27\Scripts\mapillary_tools-master\python\lib\exifedit.py", line
102, in create_mapillary_description
metadata = ExifEdit(filename)
File "C:\Python27\Scripts\mapillary_tools-mas

[2017-09-08 09:32] ybkuang commented on #189
@kaitu does it happen to all folders or only one particular folder of images?

[2017-09-08 10:05] kaitu commented on #189
To all of the folders I tried since the error emerged.

[2017-09-08 10:11] ybkuang commented on #189
@kaitu are there any thumbnail images in the folder?

[2017-09-08 11:45] kaitu commented on #189
I don't think so, nothing which appears in the folder file list anyway.  I'm on windows 7, and I haven't changed anything in my system since the script started giving errors (but updating the mapillary tools to latest version, when I the errors had already started to appear).

[2017-09-08 13:47] ybkuang commented on #189
@kaitu Thanks for the details. I will do a test here as well to check.

[2017-09-08 14:30] kaitu commented on #189
Only the images taken with the smartphone started to give problems. Here is a sample:
![img_20170827_133932](https://user-images.githubusercontent.com/5104672/30216306-deb92e04-94b2-11e7-804e-d802f70ce3ee.jpg)

The images shooted with the 360 camera are still processed flawlessly.

[2017-09-08 17:09] ulikoehler commented on #189
I have encountered somewhat similar error messages, when at least one of the images in the folder was damaged (i.e. "corrupt"). I've solved this issue by  manually looking through the images and deleting the one or two corrupted files. You can identify them as a large portion of the image is displayed in gray.

However, in this case it seems unlikely to be the case as it occurs for multiple folder

[2017-09-08 19:23] kaitu commented on #189
Yes, it seems a problem with the script, not with the images. I tried to process old photos which I know I had already processed successfully with the add_mapillary_tag_from_exif.py, and now I get the same error.

[2017-09-09 00:00] ybkuang commented on #189
Thanks @kaitu for the extra information and data. I will take a look.

[2017-09-09 01:02] ybkuang commented on #189
@kaitu there is an issue with the exif parser. I did a hot fix for it now, can you try? We will look into other exif library options later as other users were having issue with the parser as well.

[2017-09-09 11:53] kaitu commented on #189
Excellent, it's working now.
Thanks for the quick fix!

[2017-09-11 07:57] mprins opened #190 "Error looking up size (pexif.py)"
It seems the `ExifType.lookup` dict is missing some values, specifically `8`

I''m seeing the below stacktrace:

[code]
some print statements show that there is a size lookup for a value of 8

[2017-09-22 14:28] ybkuang commented on #190
Noted @mprins. We are looking into replacing pexif. Sorry about the inconveniences.

[2017-09-30 23:43] ybkuang commented on #189
``

[2017-09-30 23:43] #189 closed

[2017-10-11 11:22] Alessandro-Barbieri commented on #186
https://github.com/mapillary/mapillary_tools/blob/master/python/update_tags.py#L48 is this wrong then?

[2017-10-11 11:56] ybkuang commented on #186
Yes. It has to be 1, 3, 6, 8 accordingly.

[2017-10-11 12:08] Alessandro-Barbieri commented on #186
What's the purpose of this https://github.com/mapillary/mapillary_tools/blob/master/python/update_tags.py#L62 then?

[2017-10-11 13:06] ybkuang commented on #186
@Alessandro-Barbieri will fix that. sorry for the inconveniences.

[2017-10-17 07:32] ybkuang commented on #190
Similar issues [here](https://forum.mapillary.com/t/running-the-python-scripts/130/61?)

[2017-10-17 18:49] alexandrz opened #192 "ValueError: No JSON object could be decoded"
Can not upload photos:

[code]

[2017-10-18 06:35] alexandrz commented on #192
Debugged it a little bit. It looks like the login endpoint ( https://a.mapillary.com/v1/u/login ) returns 404.

[2017-10-18 06:48] alexandrz opened #193 "Extrapolating sequence photos positions"
I've shot many photos in tunnels recently and I wonder whether it's possible to extrapolate positions of these photos using this tools set. It can be done with OSRM's match API - https://github.com/Project-OSRM/osrm-backend/blob/master/docs/http.md#service-match

[2017-10-25 22:57] ToeBee opened #194 "Upload script never finishes after some types of network errors"
Sometimes I see an HTTP error response during uploads and either the picture actually did make it to the server or the script tries again because the sequence ends up with the correct number of pictures on the server and the upload script exits normally.

However sometimes (I think if there is an error establishing the TCP connection instead of the server returning an HTTP error code) the script w

[2017-10-30 20:46] alexandrz commented on #192
Fixed after updating scripts

[2017-10-30 20:46] #192 closed

[2017-11-06 02:11] Alessandro-Barbieri commented on #186
Exif metadata of a processed image:
`Caption {"MAPCameraRotation": "90", "MAPOrientation": 6}`
Are they correct?

[2017-11-15 05:48] markwbrown opened #197 "pyexiv2 dependency"
In order to use geotag_from_gpx.py, pyexiv2 is needed as a dependency. This is a pretty big hurdle for mac users and makes using the library in python3 an exercise in frustration

[2017-11-15 14:01] mprins commented on #197
see #196

[2017-11-16 00:26] mishari opened #198 "lib.pexif.InvalidFile: Unable to find EOI marker."
add_mapillary_tag_from_exif.py fails with the following traceback:

[code]

[2017-11-16 02:51] markwbrown commented on #197
That is some sweet, sweet sauce. A couple minor changes and it works perfectly in Python3

[2017-11-16 06:50] #197 closed

[2017-11-17 09:26] SanderH commented on #159
[py3exiv2](https://pypi.python.org/pypi/py3exiv2/0.1.0) seems availble.
So in theory it shouldn't be too difficult to switch to Python 3 using this instead of pyexiv2.

[2017-11-20 10:28] ybkuang commented on #198
@mishari This is related to the exif library. We have been working on a fix for it. We want to test if the fix works or not on your images. Can you send a few (1-2) sample images to yubin at mapillary dot com

[2017-11-20 10:29] ybkuang commented on #190
@mprins This is related to the exif library. We have been working on a fix for it. We want to test if the fix works or not on your images. Can you send a few (1-2) sample images to yubin at mapillary dot com

[2017-11-20 13:41] mprins commented on #190
sent mail and attached here as well.

[2017_04_27_15_32_53_172.zip](https://github.com/mapillary/mapillary_tools/files/1487795/2017_04_27_15_32_53_172.zip)

[2017-11-21 10:31] Alessandro-Barbieri commented on #186
Tomorrow I want to upload 10 GiB of images, having this fixed would help me not to manually search sequences after upload and the requesting rotation with the Google form

[2017-11-21 17:38] ybkuang commented on #186
@Alessandro-Barbieri
Sorry for getting back to you late. Which script were you using to upload the photos? Is it `upload_with_preprocessing.py`? As far as I can see, the update_tags.py is correct given #L62.

[2017-11-21 23:19] Alessandro-Barbieri commented on #186
🤔 I re tried with upload_with_preprocessing.py and it's working ...

[2017-11-22 01:21] ybkuang commented on #186
@Alessandro-Barbieri can you share one of the latest sequence with me? I would like to double check.

[2017-11-22 10:49] Alessandro-Barbieri opened #199 "HUGE memory usage"
Resuming an upload with `upload_with_preprocessing.py` consumes 4156,7 MB of memory and pc becomes unresponsive ...

[2017-11-23 07:22] Alessandro-Barbieri commented on #186
https://www.mapillary.com/map/im/ejRAoeTpevwdmqKP6JmnDw latest sequence, still not working

[2017-11-23 07:47] ybkuang commented on #186
@Alessandro-Barbieri can you tell me the script you use to upload? If you are using upload_with_preprocessing.py it will not recognize the tag --orientation 180 properly. I thought that you were using update_tags.py.

[2017-11-23 08:45] Alessandro-Barbieri commented on #186
I always used upload_with_preprocessing.py, worked only for this sequence https://www.mapillary.com/map/im/K9Bp7jazxzZXU4smG18Qxg . What can I do to fix the script?

[2017-11-23 08:55] ybkuang commented on #186
working on a fix for you. sorry for the inconveniences. @Alessandro-Barbieri

[2017-11-23 14:49] ybkuang commented on #186
@Alessandro-Barbieri I updated the script now. you can try again.

[2017-11-26 12:53] mishari opened #200 "upload_with_preprocessing.py doesn't use Cloudfront"
It seems that upload_with_preprocessing.py doesn't use cloudfront, unlike upload.py is it possible to have it use CloudFront? It could significantly increase reliability of uploads from ISPs with congested links.

[2017-11-26 12:56] mishari commented on #185
I had some truncated jpg files that caused this error. Try to repeat it by taking a large jpg file (say 3 megabytes) and doing dd if=input.jpg if=output.jpg bs=1m count=1

[2017-11-29 14:06] jernejaMislej opened #201 "piexif crashes if exif corrupted"
###About

[https://pypi.python.org/pypi/piexif](url) crashes if the exif bytes per tag are not representing the right format

###Notes

- Solution candidates
 A.) Keep only the tags we need and make sure that they are written in the right format(we might loose valuable information and for a subset of tags we will need to know their corresponding required format and all the possible wrong value for

[2017-11-30 11:08] jernejaMislej commented on #201
https://github.com/hMatoba/Piexif/blob/master/piexif/_exif.py

here are all the formats, accessible through piexif.TAGS['Image'], where one could loop through all the tags, read the type and force the value in that type.

[2017-11-30 11:10] jernejaMislej commented on #201
might help to just ask the piexif guy if he has any suggestions, he must have experienced this issue already

[2017-11-30 11:23] ybkuang commented on #201
yes. Lets open an issue and ask there.

[2017-12-03 20:30] jernejaMislej commented on #201
the author has responded really quickly and started doing something on the dev branch, refactoring the _dump script and adding an option to ignore the wrong format, i ll have a closer look and test what he did tomorrow and pause any quick fixes on our side, since the author might fix it before

[2017-12-04 11:45] ybkuang commented on #199
@Alessandro-Barbieri we are taking a look at optimizing the processing part of the script. Sorry for the inconveniences.

[2017-12-04 11:45] ybkuang commented on #199
@Alessandro-Barbieri By the way, how many images were you uploading?

[2017-12-04 11:46] ybkuang commented on #186
@Alessandro-Barbieri is it still failing for you (per you comments on the `update_tags.py`)?

[2017-12-04 11:50] Alessandro-Barbieri commented on #199
More than 1000, didn't remember

[2017-12-04 11:50] ybkuang opened #202 "Fix orientation option"
### About
Orientation option in `upload_tags.py` and `upload_with_preprocessing.py` only works when the original orientation tag is `1`

### Tasks
- [ ] Add logic to adapt the orientation tag relative to the original orientation value

[2017-12-04 11:52] Alessandro-Barbieri commented on #186
I had a bunch of images rotated to right, run the script with `--orientation 270` but the images are now rotated to the left

[2017-12-04 11:55] ybkuang commented on #186
@Alessandro-Barbieri OK. Thanks for the information.  It is related to this issue https://github.com/mapillary/mapillary_tools/issues/202. We will try to prioritize working on a fix for it.

BTW, Are your images captured with a phone or an action camera?

[2017-12-04 13:19] Alessandro-Barbieri commented on #186
With a phone: Samsung duos GT-S6106 with android 2.3.6 rooted using the app Tina Time Lapse

[2017-12-07 08:01] jernejaMislej commented on #201
the issue is fixed to the point that the exif can be loaded and written back, I will need to add additional tests to test all the exif edit tests on corrupt exif.

The author has added an option to the _dump to ignore the wrong format tags. In some images the resulting exif is correct(the wrong format tag is removed), but in some the wrong format tag is still there, the piexif will not crash, but

[2017-12-07 14:11] maherkarim commented on #198
Dears,
We are facing the same issue with uploading images to mapillary. Please is there any update on this issue

Thanks

[2017-12-07 14:35] ybkuang commented on #198
@maherkarim sorry for the delay. We are still investigating and find a stable library for this. The exif libraries are having problem with irregular EXIF fields. Can you also send some samples to us so we can investigate? yubin at mapillary.com

[2017-12-07 14:47] mishari commented on #198
@ybkuang sorry it seems I've deleted the bad images, but can you recreate the issue by truncating the image, say by doing dd if=image.jpg output=broken.jpg bs=1m count=1?

[2017-12-28 08:00] jernejaMislej commented on #201
@ybkuang piexif guy says he is not releasing the fix, since the bug is still there, so either we fix it ourselves, or fork and release it ourselves the way it is

[2017-12-28 10:18] ybkuang commented on #201
@jernejaMislej Thanks!

I've forked the repo https://github.com/mapillary/Piexif. Installing with pip install is trivial even if we don't release it with `pip install git+https://github.com/mapillary/Piexif`

So the remaining things before our release of the piexif replace:
1. Investigate and make a fix for the issue of tag with wrong format as you describe
2. ensure that the data types for values

[2018-01-01 12:05] danbjoseph commented on #61
if i failed to use `--auto_done` when testing an automated upload and the process quit without accepting a prompt, is there some action i can take to finalize the upload? will the server automatically close/finalize the sequence after some amount of time?

[2018-01-01 13:07] danbjoseph opened #206 "--upload_subfolders starting uploading as one giant sequence"
had a folder with 10+ subfolders (from `sequence_split.py`) and ran
`python upload_with_authentication.py /Users/username/Desktop/pics/ --upload_subfolders`
and it started uploading all 6000+ images as one sequence

Python 2.7.13, OSX 10.12.6

[2018-01-02 10:44] ybkuang commented on #61
@peterneubauer can you help check this?

[2018-01-03 11:16] peterneubauer commented on #61
@danbjoseph can you see your unfinished seqeunces under https://legacy.mapillary.com/map/upload/im ? Otherwise, what is the username to look for? I can do it on the server and add the DONE files.

[2018-01-05 19:17] danbjoseph commented on #61
I see 3 sequences on that site. Just click `Push to Mapillary`?

[2018-01-05 19:39] peterneubauer commented on #61
Yes, that should do the trick.

On Jan 5, 2018 8:23 PM, "Dan Joseph" <notifications@github.com> wrote:

[2018-01-12 06:48] jernejaMislej commented on #201
list of keys, where piexif crashes for loading only:

[code]
i will check a few in more detail and open an issue at piexif if neccessary

[2018-01-18 22:20] DaveF63 opened #209 "ImportError: No module named exifread"
Hi
A while since I've last used python. Using Windows
I downloaded & extracted the python folder from mapillary_tools-master.zip
From a shell command line I ran & got the following error:
Any ideas?

[code]

[2018-01-19 10:51] jernejaMislej commented on #201
@ybkuang exiftool can read these, but can't edit/write, due to errors
pexif can read and write, so i was able to take the image description away and will make an issue at piexif
just a summary of this issue:
out of ~9k images from our db, 90 werent able to load with piexif, where ~half was due to ValueError, with error message `Exif might be wrong. Got incorrect value type to decode. tag: 1 type:

[2018-01-22 09:00] jernejaMislej commented on #201
i have opened another issue for the load fail, the author said that he will not try to load broken EXIF, but to me it seems that the definition of a valid EXIF can be so different , his seems to be very strict, which is the reason for other issues as well. Although considering that `exiftool` can not edit/write to those files where load fails neither, that could be acceptable, but he said if there

[2018-01-22 15:29] ybkuang commented on #209
@DaveF63 thanks for reporting. It is related to the library dependency. We will update the instructions for the setup on Windows this week which you can follow to set up the library properly.

[2018-01-26 16:36] ybkuang commented on #209
@DaveF63 Here is a short description on the setup
- Install `PIP` by following the instructions [here](https://pip.pypa.io/en/stable/installing/)
- Install Dependencies:
  ```pip install -r requirements.txt```

[2018-01-30 19:33] leojimenezcr opened #213 "geotag_from_gpx.py: Time t not in scope of gpx file."
I get this error when using geotag_from_gpx.py:
[code]
I tried the _geotag_from_gpx.py_ version before commit 06f603b9e7c98691e61d057d844c9a30b97837b3. It works:
[code]

[2018-01-30 23:10] ybkuang commented on #213
@leojimenezcr the behavior of the codes has been changed a bit. It assumes the GPX time is in UTC by default. Can you run the same with `--local-time` on and try again?

[2018-01-30 23:29] ybkuang commented on #206
@danbjoseph yes. upload_with_authentication.py with `upload_subfolders` will treat all images as one sequence. `upload_with_preprocessing.py` is a better option for doing both splitting and uploading in one step. Sorry about the inconvenience.

[2018-01-30 23:42] leojimenezcr commented on #213
Hi. I tried again with `--local-time` option. It works. But the GPX time is in UTC. On the other hand, the photos datetime is in UTC-6.

[2018-01-30 23:49] ybkuang commented on #213
@leojimenezcr yes. so the default assumption is that both Image timestamps and GPX are in UTC (sorry for the confusion). With `--local-time`, it will convert the GPX time to local time to match the image timestamps. Not the best thing to do, but it is tricky to know beforehand the timezone setting of the two devices. We will work on making it clearer in the future.

[2018-01-31 14:19] leojimenezcr commented on #213
Now I undestand :-)

The help on the script is clear. I think is good idea mention the option on la readme file. I can do the pull request if you want.

Thanks for the good work!

[2018-02-02 09:50] schadow1 opened #216 "ffprobe not found"
I get this error whenever i run geotag_video.py

Video starts at: 2018-02-01 02:49:47
GPS trace starts at: 2018-02-01 02:49:47
Traceback (most recent call last):
  File "C:\Python27\mapillary_tools\python\geotag_video.py", line 113, in <module>
    video_duration = get_video_duration(video_file)
  File "C:\Python27\mapillary_tools\python\geotag_video.py", line 34, in get_video_duration
    return

[2018-02-02 10:23] ybkuang commented on #216
@schadow1 you will need to install ffmpeg for this. We are working on adding that to the doc. Before that can you try this?
 - Browse to and download the latest release :
    http://adaptivesamples.com/how-to-install-ffmpeg-on-windows/
 -  Unzip and extract all files.
 - Follow instructions to add to path and system environmental variables.

[2018-02-03 15:38] schadow1 commented on #216
@ybkuang

Thanks. Got passed that error after installing ffmpeg. But now with this new error:

    (key,val)=a.strip().split('=')
ValueError: need more than 1 value to unpack

[2018-02-10 20:42] pbb72 commented on #159
Still, just mentioning one single line in README.md about the Python requirement, should be even easier to implement.

[2018-02-10 22:13] pbb72 opened #217 "Exif data is destroyed"
First image in a sequence, GPS coordinates added using GeoSetter:

![00000934-before](https://user-images.githubusercontent.com/1436366/36067408-04f7c1a0-0ebd-11e8-8c74-52d8042d35ea.JPG)

[code]

After running `interpolate_direction --offset_angle -90 .`:

![00000934-after](https://user-images.githubusercontent.com/1436366/36067154-ccff3760-0eb7-11e8-86cc-52846f200e36.JPG)

[code]

I have had no p

[2018-02-11 17:43] pbb72 opened #218 "Location search for leaderboards is seriously broken"
I'm trying to see the leaderboard for Oslo, the capital of Norway. These are the results I get to choose from:

![image](https://user-images.githubusercontent.com/1436366/36076322-db221aa8-0f5a-11e8-9dd2-59cf00b6a32d.png)

(The locality Oslo is a tiny town in Minnesota, USA.)

The weird thing is that a location search for Oslo does come up with usable results:

![image](https://user-images.githubu

[2018-02-11 17:56] pbb72 commented on #218
Sorry, wrong repository! Moved to https://github.com/mapillary/mapillary_issues/issues/2864

[2018-02-11 17:56] #218 closed

[2018-02-12 08:39] ybkuang commented on #217
@pbb72 can you share with us the original image? And just to double check, are you using the latest master? Thanks!

[2018-02-12 08:45] ybkuang commented on #217
OK. We tested with the image (_.before.JPG) pasted in the issue and it looks ok. Will be great to have more information to reproduce this @pbb72

[2018-02-12 12:58] schadow1 commented on #217
same issue. jpg gets corrupted after add_fix_dates using the latest master. The corruption does not happen when I downloaded the master back in January 2018

[2018-02-12 13:02] ybkuang commented on #217
@schadow1 did you see any errors in command line when this happens? We've encountered the same issue when dependencies are not installed properly. We are looking into this here. But any more details from your side will help us narrow down the source of errors.

[2018-02-12 13:07] schadow1 commented on #217
@ybkuang
There was no error. It just does its process continuously. But when you open the image after the adding dates, the jpg file can no longer be opened. I just recopied the January 2018 master and there is no corruption. Im using Python 2.7.14 64-bit for Windows, btw.

[2018-02-12 13:10] ybkuang commented on #217
@schadow1 Thanks. And all the dependencies are installed for you too including `piexif`?

[2018-02-12 13:16] ybkuang commented on #217
@schadow1 can you also share a few original images to me yubin at mapillary.com?

[2018-02-12 14:45] schadow1 commented on #217
@ybkuang Yes. The fork from mapillary's git.

[2018-02-12 16:17] pbb72 commented on #217
For me also, there were no errors reported. I installed piexif and pillow as instructed in https://github.com/mapillary/mapillary_tools/blob/master/python/README.md and https://github.com/mapillary/Piexif/blob/master/README.rst.

I now notice the text:

However, there are not installation instructions for Windows. I followed the instructions on https://github.com/mapillary/Piexif/blob/master/READM

[2018-02-12 18:33] ybkuang commented on #217
@pbb72 We should install piexif from the fork, though. This might be related to piexif on Windows. We will take a look into it and so sorry about the complication.

[2018-02-12 20:57] ybkuang commented on #217
@pbb72 @schadow1 we've identified the issue. Working on a fix.

[2018-02-12 21:59] ybkuang commented on #217
@pbb72 @schadow1 we did a quick fix. Can you pull the latest and check?

@pbb72 you will also need to install the the forked `piexif`. Can you try `pip install -r requirements.txt`?

[2018-02-13 02:17] schadow1 commented on #217
@ybkuang Working now! Awesome and thanks.

[2018-02-13 13:39] katrinhumal opened #220 "incorrect sequence grouping with interrupted `upload_with_authentication.py`?"
@danbjoseph commented on [Mon Feb 12 2018](https://github.com/mapillary/mapillary_issues/issues/2865)

Ran the following on folder with a lot of pictures.
1. `python remove_duplicates.py ~/Desktop/mapillaries/forprocessing/ ~/Desktop/mapillaries/dups`
2. `python sequence_split.py ~/Desktop/mapillaries/forprocessing/ 50 60`
3. `find /Users/danbjoseph/Desktop/mapillaries/forprocessing -mindepth 1 -t

[2018-02-13 13:39] katrinhumal commented on #220
@ybkuang or @jernejaMislej Can you please take a look?

[2018-02-13 15:58] jernejaMislej commented on #220
thanks @katrinhumal
@ybkuang if you already have any idea can you let me know all you can on this before i check it out myself, running low on time this week

[2018-02-13 16:19] ybkuang commented on #220
@danbjoseph Thanks for reporting this and sorry for the late reply. To handle the sequence issues, it is better to use the `upload_with_preprocessing.py` script. This script has built-in options of removing duplicates and sequence split. It also records the sequence information on the side, so if the upload process gets interrupted, images will still be in the original sequence.

[2018-02-15 13:03] danbjoseph commented on #220
so with `python upload_with_preprocessing.py --remove_duplicates path-to-images/`
the sequence [cutoff defaults](https://github.com/mapillary/mapillary_tools/blob/master/python/upload_with_preprocessing.py#L71) with the above are 600m and 60 seconds?
the default duplicate distance with the above is [`0.1`](https://github.com/mapillary/mapillary_tools/blob/master/python/upload_with_preprocessing.py

[2018-02-15 13:47] daniel-j-h opened #221 "Uploader does not respect number of threads; leading to crashes hitting system limits"
When using the Python scripts to upload images the uploader creates an increasing number of threads sitting around leading to crashes like the following:

[code]

Here we default to four threads per upload: https://github.com/mapillary/mapillary_tools/blob/24c14ab8fb5d8881a3e8ad513fcac9a4f8712e00/python/lib/uploader.py#L24

Using this default value the following image shows what I can see after a

[2018-02-16 08:16] ybkuang commented on #221
@daniel-j-h can you share your screen printouts as well? Beside, potential complications with threads, this could happen also there are many sequences in the folder. I will look into the thread handling.

[2018-02-16 08:22] ybkuang commented on #220
Example params:
[code]
This will
- remove any duplicates if the consecutive images are less than 0.1 meter apart
- split images to sequences if the consecutive images are more than 100 meters apart

yes. there is a log file storing the information.

yes.

[2018-02-16 08:32] danbjoseph commented on #220
awesome, thanks so much!

[2018-02-16 09:47] daniel-j-h commented on #221
What do you mean with screen printouts? The uploading logs? There's nothing suspicious in there, just regular uploading logs.

And yes the `upload-with_preprocessing.py` script is creating a lot of sub-directories. My use-case uploading many smaller sequences.

[2018-02-16 09:53] ybkuang commented on #221
@daniel-j-h With the printouts, I just want to see how many sequences (sub-directories) are there. N sequences will create 4N threads in this case. Need to work on a fix for that.

[2018-02-16 10:07] daniel-j-h commented on #221
Oh there are definitely in the tens of thousands of sub-directories or more ;)

[2018-02-16 10:19] ybkuang commented on #221
OK. That makes sense then. The script will split images to sequences (sub-directories) if the consecutive images are `x` meters away from each other (default x=600). Just to double check, are there many captures with large distances in-between for your images? I want to understand why the script is `creating` so many sub-directories.

And yes, I will work on a fix for this scenario in the mean tim

[2018-02-16 11:39] daniel-j-h commented on #221
Yes there are a lot of small sequences, the script creating all these sub-directories is correct and its output expected for the use-case. What I'm currently doing as a workaround is splitting the images into smaller batches and uploading these smaller batches.

[2018-02-16 12:58] ybkuang commented on #221
@daniel-j-h I have now a fix but would like to test it further. Before the fix is merged, can you try the following steps:
[code]
The first line will pre-process the images but skip uploading. The second line will upload all the images in a folder including the sub-folders.

[2018-02-19 18:24] daniel-j-h commented on #221
Thanks! Yes splitting pre-processing from uploading seems to do the right thing here.

[2018-02-27 07:24] pbb72 commented on #217
Looks like it's working well for me also! :-)

[2018-02-27 07:24] #217 closed

[2018-03-15 16:32] tobecwb commented on #216
got ffprobe not found too, but I have ffprobe installed, and in PATH...
in terminal, If I type `ffprobe` in any directory, ffprobe work ok
with geotag_video.py, I always got `ffprobe not found` error.

[2018-04-21 09:47] #153 closed

[2018-04-21 17:13] #221 closed

[2018-05-03 08:33] ybkuang commented on #209
@DaveF63 does the installation work out for you?

[2018-05-07 08:39] ProBackup-nl opened #226 "incorrect README.md > upload_with_preprocessing.py > env. vars set"
### Basic information
* Version: `?`
* System: `Mac OS X 10.9.5 + zsh shell`
* Capture Device: `n/a`

### Steps to reproduce behavior

 1. read README.md for upload_with_preprocessing.py
 2. it states:

 3. define these 3
 4. check with `echo $VAR` that each one is set correct
 5. run `./upload_with_preprocessing.py`

### Expected behavior
No error

### Actual behavior

Even with all 5 set (not ex

[2018-05-07 12:07] jernejaMislej commented on #184
@ltog hi, sorry for not getting back to you on this issue.
we have replaced the exif library, which is now able to handle images like yours, so hopefully you will not experience any more issues.

note that the `interpolate_direction.py` script is becoming obsolete and it is not maintained.
we are working on an improved version of the mapillary import tools, where direction interpolation will be av

[2018-05-07 12:16] ltog commented on #184
@jernejaMislej : Thanks for getting back to me.

If I reconstruct correctly, my mentioned problem occurred AFTER you changed the exif library: I created the issue on August 2017, but the exif library was changed on July 2017 according to https://github.com/mapillary/mapillary_tools/commits/master/python/interpolate_direction.py

Where will we find the new version of the Mapillary import tools?

[2018-05-07 12:26] jernejaMislej commented on #184
@ltog hi,
there was another exif lib change done a few months ago, the changes for that are already available on the master branch

as for the new version of the Mapillary import tools, it will be most likely be available here.
We will provide more information when it is released.

[2018-05-07 12:28] jernejaMislej commented on #185
@pschonmann  hi, sorry for not getting back to you on this issue.
we have replaced the exif library, which is now able to handle images like yours, so hopefully you will not experience any more issues.

if you have any more problems with your imports please get back to us, otherwise I will close this issue

[2018-05-07 12:32] ltog commented on #184
@jernejaMislej :

Ok, but shouldn't a change for this be visible in https://github.com/mapillary/mapillary_tools/commits/master/python/interpolate_direction.py ?

[2018-05-07 12:35] jernejaMislej commented on #198
@mishari  hi, sorry for not getting back to you on this issue.
we have replaced the exif library, which is now able to handle images like yours, so hopefully you will not experience this issue anymore.

if you have any more problems with your imports please get back to us, otherwise I will close this issue

[2018-05-07 12:38] jernejaMislej commented on #184
@ltog
the changes were made to the exifedit lib which is imported in the `interpolate_direction.py`, therefore no direct changes were made to that script

[2018-05-07 12:40] #201 closed

[2018-05-07 12:42] ltog commented on #184
@jernejaMislej : Ok, now I'm getting it. Thanks for the update. I think the issue can be closed.

[2018-05-07 12:43] #184 closed

[2018-05-08 07:42] jernejaMislej commented on #226
hi @ProBackup-nl
are you using the latest version of master?
although email and password are not required for image preprocessing, they are required for authentication when uploading. have you tried with all 5 exported?
i apologize for the inconvenience, we are working on improving the authentication process to avoid exporting all these variables and will update the readme when the changes are rel

[2018-05-09 18:04] DaveF63 commented on #209
Busy with other things

[2018-05-09 18:04] #209 closed

[2018-05-09 18:13] pleabargain opened #227 "please provide scripts that are Python 3.x compatible"
upload_with_preprocessing.py is still python 2.x

Please provide scripts that use python 3.x

[2018-05-11 23:35] 3vivekb opened #229 "Upload with Preprocessing - what is MAPILLARY_USERKEY"
I know y'all are updating the scripts - for some reason this script - upload_with_preprocessing.py - asks for the MAPILLARY_USERKEY as an arg but i'm not sure if that is defined anywhere.

[2018-05-14 08:56] jernejaMislej commented on #229
hi
sorry for the issues, please pull the new version and try again, it should not ask for it anymore
let me know if you have anymore issues

[2018-05-14 08:58] jernejaMislej commented on #227
hi,
we are working on an improved version of the import tools and plan to make it python 3 compatible.
we will let you know as soon as it is available, thank you for the patience

[2018-05-14 21:12] ProBackup-nl commented on #226
Have tried with all 5 exported. Still an error.

[2018-05-16 05:00] ethan-nelson opened #231 "Upload with sub-second imagery out of order"
### Basic information
* Version: `mapillary_tools commit 9ac0557109f14d479277cab8baae11bafd92c7b3`
* System: `Linux Ubuntu 15.10 wily`, `python 2.7.10`
* Capture Device: `Action Camera`

### Steps to reproduce behavior

 1. Take time lapse photo imagery at 0.5 sec resolution on GoPro
 2. Use `python/interpolate_direction.py` on photos to add heading info (this may not affect this issue but I've al

[2018-05-18 07:06] jaku103 opened #232 "geotag_from_gpx.py unlisted module required"
When attempting to set GPS cordinantes on images, the script sayed the dateutil module was not loaded. This module is not listed as required, after installing python-dateutil==2.7.3 everything worked fine.

[2018-05-20 20:42] jernejaMislej commented on #232
thank you for informing us about this, we will take care of it

[2018-05-20 20:56] jernejaMislej commented on #231
hi, thank you very much for informing us about this.
yes files will be uploaded ordered by time only and in case of identical timestamps, subsecond timestamps are estimated for a list of files which is currently not ordered,  so I will have to double check nothing is broken, to add the sorted().
I apologize for the inconvenience, i will let you know asp
thank you for the patience, hopefully you ca

[2018-05-23 07:44] jernejaMislej commented on #231
hi, sorry for getting back late.
the script you are using is a bit obsolete and actually does not have the timestamp interpolation in case of identical timestamps, please use `upload_with_preprocessing.py` instead. It can also interpolate directions if passing the `--interpolate_directions` arg, so you dont have to run two scripts.
It will sort the timestamps and files in a zip, so it should be ok

[2018-05-23 07:46] jernejaMislej commented on #232
i have updated the requirements, please let us know if there is anything else you notice

[2018-05-23 07:46] #232 closed

[2018-05-24 02:48] ethan-nelson commented on #231
Thank you for tracking that down! I will be sure to run the script with timestamp interpolation. Cheers!

[2018-05-24 02:48] #231 closed

[2018-05-31 09:41] jernejaMislej commented on #229
hi, just letting you know we have released a new version of the tools, where authentication is made simpler and easier, so only the user name has to be specified as an argument. Please try to use the new tools, instructions and details in the [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md) and let me know if you have any more issues, otherwise i will close this

[2018-05-31 09:43] jernejaMislej commented on #226
hi, just letting you know we have released a new version of the tools, where authentication is made simpler and easier, so only the user name has to be specified as an argument and nothing needs to be exported in the os environment. Please try to use the new tools, instructions and details in the [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md) and let me know if you ha

[2018-05-31 09:47] jernejaMislej commented on #220
hi @danbjoseph  just letting you know we have released a new version of the tools, which now have one executable to run all the tools needed to upload images to Mapillary, including advanced tools and/or advanced arguments that handle sequence grouping and duplicates. Please try to use the new tools, instructions and details in the [README](https://github.com/mapillary/mapillary_tools/blob/master/

[2018-05-31 09:56] jernejaMislej commented on #216
hi @schadow1 and @tobecwb , sorry for not getting back to you on this.
are you still having issues with `ffprobe` installation?

[2018-05-31 10:00] jernejaMislej commented on #213
hi, just letting you know we have released a new version of the tools, which now has one executable to run all the tools to upload images to Mapillary, including advanced tools and/or arguments that handle geotagging from gpx. Please try to use the new tools, instructions and details in the [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md) and let me know if you have any

[2018-05-31 10:34] danbjoseph commented on #220
so instead of...
[code]
i can instead just run the following?
[code]

from the documentation it's not clear to me where in the command the `--advanced` flag should be placed (if it matters)? if it prompts you for your mapillary username and password upon running? also, it would be helpful to have all the possible parameter flags listed in one place in the documentation (instead of spread across va

[2018-05-31 11:10] #206 closed

[2018-05-31 11:18] jernejaMislej commented on #199
hi, just letting you know we have released a new version of the tools. Optimizing the processing part is still work in progress, so it would be great if you could try the new tools and give us feedback on the performance. Instructions and details in the [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md)
since the script for which this issue was opened is no longer availab

[2018-05-31 11:26] jernejaMislej commented on #190
hi,
sorry for not getting back to you on this.
We have replaced the EXIF editing library, which is now able to handle these images.
Also letting you know we have released a new version of the tools. Usage instructions and details in the [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md)
Hopefully you will be able to upload images more smoothly now, if not, let us know

[2018-05-31 11:26] #190 closed

[2018-05-31 11:29] jernejaMislej commented on #186
hi @Alessandro-Barbieri , sorry for not getting back earlier. is this issue still open for you? (for those particular images)

[2018-05-31 11:32] jernejaMislej commented on #182
hi, sorry for not getting back to you on this.
This seem like a Windows specific network error, are you still having issues with this?

[2018-05-31 11:42] jernejaMislej commented on #220
hi,
yes you only need to run
[code]
with required and optional arguments, nothing else
the order of the arguments is not relevant, so `--advanced` can be put anywhere, to see all the advanced arguments in one place:
`mapillary_tools process_and_upload -h` or just `mapillary_tools process -h`
for the authentication part it doesnt matter whether usage is advanced or not, in any case, in every run, i

[2018-05-31 11:45] danbjoseph commented on #220
terrific. thanks.

[2018-05-31 11:45] jernejaMislej commented on #181
hi, just letting you know we have released a new version of the tools and are planning to support python3 in the next releases. Please try to use the new tools, the instructions and details are in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md) and let me know if you have any more suggestions

[2018-05-31 11:45] #181 closed

[2018-05-31 11:48] jernejaMislej commented on #180
hi, we have released a new version of the tools with improved instructions and usage examples, more information in the [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md)
Hopefully usage will be easier now, if not, please let us know

[2018-05-31 11:48] #180 closed

[2018-05-31 11:59] jernejaMislej commented on #173
Hi sorry for not getting back earlier.
We have replaced the EXIF editing library which is now able to handle these cases, ie it will automatically skip any EXIF tags that do not have the right type.
We have also released a new version of the tools, more information on usage in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md).
Hopefully it will make usage more smoother,

[2018-05-31 11:59] #173 closed

[2018-05-31 12:03] jernejaMislej commented on #167
Hi sorry for not getting back earlier.
We have replaced the EXIF editing library which is now more robust.
We have also released a new version of the tools, more information on usage in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md).
Not having image orientation set should not be a problem anymore.
Hopefully usage will be smoother now, if not please let us know

[2018-05-31 12:03] #167 closed

[2018-05-31 12:05] jernejaMislej commented on #162
Hi sorry for not getting back earlier.
We have released a new version of the tools, more information on usage in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md).
Hopefully usage will be smoother now, if not please let us know

[2018-05-31 12:05] #162 closed

[2018-05-31 12:07] jernejaMislej commented on #159
Hi sorry for not getting back earlier.
We have released a new version of the tools, more information on usage in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md). Python requirement is now stated in the README and we are planning to support Python3 in the next releases.
Hopefully usage will be smoother now, if not please let us know

[2018-05-31 12:07] #159 closed

[2018-05-31 12:11] jernejaMislej commented on #123
Hi sorry for not getting back earlier.
We have released a new version of the tools, more information on usage in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md). If the DONE file exist, it will not attempt to create it again, so you should not have any more issues.
Hopefully usage will be smoother now, if not please let us know

[2018-05-31 12:11] #123 closed

[2018-05-31 12:14] jernejaMislej commented on #115
Closing this, since we have replaced the EXIF editing library and released new tools, so these issues should not occur any more.
More information on the new tools and usage in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md).

[2018-05-31 12:14] #115 closed

[2018-05-31 12:18] jernejaMislej commented on #105
Hi sorry for not getting back earlier.
We have released a new version of the tools, more information on usage in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md). The logging has been improved, so users have more insight over the progress of process and upload.
Hopefully usage will be smoother now, if not please let us know

[2018-05-31 12:18] #105 closed

[2018-05-31 12:20] jernejaMislej commented on #104
Hi sorry for not getting back earlier.
We have released a new version of the tools, more information on usage in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md). We have improved the logging, so you will now be able to see whether an upload is failing due to connection issues or missing EXIF tags.
Hopefully usage will be smoother, if not please let us know

[2018-05-31 12:20] #104 closed

[2018-05-31 12:30] jernejaMislej commented on #77
Hi sorry for not getting back earlier.
We have replaced the EXIF editing library and released a new version of the tools, more information on usage in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md). We are still using two libraries, for reading and writing EXIF, but might unify them in the future releases.

[2018-05-31 12:33] jernejaMislej commented on #69
We have replaced the EXIF editing library and released a new version of the tools, more information on usage in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md).
Installation of the tools and its dependencies has been simplified in order to avoid above issues.
Please use the new tools and get back to us in case of any trouble.

[2018-05-31 12:33] #69 closed

[2018-05-31 12:34] jernejaMislej commented on #68
We have replaced the EXIF editing library and released a new version of the tools, more information on usage in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md).
Installation of the tools and its dependencies has been simplified in order to avoid above issues.
Please use the new tools and get back to us in case of any trouble.

[2018-05-31 12:34] #68 closed

[2018-05-31 12:39] jernejaMislej commented on #63
We have replaced the EXIF editing library and released a new version of the tools, more information on usage in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md).
Logging has been improved and enables more overview of the process and upload outcome and supports retrying failed uploads without creating a new sequence.
Please use the new tools and get back to us in case of

[2018-05-31 12:39] #63 closed

[2018-05-31 12:41] jernejaMislej commented on #57
We have replaced the EXIF editing library and released a new version of the tools, more information on usage in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md).
Logging has been improved and enables more overview of the process and upload outcome and supports retrying failed uploads without creating a new sequence.
Please use the new tools and get back to us in case of

[2018-05-31 12:41] #57 closed

[2018-05-31 12:42] jernejaMislej commented on #54
We have released a new version of the tools, more information on usage in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md).
Please use the new tools and get back to us in case of any trouble. Closing this issue as the script `upload_each_folder_as_sequence.py` is no longer available.

[2018-05-31 12:42] #54 closed

[2018-05-31 12:46] jernejaMislej commented on #47
We have released a new version of the tools, more information on usage in [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md). The new tools have one executable to run all the tools needed to upload images to Mapillary, including advanced tools and/or advanced arguments that handle videos. Please try to use the new tools, instructions and details in the [README](https://gi

[2018-05-31 12:46] #47 closed

[2018-05-31 12:48] jernejaMislej commented on #27
We have released a new version of the tools, instructions and details in the [README](https://github.com/mapillary/mapillary_tools/blob/master/README.md).
Please use the new tools and let us know if you have any issues.

[2018-05-31 12:49] #229 closed

[2018-05-31 12:50] #220 closed

[2018-05-31 13:00] pbb72 commented on #159
The readme states "python>2.7". This does not help much!

Firstly, 3.0 is clearly greater than 2.7. Maybe this is obvious for Python buffs, but noobs like me will read this as "3.0 is supported".
Secondly, it says "greater than", not "greater than or equal to". Is 2.7.15 greater than 2.7? Not very clear, but 2.7.0 is definitely NOT greater than 2.7.

(And as we're nitpicking, "Python" is a proper

[2018-05-31 15:09] leojimenezcr commented on #213
Hi! Thank you. I will test the now tools :-D

[2018-05-31 15:09] #213 closed

[2018-05-31 15:44] richlv commented on #27
Please reopen - seeing the same problem with a recent version.

[2018-05-31 16:02] richlv commented on #57
Hmm, I'm not aware of the patch being merged, resuming is likely not supported still - please reopen.

[2018-05-31 17:08] rwelty1889 opened #234 "install problem on mac os 10.13.4"
### Basic information
* Version: latest
* System: Mac OS 10.13.4

### Steps to reproduce behavior

 1. attempted install using python 2.7 (tried both apple installation and from mac ports)
 2. sudo -H pip install git+https://github.com/mapillary/mapillary_tools

### Expected behavior

successful installation of code

### Actual behavior

    Complete output from command python setup.py egg_info:

[2018-05-31 19:19] jernejaMislej commented on #159
yes, sorry about that, I will fix it. Thank you for the feedback.

[2018-06-01 05:49] andrewharvey opened #235 "transparent lepton compression"
requires support on the server, but if the server supported lepton, the client could transparently compress JPEG using the lossless https://github.com/dropbox/lepton saving ~22% of the upload time when bandwidth bottle necked. When we're talking about uploads that take days 22% is huge.

[2018-06-01 07:15] richlv commented on #27
Yes, in this case running plain upload.py; if connection fails in an unhandled way, resulting in a Python exception, that thread stops working on the remaining issues and does not exit when the other threads finish uploading (or hang on exceptions).

[2018-06-02 21:11] rTeamWork commented on #234
I'm having the same issue on Windows.

[2018-06-03 04:53] jaku103 opened #236 "HTTP Error 403 Forbidden"
### Basic information
* Version: `Latest`
* System: `Windows`
* Capture Device: `Action Camera`

### Steps to reproduce behavior

I'm using the new scripts. I am receiving "HTTP error: HTTP Error 403"on every image. This is hapening after struggling with an user authentication error. That was caused from never setting a password. I always used a linked account. This is the script output:

Running

[2018-06-03 22:59] ToeBee commented on #236
I was getting 403s the other day too but it works for me now.

[2018-06-05 05:06] ToeBee opened #238 "Script fails to write EXIF tags when attempting to geotag images from GPX"
### Basic information
* Release version: `current master`
* System: `Linux`
* Capture Device: `GoPro Hero 5`

### Steps to reproduce behavior

 1. Following [this example](https://github.com/mapillary/mapillary_tools#advanced-examples) in the readme, (minus the duplicate flagging) I ran the following command to geotag 530 images from my GoPro because it failed to get a GPS fix when I started captu

[2018-06-06 08:28] tastrax opened #240 "process_and_upload script missing"
Trying to follow instructions for new scripts and noted no 'process_and_upload' script as per the instructions on https://github.com/mapillary/mapillary_tools under 'usage'

[2018-06-06 08:29] tastrax commented on #240
![image](https://user-images.githubusercontent.com/8775395/41026294-85d2d3d2-69b7-11e8-9627-8dc9a35c0b4c.png)

[2018-06-06 19:06] ndriutti commented on #236
Same problem on Raspbian

[2018-06-06 19:22] ToeBee commented on #240
`process_and_upload` is not a separate script, it is a command line argument to pass into the `mapillary_tools` script. Like:
`mapillary_tools process_and_upload --import_path /path/to/files --user_name myuser .....`

[2018-06-06 22:11] tastrax commented on #240
many thanks - partially sorted now

[2018-06-06 22:11] #240 closed

[2018-06-06 22:14] jernejaMislej commented on #238
Hi, thanks for reporting this and providing images. I will look into it and get back to you.

[2018-06-06 22:27] jernejaMislej commented on #236
Hi, sorry for getting back late.
We had some issues last week due to security updates, which resulted in this error. This issue is now resolved. If you continue to get this error and suspect it is because you are not able to authenticate successfully, you can run the process with `--verbose` and monitor if you get any errors or warnings when running user process and let me know. But you will need

[2018-06-06 22:28] jernejaMislej commented on #235
Hi, thank you for this information, we will look into it.

[2018-06-06 22:37] jernejaMislej commented on #234
Hi, thank you for reporting. We have corrected the Python version to be used for now, thank you for noting that.
`makernote` is not supposed to be an external module, there might be issues with the paths, can you try installing with `--no-cache-dir`

[2018-06-06 22:38] #226 closed

[2018-06-06 22:44] jernejaMislej commented on #57
Hi, the script for which the issue was opened is not supported anymore, all its functionalities are now available through `mapillary_tools process_and_upload [args]` and resuming a sequence is supported

[2018-06-06 22:56] jernejaMislej commented on #27
thanks for getting back.
I havent experienced such an issue with the latest tools. Please use the latest release and if you still get such errors, please open a new issue, stating the release, OS, tool etc. and as much information as possible and I will look into it more thoroughly

[2018-06-06 22:56] #27 closed

[2018-06-07 08:39] jernejaMislej commented on #158
closing this since pyexiv2 is not used anymore

[2018-06-07 08:39] #158 closed

[2018-06-07 11:44] ndriutti commented on #236
I still have problems on Raspbian. --verbose doesn't say much more:

HTTP error: HTTP Error 403: Forbidden on VIRB0016-327.JPG----] 0.1% ... 1867 images left.

[2018-06-08 00:33] tastrax commented on #236
Likewise - been battling this error for a couple of days now - https://forum.mapillary.com/t/running-the-python-scripts/130/99

[2018-06-08 00:38] tastrax commented on #236
![image](https://user-images.githubusercontent.com/8775395/41133036-feee6b7c-6b07-11e8-92d3-bb9545b2f7b4.png)

[2018-06-08 00:40] tastrax commented on #236
![image](https://user-images.githubusercontent.com/8775395/41133127-67d6238c-6b08-11e8-890f-9fa9f70f34ff.png)

[2018-06-08 04:50] cliffordsnow commented on #236
I'm getting the same error tonight.

[2018-06-08 06:49] jernejaMislej commented on #236
Hi, thanks for getting back . I will look into it.
@tastrax the hashes that are hardcoded in the uploader.py should NOT be the same as the ones in your mapillary settings.
The hashes that are hardcoded in uploader.py are for direct uploads only, without processing. If your import requires processing, your user hashes are used. Your user hashes are obtained through authentication when using the too

[2018-06-08 09:05] tastrax commented on #236
Thanks for that – I have reinstalled the Mapillary tools, checked my config settings and they match the Mapillary site

Same result

Any more clues on how to get things working?

I am on Windows 64bit Win 10 Pro

Cheers - Phil

From: jernejaMislej [mailto:notifications@github.com]
Sent: Friday, 8 June 2018 4:50 PM
To: mapillary/mapillary_tools
Cc: Phil Wyatt; Mention
Subject: Re: [mapillary/mapill

[2018-06-08 09:49] tastrax commented on #236
This is the result if I just try an upload (as the processing seems to work)

From: jernejaMislej [mailto:notifications@github.com]
Sent: Friday, 8 June 2018 4:50 PM
To: mapillary/mapillary_tools
Cc: Phil Wyatt; Mention
Subject: Re: [mapillary/mapillary_tools] HTTP Error 403 Forbidden (#236)

Hi, thanks for getting back . I will look into it.
@tastrax <https://github.com/tastrax>  the hashes that

[2018-06-08 09:54] tastrax commented on #236
No luck yet - even with a straight upload only

![image](https://user-images.githubusercontent.com/8775395/41151974-b5850fb0-6b55-11e8-8db4-6e80fa559e36.png)

[2018-06-08 10:18] ndriutti commented on #236
Same on Raspbian. And not much debug information with --verbose enabled.

Could it be related with urllib version?

[2018-06-08 12:02] jernejaMislej commented on #236
Hi thank you for the patience. We are looking into the issue now and it looks like the issues we had last week due to security updates are still not resolved.
Hopefully we manage to fix it as soon as possible, I will keep you updated.

[2018-06-09 18:39] ndriutti commented on #236
Looks like it is fixed. Now works! Thank you

[2018-06-09 21:36] Alessandro-Barbieri commented on #236
Now I get `HTTP Error 400: Bad request on`

[2018-06-10 01:18] tastrax commented on #236
Still 403 for me

[2018-06-10 06:10] tastrax commented on #236
Downloaded latest scripts and BINGO - full upload!

![image](https://user-images.githubusercontent.com/8775395/41198766-c32a7ece-6cc8-11e8-91c7-f95bb2b72b11.png)

[2018-06-10 18:17] ndriutti commented on #236
Worked for a while and now "HTTP error: HTTP Error 403: Forbidden on " again...

[2018-06-11 08:38] jernejaMislej commented on #236
Hi sorry for the issues, please install the tools again and update config by either
deleting the config file(`~/.config/mapillary/config`) and you will be prompted to enter you credentials again when running the tools
or
download the edit_config.py script at https://github.com/mapillary/mapillary_tools/blob/master/bin/edit_config.py and run it with `python edit_config.py` , you will be asked which

[2018-06-11 10:22] jrcarlsen commented on #236
I am still getting HTTP 403 errors. My username have a space in it which means I have to type it in as "johnny%20carlsen" for it to work. I think the problem I am seeing could be related to this.

[2018-06-11 10:46] jernejaMislej commented on #236
@jrcarlsen which os are you on? maybe better to specify your username as `--user_name "johnny carlsen"` quotation marks should take care of the space between

[2018-06-11 12:08] ndriutti commented on #236
Installed the tools again, deleted config file and re-entered the credentials again but I'm still getting HTTP 403 errors.

My username is a single word, no spaces.

I'm on linux, Raspbian to be precise.

[2018-06-11 12:32] jernejaMislej commented on #236
hi, did you install with `--upgrade`?
ie  `sudo pip install --upgrade git+https://github.com/mapillary/mapillary_tools`

[2018-06-11 12:45] ndriutti commented on #236
no, i uninstalled everything first with `pip uninstall piexif Pillow gpxpy mapillary-tools pytest ExifRead` then i reinstalled as specified in the README.

The only difference is that I'm using the --user switch to install the script in my home and not globally.

Saturday I was able to upload a thousand of images or so and then nothing more because of the HTTP 403

[2018-06-11 12:49] jernejaMislej commented on #236
ok thanks @ndriutti are you using `upload` or `process_and_upload`?
if you are using `process_and_upload` can you check in your latest upload attempt that doesnt work, whether you have `aws_key` in the `.mapillary/logs/*image-folder*/upload_params_process.json` of the import?

[2018-06-11 12:51] ndriutti commented on #236
@jernejaMislej I'm using `upload'. Should I give `process_and_upload` a try?

[2018-06-11 12:59] jernejaMislej commented on #236
no @ndriutti you shouldnt have, if your images were taken with the app they can be uploaded directly with `upload` only and it should work
but if you have previously processed the images and are now just running `upload` that is ok also and will usually work, but in current case you should reprocess the images to get the right upload params(rerun process with `--rerun`), since you likely have the

[2018-06-11 13:33] ndriutti commented on #236
@jernejaMislej I reprocessed the images (taken with an action camera) with the new installation of the script and the issue seems disappeared. Thank you

[2018-06-11 13:42] jernejaMislej commented on #236
great @ndriutti :confetti_ball:  thank you so much for the persistence

[2018-06-11 15:22] ndriutti commented on #236
@jernejaMislej there's still something strange happening. I uploaded about 150 images without getting errors but the pending images counter in my status page is not increasing...

[2018-06-11 17:17] ToeBee commented on #236
That is a completely separate issue. Basically all of the "in process" information is garbage :)

Uploading images puts them into some magical buffer in the sky. Once they come out of that buffer and into the processing queue they show up as "pending" but at that point it usually only takes a short amount of time to move through the queue anyway. Then you get notified that your images have been "p

[2018-06-12 03:39] jrcarlsen commented on #236
@jernejaMislej I initially tried with the username being "johnny carlsen", but it failed to authenticate, @eneerhut suggested that I tried "johnny%20carlsen" instead, which succeeded in the authentication but failed with the uploads.

My user has now been renamed to "jrcarlsen" and I no longer have any issues. Photos are being uploaded successfully right now.

[2018-06-12 11:54] ndriutti commented on #236
@ToeBee the magical buffer in the sky is more like a black hole. It "ate" at least a couple of thousand images but there is no trace of them... No pending, nothing published so far...

Is there anyone who can address me to the right issue (if it is already open)?

Thank you

[2018-06-12 12:11] jernejaMislej commented on #236
@ndriutti what is your username, i will check for your images

[2018-06-12 12:12] ndriutti commented on #236
@jernejaMislej  my username is nicolad

[2018-06-12 12:19] jernejaMislej commented on #236
@ndriutti there are images uploaded in your account. 1681 images, 11 sequences, from 11,12 June, but are missing the DONE file, which is uploaded automatically unless you specify --manual_done, which results in a prompt whether you want to finalize the upload. if you specified --manual_done and did not approve finalize, that could be a reason why the images did not go through.
I will create the DO

[2018-06-12 12:55] ndriutti commented on #236
@jernejaMislej Strange, I never used the `--manual_done` switch. Ok, so next time this behaviour happens should I open a separate issue?

[2018-06-12 13:03] jernejaMislej commented on #236
@ndriutti yes please do

[2018-06-13 15:19] Alessandro-Barbieri commented on #236
From my last run
[code]

[2018-06-14 04:17] tastrax commented on #236
FYI - process_and_upload 2000 images today without issue - woo hoo! Only suggestion is that it would be good to get a message (sending done file..?) at the end of the upload as it hangs on the message below for a long time before returning the focus to python

Done uploading 2007 images.==================================] 100.0% ... 0 images left...

Otherwise all good.

Cheers - Phil

[2018-06-14 08:32] jernejaMislej commented on #236
@tastrax great work :confetti_ball:
@Alessandro-Barbieri  unfortunately these result from network issues, so there is not much I can do to help. It happens every now and then and images always end up uploaded.

[2018-06-14 08:59] habi opened #242 "Support Garmin TCX files"
Thanks for the updated `mapillary_tools`!
I used them for uploading [more than 7k images from a bike ride](https://www.mapillary.com/app/?username%5B%5D=habi&dateFrom=2018-06-07&dateTo=2018-06-14&lat=46.9978740227582&lng=7.5232386752902585&z=11.226531190058642) on the weekend (in batches of 1000 images).

I recorded the track with my Garmin watch, the track then lands on my machine via [tapiriik](

[2018-06-15 22:36] cookry opened #243 "Status tools for big uploaders?"
@bob3bob3 commented on [Tue Jun 05 2018](https://github.com/mapillary/mapillary_issues/issues/2926)

I am part way through uploading about 2 years of drive images. (still using the older tools) At about the 200K point with maybe 800K to go.

I'd like to get an idea of the probable processing time for large runs. I am of course getting a lot of email alerts, but they keep coming days after the uplo

[2018-06-15 23:22] andrewharvey opened #244 "mapillay_tools --version"
`--version` would be very useful to know which version of the tools I'm running. Given you can `pip install`, `sudo pip install`, install in a virtualenv, try to run the tools from a `git clone` you could end up with multiple versions of the tool and not knowing which version you're running can make debugging and posting issues hard.

[2018-06-16 20:42] drkludge opened #246 "Not all of the sequences were processed successfully by mapillary_tools"
### Basic information
* Release version: `?.?.?`  note that mapillary_tools -h --advanced does not report a release version.  The code was installed from repo on 6/15/2018.
* System: `Linux`
* Capture Device:  `Android`

### Steps to reproduce behavior

 1. Installed the software.
 2. Copied the images from the phone.
 3. I performed one test run.
 4. I used this code to process the rest of the im

[2018-06-16 22:55] drkludge commented on #246
I successfully uploaded sequence 2018_06_15_16_47_52_754 with the Android app.  The images have not been published yet.

[2018-06-17 13:20] jernejaMislej commented on #243
hi, pip and everything else should work the same in virtual environment as long as you have all the dependencies installed.
Be careful with mixing uploads done with old scripts and new tools as the logging logic is not compatible, ie if you have uploaded images with the old scripts and run the new tools for the same images, they will be uploaded again.

[2018-06-17 13:46] jernejaMislej commented on #244
hi, I will add it, thanks for suggestion

[2018-06-17 13:46] #244 closed

[2018-06-17 14:48] rwelty1889 commented on #234
tried --no-cache-dir with 2.7, no change in behavior. i'm going to be of limited help, i'm not a python wiz. but this note seems like it might be relevant; the makernote path may not always be automatically detected: https://github.com/ianare/exif-py/pull/25

[2018-06-17 19:11] jernejaMislej commented on #234
hi,
thanks for the information, I will check if it is ok to use a newer version of exifread and let you know

[2018-06-17 19:41] drkludge commented on #246
Sequence oax5w8ccakgyyp2hf8s3ys has published.  That corresponds to sequence 2018_06_15_16_47_52_75. [The beginning photo starts here.](https://www.mapillary.com/app/?lat=33.44711278&lng=-112.09151822&z=17&dateFrom=2018-06-13&pKey=6A3NPhVK8YST_H1cJQdgpA&focus=photo) The question that this poses is why can the Android application process these photos but the mapillary_tools fails to do so?

[2018-06-17 20:39] drkludge commented on #246
Two zip files are on the way.

[2018-06-17 21:00] jernejaMislej commented on #238
hi sorry for the late reply.
I checked your sample and the issue is that the image timestamps are out of the time scope of the gpx file.

If running with `--verbose` this information is printed out and I am thinking that maybe it should print out without the verbose flag, since it is not clear from the logs that this is the reason for failure.

Check if you have the right gpx file and if there is

[2018-06-17 23:48] drkludge commented on #246
@jernejaMislej

That would be the Mapillary app.  I noticed that when I briefly switched to the [version 3.127 code version 427](https://github.com/mapillary/mapillary_issues/issues/2930) the directories and possibly the files all had a utc 700 looking time stamp at the end of the file name.  I think that there were reports of the time being off in many sequences.  Give or take a day, it wasn't a

[2018-06-18 00:04] drkludge commented on #246
Why with --advanced.
[code]
The last directory and last file report.

[code]

--local_time did not fix the problem.

[2018-06-18 00:49] drkludge commented on #246
I made a backup of the gpx file.  I changed the time from
[code]
to
[code]
with and without --local_time did not solve the problem.

[2018-06-18 01:09] drkludge commented on #246
I tried the tools on one of the sequences recorded with version 427.  This version is unusable on my phone, however.

[code]

[code]
I have already uploaded this sequence.  Otherwise, it looks like it would have been successful.
I sent a zip file of this sequence to you also.

[2018-06-18 14:47] jernejaMislej commented on #246
thanks for all this information.
yes, there could be some issues with time offsets at the app on andriod, I will pass the information to the right person.

sorry for the inconvenience, good that you managed to upload in any case.

fyi for the future:
often when there is an unknown offset between the camera and gps device, importing can get very tedious form my experience, since it requires a lot o

[2018-06-19 12:12] ovivoda commented on #246
@Kaldea @jernejaMislej The app version used to capture the images is a very old one. And we know that there are problems with that when it comes to timezones: Capturing in a timezone and upload into another timezone.

@Kaldea We need to ask the user to update his app

[2018-06-19 12:37] jernejaMislej commented on #246
thanks Ovi for the feedback regarding the timezone issues with the android app.
@drkludge please try to install the latest version of the android app and in case of any problems with that, open an issue for it [here](https://github.com/mapillary/mapillary_issues)
let me know if you have any more problems with the mapillary_tools, otherwise i will close this issue

[2018-06-20 02:15] ToeBee commented on #238
Specifying `--local_time` did indeed fix the problem.

The script should definitely say something other than "success" when it fails to perform the action it was told to perform.

I also think it should default to using local time. Both JOSM and the old `geotag_from_gpx.py` Mapillary script had no issues geotagging these photos out of the box. The GoPro's clock was synced via the phone app either

[2018-06-20 03:53] bob3bob3 commented on #243
Yes have now tried the virtual environment, works well.

I still see gaps in the map GUI for my older tool uploads. The one case I checked is missing a complete directory sequence, all of which were moved to the success directory. There was also nothing untoward in PROCESSING_LOG.json & UPLOAD_LOG.txt. (It did die a few times needing restarts)

Before I just try and upload again, is there a way to

[2018-06-20 12:11] jernejaMislej commented on #238
great that its ok now, just make sure the alignment is really correct when placed on the map, since even if the image timestamps are in the scope of the gps trace, it is not necessary they are aligned perfectly

i know it takes some time to get used to the new setup in tools, especially if you were used to the old scripts and everything worked ok for you before. Unfortunately there were issues wit

[2018-06-22 03:05] drkludge commented on #246
@ovivoda @jernejaMislej I believe that you missed that at the very beginning of the post.  I tried to upgrade and it failed.  I had to go back to the older app.  If you could fix you app to work on a recent Android, then I'd be happy to upgrade.
https://github.com/mapillary/mapillary_issues/issues/2930

Regardless of the state of my app, it appears that this python process is not clear on how to f

[2018-06-22 08:09] ovivoda commented on #246
@drkludge What message did you get when the app failed to update?

[2018-06-22 21:52] drkludge commented on #246
@ovivoda I sent numerous bug reports through playstore. I should have said that the new release failed to be stable. The upgrade did not fail itself. In addition to the playstore reports I all so created this issue with the information that you may be looking for. https://github.com/mapillary/mapillary_issues/issues/2930

Note that crash report popup was captured. I am guessing that the report is

[2018-06-24 00:01] drkludge commented on #246
I used imagemagick to look at the file information.

Beginning File.
[code]

Beginning File gpx information.
[code]

Ending file.

identify -verbose 2018_06_05_09_12_41_035.jpg

[code]

Ending File gpx information.

[code]
I don't understand your comment https://github.com/mapillary/mapillary_tools/issues/246#issuecomment-397900510 asking me to look for GPS information.  Mapillary does not record

[2018-06-24 00:18] drkludge commented on #246
[code]
The verbose option provides this information.  That is correct.  Mapillary does not record long and lat in the image because of speed as I understand it.  So how do I fix this with command options or is there some other issue with the tool?

[2018-06-24 00:32] ToeBee commented on #236
403 errors are back. I JUST uploaded a short sequence successfully and tried to upload the next directory and *splat*

[2018-06-24 01:03] tastrax commented on #236
Is this with the latest scripts Toby @ToeBee ? There was an update a few days ago. I am heading out shortly to collect some images so I will also try and upload later in the day and see if I get the same.

[2018-06-24 01:13] ToeBee commented on #236
It seems it was a temporary glitch. I tried again and the 305 image sequence just finished successfully. And yes, I did update the script earlier tonight to the 0.0.2 version.

[2018-06-24 02:49] drkludge commented on #246
First the file and the directory exist.  The tools appear to be confused if they would like a file or a directory.  These attempts were to try and use the gpx file verses the exif headers.
[code]

[2018-06-24 03:46] drkludge commented on #246
1.  It would be helpful if you reported what time time t is.
2. The magic offset_time was -1.
3. I needed to set TZ variable to UTC.  The process succeeds.
4. If I set TZ variable to America/Phoenix, then the process fails.  However, I cannot tell the difference between a failed run and a successful run.
5. Based on your other statements, I am not even sure if the successful run has the correct lo

[2018-06-25 07:43] jernejaMislej commented on #246
hi, regarding the comment  https://github.com/mapillary/mapillary_tools/issues/246#issuecomment-397900510 it was before i knew you are geotagging with a gpx trace, your initial issue comment includes tools usage as if images are already geotagged.

regarding the time zones and offsets, it is tedious, but it is the issue itself that is very tedious and we r trying to make the tools as user friendly

[2018-06-25 15:19] rwelty1889 commented on #234
any status on this? i have a lot of imagery from my GoPro waiting on it.

[2018-06-27 20:40] danbjoseph opened #249 "url error - is a resolution needed?"
with the previous version of the scripts, i would sometimes have to run the upload a second time. because sometimes the script would finish and some images would remain unmoved to either success of failure.

when running...
[code]
i got a handful of errors like the following, but otherwise it seemed to have gone fine. is there anything else i need to do?
[code]

same error message was encountered

[2018-06-28 02:26] andrewharvey opened #250 "urlopen errors upload stuck on 0 images left"
### Basic information
* Release version: master
* System: `Linux`
* Capture Device: `Action Camera`

[code]

[code]

Then it's stalled on:

[code]

[2018-06-28 05:14] andrewharvey commented on #249
It looks like running the same script again should clean up / retry any failed uploads.

[2018-06-28 12:32] danbjoseph commented on #249
i ran the below to followup
`mapillary_tools upload --import_path "/Users/danbjoseph/Desktop/DCIM" --verbose`
and got this output
[code]
so i guess that's that

[2018-06-28 12:32] #249 closed

[2018-06-29 02:40] andrewharvey opened #251 "improvements to processing times"
### Basic information
* Release version: master
* System: `Linux`

I'd like to see some improvements in the processing time if possible, at the moment `mapillary_tools process_and_upload` spends quite a while running through:

[code]

[2018-06-29 02:45] andrewharvey opened #252 "allow --upload-threads --max-attempts as arguments"
### Basic information
* Release version: `master`
* System: `Linux`

The README says you can set the environment variables like this:

[code]

Could these be arguments to the executable? Personally I find arguments much easier to deal with.

[2018-07-03 13:10] sandro1985 commented on #234
I am having this issue as well on Windows 10 using python version 3.7.0

[2018-07-03 17:57] jernejaMislej commented on #234
python version needs to be 2.7

[2018-07-04 00:33] andrewharvey opened #253 "Interpolate Direction?"
### Basic information
* Release version: master
* System: `Linux`
* Capture Device: `Action Camera`

It's unclear to me what the tools do when the Image Direction isn't in the EXIF data. Does it automatically assign this like what `interpolate_direction.py` did? Is this only for images where it's missing? What happens when a direction already exists? Does it simply upload without a direction? Can

[2018-07-04 00:36] andrewharvey opened #254 "Remove Duplicates"
The old tools had a remove_duplicates.py script https://github.com/mapillary/mapillary_tools/tree/a73f65e684486f17ada7a7dd3138df55c696d7ed/python to remove duplicates while sitting at traffic lights? Is this supported in the new tools? Does it happen automatically? Is there an argument to toggle it?

[2018-07-04 00:52] andrewharvey commented on #253
I tested this it seems at least when the direction is missing it's being set from the gps tags. I still need to test out what happens if they already exist, then we should add some documentation to the README so it's clearer what's actually happening.

[2018-07-08 17:09] drkludge commented on #246
@jernejaMislej Based on your last comment, then the real issue is with the documentation.  I am using a Mapillary version that works on my phone.  I cannot help that.  The last time I looked the documentation fails to show me how to upload Mapillary generated sequences.  The reason that a mapper would want to use the tools for this purpose is that the process takes forever and ties up your phone.

[2018-07-08 20:46] jernejaMislej commented on #254
yes , `--advanced --flag_duplicates`
to see more info and additional related parameters, check `process --help --advanced`

[2018-07-08 20:46] #254 closed

[2018-07-08 20:48] jernejaMislej commented on #253
yes, if it is missing it is interpolated automatically, if it exists it is interpolated only in case flag is set, `--advanced --interpolate_directions`
we are working on improving the readme, to be more clearer on this, you are welcome to contribute

[2018-07-08 20:50] jernejaMislej commented on #252
I will consider adding those as arguments to the script in one of the next releases, I think it would be user friendly

[2018-07-08 20:56] jernejaMislej commented on #251
hi, yes we will work on improving the processing time, it is not using threading as upload directly, so we likely start with that. Any suggestions are welcome

[2018-07-08 20:58] jernejaMislej commented on #250
hi, thank you for this, I will have a look and get back to you.

[2018-07-08 21:03] jernejaMislej commented on #246
hi, yes we are aware that currently not enough information is printed out, we are working to improve this in the next release and also improve the documentation.

[2018-07-08 21:16] jernejaMislej commented on #243
@bob3bob3 what exactly did you do so far? it is not completely clear to me, if I understand correctly you uploaded part of a large import using the old tools, but find missing images on the map, where according to your local logs, they should be uploaded?
if so , please let us know your Mapillary username and if possible date/time when the images were supposed to be uploaded(the creation date/time

[2018-07-08 21:21] jernejaMislej commented on #234
@sandro1985  @rwelty1889  @rTeamWork I checked the compatibility of a newer version of `exifread` and all is ok, so the version of this dependency will be upgraded in the next release.
Hopefully this will resolve the issues, if not please report here. Note that you still need to use Python 2.7

[2018-07-08 22:40] bob3bob3 commented on #243
Yes that is correct. There are perhaps 20-40 track gaps that are visible on the web interface. The old tools broke the upload into 289 sub directories. The PROCESSING_LOG.json is dated 2018-05-29 23:51 (Australian Eastern Time UTC-10) which would represent the start of the job. The UPLOAD_LOG.txt file is dated 2018-05-31 22:02 which would represent the end of the job. The upload process did fail a

[2018-07-09 00:07] andrewharvey commented on #252
Thanks. By the way I did notice that my upload speed significantly increased when I set NUMBER_THREADS above the default, so perhaps it's a good idea to increase the default?

I was going to say maybe because of the high ping times between me and `s3-eu-west-1.amazonaws.com` (300ms) but then I realised you're using cloudfront as the upload URL which is only 13ms, so not sure why.

[2018-07-09 00:09] andrewharvey commented on #251
The `mapillary_image_description` stage takes maybe 10 times the time as the other stages, I'll try to run some benchmarking...

[2018-07-09 00:11] andrewharvey commented on #254
Thanks! I'll try to put together a PR which improves the README in this regard.

[2018-07-12 03:05] andrewharvey commented on #253
Thanks @jernejaMislej but I'm not sure it's working correctly on 360 images, see https://www.mapillary.com/map/im/SUg5-mSB0J-489E9dvUIyw the direction seems to be fixed at north.

[2018-07-13 22:28] pasqal opened #256 "Error, image EXIF could not be written back"
hi,
I try mapillary tools for the first time this evening.
But I don't know why the "exif could not be written back". I'm on linuxmint and I follow all user guide, I try user mode and root mode.
![mapillary tools errors](https://user-images.githubusercontent.com/41213762/42716587-85fcc306-86fc-11e8-92ac-66212c10c28b.png)
Thx for your help

[2018-07-15 09:58] jernejaMislej commented on #256
hi, thanks for reporting this, can you please send a sample of the images to jerneja@mapillary.com

[2018-07-15 10:02] jernejaMislej commented on #253
hi, thanks for reporting, the direction derivation depends on lat, lon and should not be affected by the fact that images are 360 images. Was the direction missing or was it present and you had to specify `--advanced interpolate_directions`? can you send me a sample of images at jerneja@mapillary.com and note briefly what other processing was needed if any

[2018-07-15 10:09] jernejaMislej commented on #251
yes, we are noticing the same, it is due to writing  data into the image,  so we are considering ways to improve or omit that completely, you are welcome to contribute

[2018-07-15 10:11] jernejaMislej commented on #246
hi please install the latest release, v0.1.0
I have modified the amount of information printed out by default, hopefully it will provide enough insight into the state of the import in case of failure.

[2018-07-15 10:17] jernejaMislej commented on #243
@ybkuang @peterneubauer can you please check if we can find any information regarding the failed uploads for the user and date provided in the last comment. The upload was done using the old tools and all files were moved to the `success` folder, so it is not clear locally why the images do not appear uploaded.

[2018-07-15 10:18] jernejaMislej commented on #238
hi please install the latest release v0.1.0 and open a new issue in case problems persist

[2018-07-15 10:18] #238 closed

[2018-07-15 10:19] jernejaMislej commented on #236
hi please install the latest release v0.1.0 and open an issue if any problems

[2018-07-15 10:19] #236 closed

[2018-07-15 10:20] jernejaMislej commented on #234
hi please try to install the latest release v0.1.0 and let us know if there are still issues with instalment

[2018-07-16 06:57] breunigs opened #257 ""global name 'processing' is not defined" from the "keep original files" feature"
### Basic information
* Release version: `0.1.0`
* System: `Linux`
* Capture Device: `Action Camera`

### Steps to reproduce behavior

 1. `mapillary_tools process_and_upload --import_path "photos"`
(note that this doesn't even use the keep original files flag)

### Actual behavior

[code]

And if you comment out the broken lines in `exif_aux.py` you'll get this for every image:

[code]

And if yo

[2018-07-16 07:10] jernejaMislej commented on #257
hi i m sorry for this, i fixed it now, should be ok

[2018-07-16 07:10] #257 closed

[2018-07-16 14:08] rwelty1889 commented on #234
will try it later today. thanks.

[2018-07-16 15:48] CorentinLemaitre opened #258 "Upload Error : upload_file() got multiple values for keyword argument 'url'"
### Basic information
* System: `Windows`
* Capture Device: `Gear 360 2016`

### Steps to reproduce behavior

 0. Opn the windows consol and go to the directory where the photos are stored.
 1. Process with this parameter : C:\python27\python.exe C:\python27\Scripts\mapillary_tools process --advanced --import_path "" --user_name c-mobilite --flag_duplicates --interpolate_directions
 2. Import with

[2018-07-17 00:19] ybkuang commented on #258
@jernejaMislej can you take a quick look at this?

[2018-07-17 09:05] jernejaMislej commented on #258
ofcoursy , all done, sorry about this @CorentinLemaitre cc @ybkuang
please install --upgrade mapillary_tools

[2018-07-17 09:05] #258 closed

[2018-07-17 10:23] Kaldea opened #260 "Angle of direction in drone pictures"
https://github.com/mapillary/mapillary_issues/issues/2900

[2018-07-18 03:55] andrewharvey opened #261 "--rerun not being recognised"
I'm trying to rerun the processing but even with the `--rerun` argument it's not being re-processed...

[code]

[2018-07-18 04:14] andrewharvey commented on #261
I managed to workaround this by removing `.mapillary`

[2018-07-18 12:55] nicola-d opened #262 "Uploaded 1600+ images but still 0 pending nor published"
Hi,

This morning I finished uploading more than 1600 images with the script but in my profile there are no new pending images and nothing is published. I'm not using the --manual_done switch so there should be no issues with the DONE file. My username is nicolad.

Thank you,

Nicola

### Basic information
* Release version: `0.1.0`
* System:  `Linux (Raspbian)`
* Capture Device:  `Action Camera`

[2018-07-18 13:04] ybkuang commented on #262
@nicola-d which script did you use and when did you upload? We had some issue with the harvester (the component of putting the uploaded images into processing) which is catching up. It could be related, but will be good to have more information.

[2018-07-18 13:08] nicola-d commented on #262
I used "mapillary_tools upload --import_path ..." version 0.1.0. I started uploading images yesterday 17 July at around 15 CEST.

[2018-07-18 14:08] Stefal opened #263 "wrong bearing on thight curves"
### Basic information
* Release version: `0.1.0`
* System: `Windows`
* Capture Device: `Action Camera`

### Steps to reproduce behavior

 1. Add bearing to the pictures with some tight curves

### Expected behavior
The bearing should follow the curve

### Actual behavior
There is too much bearing as you can see on the screenshot:
![wrong_bearing](https://user-images.githubusercontent.com/8255984/4

[2018-07-18 16:02] peterneubauer commented on #243
So, the upload tools are putting the images into an AWS S3 bucket, and they wait there until our harvesters can ingest them, at which point you see them in the pending images etc. These last days, that harvester has been overloaded, so the images were sitting unusually long in S3. We are working to make this scale better, but the images should be coming through now?

[2018-07-18 19:07] rwelty1889 commented on #234
resolved my own issue. in cases where multiple versions of python are installed, you use

pip-2.7 install mybarpackage

(for example) to force use of python 2.7

[2018-07-19 03:35] bob3bob3 commented on #243
To complicate things I have uploaded 400-500K of images in the last week using the new tools, which are appearing okay. The gaps or missing (using the old tools) from late May though are still absent.

[2018-07-19 10:32] nicola-d commented on #262
So, it is just a matter of time? Can I keep uploading images? Can the already uploaded images be deleted? This is because I'm running out of disk space and my connection is not fast.

[2018-07-19 10:50] ybkuang commented on #262
@nicola-d The system is catching up. Can you check if you uploads are in now?

[2018-07-19 10:57] nicola-d commented on #262
No, still no pending images (and nothing published)

[2018-07-19 11:37] ybkuang commented on #262
@nicola-d We have now identified the issue. We are working on a fix now.

[2018-07-19 15:30] ybkuang commented on #234
@rwelty1889 to authenticate, you can use the credential for you Mapillary user account.

[2018-07-19 17:44] nicola-d commented on #262
Looks like that most of my images are published and a few are pending but not lost! I'll try with another bunch of images as a test...

[2018-07-19 19:14] rwelty1889 commented on #234
i tried those credentials. they were rejected.

the question still remains, what does failure to authenticate mean when running mapillary_tools process? i don't know if it succeeded or failed, or partially succeeded.

[2018-07-19 20:20] Stefal commented on #262
I have the same problem. I uploaded a few sequences with the python script (v0.1.0) since 2 days and nothing is online. The first sequence uuid is: "b3e2d49c-4a7a-4c07-9c1b-315237afb839"

[2018-07-19 20:54] rwelty1889 commented on #234
to be very clear: if "mapillary_tools process" fails to authenticate, it continues to run while producing many, many error messages. i do not understand the state of my data, and i will not run this process again without clarification of this point.

[2018-07-20 01:21] #199 closed

[2018-07-20 01:23] ybkuang opened #264 "No hander found for exifread"
https://github.com/mapillary/mapillary_issues/issues/2749

This is an issue with the logging setting of exifread, which can be resolved by adding default lagging setting on our side.

The real issue would be related to user dependent after seeing the actual warning when logging is enabled properly.

[2018-07-20 06:36] Stefal commented on #262
The image processing is on its way since a few hours

[2018-07-20 13:22] nicola-d commented on #262
Same problem again, a thousand images in a unknown status...

[2018-07-20 13:35] ybkuang commented on #262
@nicola-d @Stefal Can you try using the latest version v0.1.2 for your future uploads? I will fix the old uploads now.

[2018-07-20 14:24] Stefal commented on #262
I'm uploading a sequence right now (622 images left). I'll update to v0.1.2 for the next one

[2018-07-21 13:29] nicola-d opened #265 "Distance mapped not increasing"
Hi,

it is quite some time that my "Distance mapped" counter is not increasing but I have uploaded a lot of images using the Python script.

When I was uploading using the Android app the "Distance mapped" was updating every time new images were published.

My username is nicolad.

Thank you and regards,

Nicola

### Basic information
* Release version: `0.1.2`
* System: `Linux`
* Capture Device:

[2018-07-21 19:33] nicola-d commented on #262
Look like it is also needed to remove the ~/.config/mapillary/config file and re-enter the credentials with the new v0.1.2 to make it work.

From now on the images are listed as "pending" as soon as they are uploaded. So far so good then!

[2018-07-22 12:09] nicola-d commented on #262
The old uploads (20 July) do not show up in the map even if they are marked as "published"...

The new version v0.1.2 is working good, thank you!

[2018-07-23 10:14] nicola-d commented on #262
Seems like the issue is happening again with v0.1.2. Pending images counter not increasing.

[2018-07-23 10:52] ybkuang commented on #262
@nicola-d I can see some sequences with 150 images each. How many images were you uploading in the folder?

[2018-07-23 10:55] nicola-d commented on #262
I was uploading 1635 images, but because there were no "pending" I restarted the upload again (deleted all .mapillary folders).

[2018-07-23 17:36] rwelty1889 commented on #262
i'm having a seemingly similar problem using a relatively new version of mapillary_tools. the first images i uploaded from my backlog were published, but now uploads appear to be running but nothing is pending or published. this is a lot of images, i hope i don't need to start this over.